[2021-04-30 09:12] jul6art opened #1135 "What about upgrading to doctrine/inflector v2.X ?"

[2021-05-04 09:25] bsteelekuk opened #1136 "ElasticStack Kibana"
### Summary of problem or feature request

### Code snippet of problem

### System details

- Operating System - CentOS 7/RedHat Ent ?
- PHP Version 7.3.27
- ES-PHP client version - Latest
- Elasticsearch version - Latest

[2021-05-13 14:16] ezimuel commented on #1127
@jetdky first of all, apologies for the delayed response.
It seems the error is in the `question_id` terms.You are using a `$id_list` array here, do you know the size of this array?  Elasticsearch has a limit of [65,536 terms](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-terms-query.html#:~:text=By%20default%2C%20Elasticsearch%20limits%20the,use%20the%20terms%20lookup%

[2021-05-13 15:00] ezimuel commented on #1130
@feng99 sorry for the late reply. The code that you pasted seems correct, are you sure that `$client` is a valid instance of `Elasticsearch\Client`? I tried the following code with `Elasticsearch 6.8.0` and `elasticsearch-php 6.8.0` and everything works fine:
[code]

The output is:
[code]

[2021-05-14 15:35] ezimuel commented on #1131
Using the new code generator there were some naming issue. This happened because in the past the API endpoints has been created manually. I'll try to fix this issue with a new patch release `6.8.2` soon. I'm sorry for the inconvenient.

[2021-05-14 15:41] kbond commented on #1131
No worries whatsoever! 🙂

[2021-05-17 13:11] avfletch opened #1141 "Incorrect return typehint on IndicesNamespace::get v5.5.0"
### Summary of problem or feature request

PHPStan (and presumably Psalm) detects incorrect return type for IndicesNamespace::get.

Please note, it's a docblock comment not a return typehint so I imagine this is low priority.

This is caused by -

[code]

This should be `@return array` the same as all the other methods except for exists.

I've checked the v5.x branch and it's correct on there so s

[2021-05-18 09:19] deguif commented on #1131
Thanks @ezimuel
I will wait for 6.8.2 and relaunch tests on the 6.x version of ruflin/elastica

[2021-05-18 13:07] fghamsary commented on #1083
We are still using v6.7.2 because of compatibility issue in our application, but this version is not compatible with PHP 8.
I'm doing some tests and I'll create a PullRequest as soon as I've corrected the couple problems which are in the code.
I've already forked and started the work, if anybody else is interested:
https://github.com/fghamsary/elasticsearch-php

[2021-05-19 15:09] ezimuel commented on #1135
@jul6art we are not using anymore `doctrine/inflector`, I removed from composer (https://github.com/elastic/elasticsearch-php/commit/289c7ed2f2c5dcffa264a470ee191dc2f6fd7918). Moreover, I also removed `symfony/yaml` since we are using `ext-yaml`. Thanks for the notice!

[2021-05-19 15:09] #1135 closed

[2021-05-19 15:10] ezimuel commented on #1136
@bsteelekuk what's the issue here? Can you give me more information? Thanks.

[2021-05-19 15:13] ezimuel commented on #1141
@avfletch I'm sorry but we are not supporting anymore v5. We are supporting `7.x` and `6.8.x`.

[2021-05-19 15:13] #1141 closed

[2021-05-19 16:27] bsteelekuk commented on #1136
Hello,

Thanks for getting back to me. We are developing an application that uses ElasticStack for dashboarding and machine learning. You have a client for PHP that we are using to integrate with ElasticSearch. We are already creating indexes and injecting documents into those index etc..

However, we also want to be able to create index patterns in Kibana and create kibana/canvas workbooks and th

[2021-05-20 07:56] ezimuel commented on #1136
@bsteelekuk unfortunately, we don't have a PHP client for Kibana. Kibana itself offers a REST API which is ideal for creating an integration or automating certain aspects of configuration and deployment. You can read about the API [here](https://www.elastic.co/guide/en/kibana/master/api.html).
If you want to use the Kibana API from PHP, I suggest to use [elastic-transport-php](https://github.com/e

[2021-05-20 07:56] #1136 closed

[2021-05-20 09:56] bakurin opened #1145 "Search iterators are broken"
### Search iterators are broken

It seems that after #1044 `SearchResponseIterator` is broken: a deprecation error is thrown on an attempt to iterate the search result.

### Code snippet of problem

[code]

### System details

- Operating System: Alpine Linux
- PHP Version: 8.0
- ES-PHP client version: 7.12
- Elasticsearch version: 7.4

There is my PR #1134 with the suggested fix

[2021-05-20 14:15] timonf commented on #1131
@ezimuel When can we expect `6.8.2`?

[2021-05-21 06:46] bsteelekuk commented on #1136
Hi,

Given that you have developed the native PHP client for ElasticSearch to simplify the use of its APIs do you think your will do the same for Kibana in the future please?

Thanks,

Brian

________________________________
From: Enrico Zimuel ***@***.***>
Sent: 20 May 2021 08:56
To: elastic/elasticsearch-php
Cc: Brian Steele; Mention
Subject: Re: [elastic/elasticsearch-php] ElasticStack Kibana (

[2021-05-21 07:11] ezimuel commented on #1136
We would like to offer a PHP client for Kibana but this is not in our plan at the moment. I'll try to update this issue with any news in the future. Thanks.

[2021-05-21 07:53] bsteelekuk commented on #1136
OK thanks 😊

Brian Steele - Technical Development Lead

Tel:    01782 752369
Email:          ***@***.******@***.***>
Web:    www.kedronuk.com<http://www.kedronuk.com>

***@***.***<http://www.kedronuk.com>
[ISO 27001]<http://>  [ISO 9001] <http://>

***@***.***<https://ss-usa.s3.amazonaws.com/c/308479063/media/112036040ebf74bc0216650354871878/Secure%20Environments.pdf>

For Technical Support, pleas

[2021-05-27 08:00] feng99 commented on #1130
![image](https://user-images.githubusercontent.com/13182572/119788406-b1e0b480-bf04-11eb-9c55-b9fa22797eee.png)

[2021-05-27 08:01] feng99 commented on #1130
All other functions work, but this batch operation does not work

[2021-05-27 08:18] jetdky commented on #1127
It's ok, thank you for your reply very much! My error here may be the size of the array, I limit the array size now

[2021-05-27 08:18] #1127 closed

[2021-06-09 12:50] pmishev commented on #1113
What happened with this PR? It doesn't seem to be merged in 7.13.0?

[2021-06-14 13:45] arku31 commented on #1030
Hi,
this was actually caused by the custom handler.
This is the quite popular handler that is often used in projects (as is or just as an inspiration) - https://github.com/lukewaite/ringphp-guzzle-handler/blob/master/src/GuzzleHandler.php#L96

You may simply replace this null to the empty string and the error will be gone.

[2021-06-15 15:41] FxNion opened #1146 "client->indices()->stats fails with "No alive nodes in your cluster" exception"
### Summary of problem or feature request

The call to indices->stats(INDEX_NAME) throw an Exception "No alive nodes in your cluster"
The cluster is single node, and respond correctly to other client calls, through PHP client our curl

### Code snippet of problem

`$this->client->indices()->stats(['index'=>'es-index']);`

### System details

- Operating System : Debian buster / boot2docker
- PHP V

[2021-06-15 16:43] ezimuel commented on #1146
@FxNion can you post the PHP code that you are using to build the `$this->client` instance?
Can you also share the code that you mentioned working using other client?
Thanks.

[2021-06-15 18:15] ezimuel commented on #1113
@pmishev I didn't cherry-pick this to `7.13` branch, sorry for that. I'm going to provide a patch release `7.13.1` including #1126.

[2021-06-15 18:43] ezimuel commented on #1113
@pmishev just released `elasticsearch-php` [7.13.1](https://github.com/elastic/elasticsearch-php/releases/tag/v7.13.1) including #1126.

[2021-06-16 08:31] FxNion commented on #1146
@ezimuel, here the whole things i found to help:

The docker-compose part (who knows):
[code]

The php code used to create the client (truncated):

[code]
And when the stat portion of code fails, i do search queries in my apps, using the same classes, but also just doing a query to the catalog endpoint to check wether nodes are really dead (they are alive):

`docker exec -it elasticsearch-7 curl h

[2021-06-27 04:13] miculgigant opened #1149 "Namespace [putPolicy] not found"
### Summary of problem or feature request

I'm trying to create a new enrich policy by using `putPolicy` and I get this error:

Namespace [putPolicy] not found

### Code snippet of problem

[code]

### System details

- Operating System: Windows
- PHP Version: 7.4.3
- ES-PHP client version 7.6 ? ( not sure how to find the version )
- Elasticsearch version: 7.13.1

[2021-06-27 21:34] #1149 closed

[2021-06-28 13:32] ezimuel commented on #1146
@FxNion I didn't find the issue on your code. I suggest to enable the logging with DEBUG level to investigate more.
You can enable the logging installing [monolog](https://github.com/Seldaek/monolog) (`composer require monolog/monolog`) and using the following code:
[code]
Then you can find the log in the `elasticserach-php.log` file. Please, share the log file so I can help you.

[2021-06-28 14:31] ezimuel commented on #1145
@bakurin thanks for opening this issue and for the PR #1134. I just reviewed it.

[2021-06-29 10:54] ezimuel commented on #1145
Merged in #1134

[2021-06-29 10:54] #1145 closed

[2021-06-30 08:43] alexfpoole commented on #408
ha, just lost a day on this, glad to find this thread eventually!

[2021-07-04 17:14] MerwaneHAMADI commented on #686
For people browsing :
This is how you would render this search template :
$response = $client->searchTemplate([
          'body' => [
                'id' => 'foo',
                'params' => [
                    'f1' => 'random value',
                ]
            ],
 ]);
print_r($response);

It took me some time to find it.

[2021-07-06 13:14] ezimuel commented on #1131
@kbond, @deguif can you review the PR https://github.com/elastic/elasticsearch-php/pull/1151 ? Thanks!

[2021-07-11 20:51] Hmastery opened #1152 "Multiple Must within Should clause does not work"
### Summary of problem or feature request

I would like to achieve the following query with ElasticSearch :
product_shipper = $shipper AND ((product_type = product and price>0) OR (product_type = product_variation and price=0))

### Code snippet of problem

So here is my query:

[code]

The issue is that the second bool/must overwrite the first one and the first one is ignored, if I revert there o

[2021-07-13 22:21] Unifex commented on #1152
Are you sure you have formed your query right?  Your 2 "bool" keys are at the same level so the last one will alway 'win'.
[code]

[2021-07-13 22:28] Hmastery commented on #1152
I am not, but I posted this example on both stackoverflow, elasticsearch
forum and this github and you're the first to mention that there might be
an issue in its form.
The documentation is pretty bad when it comes to not straightforward
things, could you give me a hand so that I close this ticket ?

Thanks !!

On Wed, Jul 14, 2021 at 12:21 AM Gold ***@***.***> wrote:

[2021-07-14 01:45] Unifex commented on #1152
I've been struggling with this too. :/ Don't get me started on mapping.  I can rant for ages on that... ;)

This is the edit above in the context of your query.
[code]

[2021-07-14 08:37] Hmastery commented on #1152
@Unifex Thank you very much man... Damn, they should put more complex examples like this one. An issue in one bracket and there is no error sent back, just weird search results.

Testing queries is a hell of a job ^^.

You rock!

[2021-07-14 08:37] #1152 closed

[2021-07-14 14:45] ezimuel commented on #1131
Just released [v6.8.2](https://github.com/elastic/elasticsearch-php/releases/tag/v6.8.2) including #1151 fix.

[2021-07-14 14:45] #1131 closed

[2021-07-15 07:56] mikkorantalainen commented on #620
See fixed escape function at https://stackoverflow.com/a/68389722/334451

[2021-07-16 22:02] kfoubert opened #1153 "PHP 7.3.29 introduced breaking change to FILTER_VALIDATE_URL"
### Summary of problem or feature request

This is more informative than a bugfix in case other people encounter the same issue. We're using elasticsearch-PHP version 6.5 and PHP 7.3.29 which was released on July 1st, 2021. That version changed how FILTER_VALIDATE_URL works, breaking the code for prependMissing() for a URL that is using basic authentication.

[Version 7.3.29 Changelog](https://www

[2021-08-02 22:48] mohamedhafezqo commented on #177
`$params = ['body' => []];

for ($i = 1; $i <= 1234567; $i++) {
    $params['body'][] = [
        'index' => [
            '_index' => 'my_index',
            '_id'    => $i
        ]
    ];

    $params['body'][] = [
        'my_field'     => 'my_value',
        'second_field' => 'some more values'
    ];

    // Every 1000 documents stop and send the bulk request
    if ($i % 1000 == 0) {

[2021-08-02 22:49] mohamedhafezqo commented on #177
$params = ['body' => []];

for ($i = 1; $i <= 1234567; $i++) {
    $params['body'][] = [
        'index' => [
            '_index' => 'my_index',
            '_id'    => $i
        ]
    ];

    $params['body'][] = [
        'my_field'     => 'my_value',
        'second_field' => 'some more values'
    ];

    // Every 1000 documents stop and send the bulk request
    if ($i % 1000 == 0) {

[2021-08-02 22:49] mohamedhafezqo commented on #177
[code]

[2021-08-05 14:26] mfn commented on #1152
This is one of the reasons I'm using https://github.com/ruflin/Elastica -> not necessary for _accessing_ ES but I use it's builder capabilities, which can prevent the stupid errors I would otherwise also create more often 😄

[2021-08-09 12:41] valehasadli commented on #1094
Is anyone found a solution?

[2021-08-13 09:45] ezimuel opened #1156 "6.8.3 release backport"
This is a meta ticket to collect all the PRs that we would like to backport in `6.8.3`:

- [ ] Fix #1074 allowing multiple function parameters in fromConfig (see https://github.com/elastic/elasticsearch-php/pull/1076)
- [ ] 401 - Unauthorized Code Exception Handling (see https://github.com/elastic/elasticsearch-php/issues/1097)
- [ ] Remove unnecessary InvalidArgumentExceptions (see https://github

[2021-08-19 08:42] mikkorantalainen commented on #620
Note that **Elasticsearch has two different query escape formats**:
- "Simple query string" syntax: https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html#simple-query-string-syntax
- "Query string" syntax: https://www.elastic.co/guide/en/elasticsearch/reference/5.5/query-dsl-query-string-query.html#_reserved_characters

[2021-08-19 08:45] mikkorantalainen commented on #620
I think "query string" should be encoded like this:
[code]

but "simple query string" should be encoded like this:
[code]

[2021-08-19 10:24] ezimuel commented on #1037
This issue is not valid anymore since we changed the YAML test runner. Now, we are generating the PHPUnit classes (see https://github.com/elastic/elasticsearch-php/commit/e28050e8bfbf8b5aca007caacfda3eb8cb4e743a ), instead of having a single YAML runner test.

[2021-08-19 10:24] #1037 closed

[2021-08-19 15:55] damianoi commented on #1146
@ezimuel I'm experiencing the same issue reported by @FxNion.
Unfortunately I don't know if he finally solved it or not, by the way, I'm attaching you the `elasticsearch-php.log` file.
[elasticsearch-php.log](https://github.com/elastic/elasticsearch-php/files/7015875/elasticsearch-php.log)

And this is the class that is managing the call to my local Elasticsearch instance:
`<?php

use Elasticsearc

[2021-08-19 16:02] damianoi commented on #1094
@valehasadli @ezimuel
I'm experienced the same issue using `cviebrock/laravel-elasticsearch` and then I switched to "pure" `elasticsearch/elasticsearch` (7.14), but the issue is still there.

You can find my comment about this here:
[https://github.com/elastic/elasticsearch-php/issues/1146#issuecomment-902030924](url)

[2021-08-20 09:00] valehasadli commented on #1094
`setHosts` method should use with this array

[code]

[2021-08-20 09:03] valehasadli commented on #1094
The low-level client has the same problem, the code I mentioned above fixed my problem.

[2021-08-20 09:40] damianoi commented on #1094
Hi @valehasadli thank you for your help. Btw  I tried the way you shown me, unfortunately without any success.

This is the way I modified the code after your comment:
[code]
But what I obtained was a 500 error:
[code]

And the log file reports:
[code]

Maybe I'm doing something wrong?

[2021-08-20 15:13] valehasadli commented on #1094
client by default use `9200` port. Are you make sure that your elastic client is up? Have you ever test with cURl requests?

[2021-08-20 15:56] damianoi commented on #1146
**Update:**
I'm having two different docker containers: one for elasticsearch instance and the other for laravel instance.
Obviously the two containers were not "talking" each other.
I solved creating a network between these different container and using the local IP (172. ...) assigned to the elasticsearch one into the laravel instance.
Now it works perfectly.

[2021-08-20 15:57] damianoi commented on #1094
@valehasadli I really appreciate your help and finally I solved! You can find details below. :)

**Update:**
I'm having two different docker containers: one for elasticsearch instance and the other for laravel instance.
Obviously the two containers were not "talking" each other.
I solved creating a network between these different container and using the local IP (172. ...) assigned to the elastics

[2021-08-21 05:57] valehasadli commented on #1094
Sounds good! Before investigation I every time check my environment. In most cases, problems are related to the environment.

[2021-08-31 10:12] piotranon opened #1160 "Invalid url generated with request additional `/`"
### Summary of problem or feature request

Client is calling a request to URL : `localhost:9200//prod_9/_search`,
and should be calling a request to URL : `localhost:9200/prod_9/_search`
the additional slash is added after a connection URL, or before the created URL,
and searching for product without index is working fine but with index the additional `/` is generating an error so elasticsearch is

[2021-08-31 20:42] joshua-bn commented on #1028
Can you add the tasks to the project https://github.com/elastic/elasticsearch-php/projects/2 ?

Then, what can we do to move this along? Every time I look at NewRelic and see GuzzleHttp\Ring it makes me sigh.

[2021-09-01 13:19] ezimuel commented on #1160
@piotranon I just noticed that you are using v6.8.2 of `elasticsearch-php` with Elasticsearch 7.11.2. You should use `elasticsearch-php` v7.11 or above. Can you update the library and let us know? Thanks.

[2021-09-01 19:51] piotranon commented on #1160
save problem with newer version

[2021-09-01 20:38] piotranon commented on #1160
So i figured out that i had problem with url passed to host in client builder it had `/` at the end.
to close

[2021-09-01 20:38] #1160 closed

[2021-09-06 11:20] petericebear opened #1161 "Concurrent requests"
### Summary of problem or feature request

Is it possible to fire searches in a concurrent way?
With Guzzle you can make a connection pool which will handle the requests in a concurrent way.

This is also being used in the Laravel Framework described here:
https://laravel.com/docs/8.x/http-client#concurrent-requests

And example with Guzzle Pool:
https://gist.github.com/wzed/d9273719e54e78da4a6a63

[2021-09-06 11:48] ezimuel commented on #1161
@petericebear yes, we support future (async) request: https://www.elastic.co/guide/en/elasticsearch/client/php-api/current/future_mode.html.
You can basically execute all the HTTP calls and store it in an array of futures. The HTTP call will be executed without blocking the code. When you will read the responses or use the `wait()` function you will force the response (blocking the code). Here an

[2021-09-10 10:48] wronaBartosz opened #1162 "SmartSerializer - error when using gzip"
### Summary of problem or feature request

After adding 'Accept-Encoding' => ['gzip, deflate'], to client headers there are problems with response decoding. SmartSerializer can't handle gziped response

### Code snippet of problem
[code]

[2021-09-15 10:07] emanueljacob opened #1164 "Allow symfony/finder in version ~5.0 in composer requirements"
### Summary of problem or feature request
Its currently not possible to use packages that require  symfony/finder in version >= 5.0.

I can not find any reason in your repository not to allow symfon/finder in version ~5.0, so I suggest to allow the version 5 in composer.json

### Code snippet of problem

something like this (note this is JUST an example, also note that this is output from composer

[2021-09-15 10:31] pwjbj opened #1165 "support Aggregations?"
![image](https://user-images.githubusercontent.com/20853718/133417673-cc61e080-e726-4a1f-a1f0-7356c828de1c.png)
![image](https://user-images.githubusercontent.com/20853718/133417813-3e4e9c6a-d632-4000-9943-ab0372baa453.png)

[2021-09-15 10:32] pwjbj commented on #1165
in php cannot  work

[2021-09-20 11:30] #1161 closed

[2021-09-20 11:35] ezimuel commented on #1162
@wronaBartosz can you provide a code example to reproduce the error? Moreover, which version of PHP, Elasticsearch and `elasticsearch-php` are you using? Thanks!

[2021-09-20 11:41] ezimuel commented on #1165
We support aggregation as reported in your json example. You need to pass the `terms` as associative array `[ 'field' => 'name']` and not as regular array. The full example is as follows:
[code]

[2021-09-22 07:32] alevani commented on #750
In case my "solution" my help out someone:
I had the same errors because I forgot to register the provider in `app.php`.

[2021-09-22 09:19] jihadadulrazaqjasim commented on #630
I have a question regarding this, there might be multiple matches while I am searching multiple indices, how to get the index names that the search matches with its field.

E.g. I have 3 different schools (3 indices), each has some students inside (each student is a document), I have a field called "student name" in each document and I want to search for the student names in all documents, if I fo

[2021-09-22 09:31] jihadadulrazaqjasim commented on #1009
Dears,
I want to do something like below link:
https://www.youtube.com/watch?v=ZDCBXX4S7uQ

explanation:

I want to search against multiple indices same like above using query strings, but I also want the index names that it's field matched with the searched text, and then I want to highlight matched text inside each index (document of index),

please your support, it's very important for me, than

[2021-09-22 18:48] #1146 closed

[2021-09-22 18:54] #1130 closed

[2021-09-22 19:20] ezimuel commented on #1106
@joshua-bn I'm so sorry for the delay of my answer. If you want to know more about the ping result you can read the lastConnection from the client transport, as follows:
[code]
We are working on the next 8.x version of the client and we will use the [elastic/transport](https://github.com/elastic/elastic-transport-php) library that is PSR-7 and PSR-18 compliant. This means, you will be able to intr

[2021-09-30 12:01] dkarlovi commented on #1123
Something like

[code]

[2021-10-01 07:40] pchauhan-parkstreet opened #1168 "Elasticsearch search on more than one index with different field"
I need help to search in more than one index of the same cluster with different fields. For example: If I have a cluster name **demo** in which I have 2 indexes **menu_items** and **purchase_orders**. Both indexes contain different columns to search. Index menu_items contains the 'label' field and index purchase_orders contains 'id' and 'supplier_reference' fields as provided in the below code.

[

[2021-10-04 13:57] pchauhan-parkstreet commented on #1168
I face an issue as described below and as a solution what I found here is, we need to do the proper mapping.

Related to mapping, Elasticsearch has the built in ability to detect the type of the fields of a document and generate a schema and apply it throughout the index. But this causes an error while two indexes have different data types for the same field. ex: if index1 has id field with long d

[2021-10-04 13:57] #1168 closed

[2021-10-05 08:31] DanielFrancois commented on #1053
Hi just adding this for people reaching this thread as I did:
`// example of get endpoint
$params = [
    'index' => 'test',
    'id'    => 1,
    'client' => [
        'headers' => [
            'Foo' => ['Bar'] // header name => value
        ]
    ]
];
$response = $client->get($params);`

Header value(s) must be an array to work: https://github.com/guzzle/RingPHP/blob/5e2a174052995663dd68e6b5ad

[2021-10-15 03:29] vst93 opened #1171 "Error encoded data query decoding problem"
### Summary of problem or feature request

Similar to this data `ud83d\ude4f`, the interception of the error before being stored, only the `\UD83D` section, but PHP's JSON_Decode cannot correctly resolve this data, which will cause Search to throw a fatal error, this You can only give up all data (there may be a lot of queries at a time), or you can only report the error.
But I need a batch export

[2021-10-15 03:29] vst93 opened #1172 "Error encoded data query decoding problem"
### Summary of problem or feature request

Similar to this data `ud83d\ude4f`, the interception of the error before being stored, only the `\UD83D` section, but PHP's JSON_Decode cannot correctly resolve this data, which will cause Search to throw a fatal error, this You can only give up all data (there may be a lot of queries at a time), or you can only report the error.
But I need a batch export

[2021-10-15 03:53] #1172 closed

[2021-10-26 14:39] realtebo opened #1174 "SSL Certificate problem"
### Summary of problem or feature request

I got an error of this type

"error" => GuzzleHttp\Ring\Exception\RingException {#1909 ▼
    #message: "cURL error 60: SSL certificate problem: self signed certificate in certificate chain"
    #code: 0
    #file: "C:\laragon\www\mk-frontend\vendor\ezimuel\ringphp\src\Client\CurlFactory.php"

### Code snippet of problem

We are using your package through

[2021-11-22 08:53] ezimuel commented on #1174
@realtebo you can disable the SSL verification form the client build using the `setSSLVerification(false)` function, as follows:
[code]
Of course, this is not the recommended settings. I suggest to have a look at the [SSL configuration](https://www.elastic.co/guide/en/elasticsearch/client/php-api/master/connceting.html#ssl-encryption) section of the manual.

[2021-11-23 10:23] huanes opened #1176 "includePortInHostHeader not usable via fromConfig"
### Summary of problem or feature request

The `ClientBuilder` `includePortInHostHeader()` method is not accessible when using `fromConfig()` as only `set`-prefixed methods are applicable in `fromConfig`.

As I am using a wrapper package for Laravel Scout that uses the `fromConfig` method, I can't initiate the Client myself so it's a bit of an issue.

[2021-11-23 14:06] ezimuel commented on #1171
@vst93 thanks for reporting the issue and a proposal for the fix. If I understood right, you have a UTF-16 data that is returned by Elasticsearch, something like `ud83d\ude4f` and the `json_decode()` of PHP is failing because we have an escape character that should not be interpreted. I think this is related with https://bugs.php.net/bug.php?id=62010.
The solution that you proposed it sounds good.

[2021-11-23 21:36] ezimuel commented on #1171
@vst93 I just sent the PR https://github.com/elastic/elasticsearch-php/pull/1179 for fixing this issue. Can you check and let me know if this works for you? Thanks!

[2021-11-24 21:38] realtebo commented on #1174
I suppose it was a config problem on the remote server of hosted elastic search instance. We reenabled ssl verification 2 days ago and all works. I still cannot understand why only this library was complaining about the self signed certificate; postman, curl, browser, and other tools (either web) do not see aything of wrong in the certificate.
I close.

[2021-11-24 21:38] #1174 closed

[2021-11-30 10:13] wotta commented on #1043
Since this ticket has been open for quite some time I hope somebody does actually has found out a way how to do this.

Would be much appreciated to learn how to properly handle multiple responses.

[2021-12-03 10:43] technige opened #1180 "Switch to MIT license for 8.0 release"
This issue signals our intention to switch to [MIT](https://opensource.org/licenses/MIT) licensing for the official Elasticsearch client for PHP, as of its 8.0 release.

The project is currently dual licensed under both [Apache 2.0](https://opensource.org/licenses/Apache-2.0) and [LGPL 2.1](https://opensource.org/licenses/LGPL-2.1). This dual-licensing situation was introduced in 2014 to achieve l

[2021-12-06 13:48] ezimuel commented on #1171
Merged with #1179

[2021-12-06 13:48] #1171 closed

[2021-12-06 14:31] ezimuel commented on #1176
@huanes I sent a new PR ( #1181 ) for fixing the issue.

[2021-12-07 11:10] ezimuel commented on #1176
Fixed in #1181

[2021-12-07 11:10] #1176 closed

[2021-12-07 15:57] mohammed-adil-moughal opened #1182 "Strpos on null, need better graceful handling in the event the $responseBody is null"
https://github.com/elastic/elasticsearch-php/blob/3df6517a32d5521f094a14a3d908b920799a597a/src/Elasticsearch/Connections/Connection.php#L719

[2021-12-08 04:22] vst93 commented on #1171
Thank you very much. My test can be used

[2021-12-10 08:46] #1162 closed

[2021-12-13 21:25] Atomzwieback opened #1183 "Docs not up2date? Trying to append an object to a nested array."
### Summary of problem or feature request

Current PHP Docs seems not be up2date?

### Code snippet of problem

This example as you show it in the docs dont work?
[code]

The error i got is:  "[UpdateRequest] unknown field [params]"

### System details

- Operating System
MacOs

- PHP Version
8.0

- ES-PHP client version
7.16

- Elasticsearch version
Cloud 7.16.1

[2021-12-20 21:31] RobertEcker opened #1186 "AbstractLogger must be compatible error"
### Summary of problem or feature request

`Fatal error: Declaration of Psr\Log\AbstractLogger::emergency(Stringable|string $message, array $context = []) must be compatible with Psr\Log\LoggerInterface::emergency($message, array $context = []) in C:\wamp\www\vendor\elasticsearch\elasticsearch-php\vendor\psr\log\src\LoggerTrait.php on line 23`

I removed string|\Stringable in LoggerTrait.php and N

[2021-12-23 16:56] nicolasvahidzein opened #1188 "Serialization error in Laravel "Serialization of 'Closure' is not allowed""
Hello

I am having an error in Laravel where i get this error:

[code]

Here is my Searchable class:
[code]

This is the Oberserver called in the trait:
[code]

And here is the class called on saved:
[code]

Here is the full error stack:
[code]

[2022-01-20 09:41] ezimuel commented on #1188
The message error `Serialization of 'Closure' is not allowed` is generated because somewhere in your code you are serializing an anonymous function. I found many reference of this error in stackoverflow for Laravel (e.g. [here](https://stackoverflow.com/questions/46004840/exception-serialization-of-closure-is-not-allowed-in-queue-php-line-127)).
I didn't found any evidence of a class related to `e

[2022-01-20 09:41] #1188 closed

[2022-01-20 10:27] technige commented on #1182
@mohammed-adil-moughal Have you seen a null $responseBody in the wild, or is this a hypothetical problem? If so, could you provide details of the code which generates such a failure, so that we can test and reproduce? Thanks.

[2022-01-20 10:33] mohammed-adil-moughal commented on #1182
Hey @technige yeah i encountered it sometime when had some failures on aws hope this helps
[code]

[2022-01-20 13:08] ezimuel commented on #1186
@RobertEcker this sounds like a composer dependency issue with [psr/log](https://github.com/php-fig/log) PSR-3 interface standard. Did you try to execute `composer update` on your project? Let me know if this will solve the issue, thanks.

[2022-01-20 16:27] sunchuo commented on #1186
Problem 1
    - Root composer.json requires elasticsearch/elasticsearch ^7.16 -> satisfiable by elasticsearch/elasticsearch[v7.16.0].
    - elasticsearch/elasticsearch v7.16.0 requires psr/log ^1|^2 -> found psr/log[1.0.0, ..., 1.1.4, 2.0.0] but the package is fixed to 3.0.0 (lock file version) by a partial update and that version does not match. Make sure you list it as an argument for the update

[2022-01-20 16:50] tacman commented on #1186
Yep, is there any way to also support psr/log v 3?

To reproduce this error, simply change composer.json to include

    "psr/log": "^1|^2|^3"

then composer install --dev and php vendor/bin/phpunit

FWIW, I'm running PHP 8.1, not sure if that's more strict on return types.

[2022-01-20 17:32] technige commented on #1186
@tacman There are already a couple of other issues/PRs mentioning psr/log v3. We are currently reviewing the change.

[2022-01-24 08:55] technige commented on #1182
Thanks @mohammed-adil-moughal - this helps us prioritise :)

[2022-01-27 09:49] ezimuel commented on #1083
@fghamsary and @xvilo you can update to [v6.8](https://github.com/elastic/elasticsearch-php/releases/tag/v6.8.2) that is compatible with PHP 8.

[2022-01-27 09:49] #1083 closed

[2022-01-31 17:01] mandos commented on #1165
@endorama are you sure, I got this kind of error
`Elasticsearch\Common\Exceptions\UnexpectedValueException
"aggs" is not a valid parameter. Allowed parameters are "_source", "_source_excludes", "_source_includes", "allow_no_indices", "allow_partial_search_results", "analyze_wildcard", "analyzer", "batched_reduce_size", "ccs_minimize_roundtrips", "default_operator", "df", "docvalue_fields", "error_

[2022-02-01 22:34] antoniovj1 opened #1194 "[Question] Does this package offer performance improvement over Guzzle?"
First of all, if this is not the proper place to ask a question I'll remove the issue ASAP.

I'm currently using elastic search for a high throughput app. I generate the query and I run it directly using Guzzle the I parse the response etc.

I'd like to know if this package in addition to ease the queries adds some performance improvements. Thanks

[2022-02-02 10:59] ezimuel commented on #1194
@antoniovj1 this library offers all the Elasticsearch APIs (i.e. about 400 endpoints) as functions and manages the [connection pool](https://www.elastic.co/guide/en/elasticsearch/client/php-api/current/connection_pool.html), you can specify a set of hosts and the library will route the requests to all the host (eg. using a [RoundRobin](https://www.elastic.co/guide/en/elasticsearch/client/php-api/7

[2022-02-03 13:28] #1094 closed

[2022-02-03 14:05] #1194 closed

[2022-02-03 21:07] antoniovj1 commented on #1194
@ezimuel Thank you very much for the information

[2022-02-11 15:11] oshell commented on #1053
this worked for me.
I needed it for doing basic auth using base64 encoded string like this

[code]

setting `user` and `pass` within hosts, did not work for me

[2022-02-13 04:39] yochanan-gurovich opened #1195 "PHP 8.1 Deprecated Code"
### Summary of problem or feature request

Deprecated: Calling static trait method Elasticsearch\Namespaces\BooleanRequestWrapper::performRequest is deprecated, it should only be called on a class using the trait in /home/forge/6day.in/vendor/elasticsearch/elasticsearch/src/Elasticsearch/Client.php on line 624

### Code snippet of problem

[code]
### System details

PHP 8.1.2
ES-PHP 8
Elasticsearc

[2022-03-01 10:48] mardif opened #1197 "store data on multiple clusters"
### Summary of problem or feature request

Hi all,
we have a ElasticSearch ( v. 7.14 ) cluster with 3 nodes, and all works fine! Great!

Now we have to replicate the cluster to an additional cluster (with 3 nodes also) located in another farm, and of course, when our application store the data in a cluster, we need to synch it to other cluster.

I see there is a crosscluster replication on 8.x and

[2022-03-01 20:45] #1195 closed

[2022-03-02 14:22] applyACS opened #1198 "php8 support for other v7 releases"
v7.11.0 is not compatible with my elastic server version
Any plans to add php8 support for other v7 releases?

[2022-03-02 20:05] ezimuel commented on #1198
We do not have plan to support PHP 8 for `elasticsearch-php` <  `v7.11.0`. Which Elasticsearch server version are you using? What's the issue with `v7.11.0` ?

[2022-03-02 20:07] ezimuel commented on #1186
The support of `psr/log 3` has been introduced in `elasticsearch-php` [v7.17.0](https://github.com/elastic/elasticsearch-php/releases/tag/v7.17.0)

[2022-03-02 20:07] #1186 closed

[2022-03-02 20:08] ezimuel commented on #1180
First usage of MIT in `elasticsearch-php` [v8.0.0-alpha](https://github.com/elastic/elasticsearch-php/releases/tag/v8.0.0-alpha).

[2022-03-02 20:08] #1180 closed

[2022-03-04 12:12] ezimuel commented on #1091
@host138 you used a mismatch version between Elasticsearch server `6.8.13` and `elasticsearch-php` `7.10`. If you are still using Elasticsearch 6 you need to use `elasticsearch-php` 6. I suggest to use the latest [v6.8.2](https://github.com/elastic/elasticsearch-php/releases/tag/v6.8.2).

[2022-03-04 16:35] chongshengdz opened #1200 "[8.0 alpha]PHP Fatal error: Uncaught Error: Class "Elastic\\Transport\\TransportBuilder" not found in /src/ClientBuilder.php:315"
[8.0 alpha]PHP Fatal error:  Uncaught Error: Class "Elastic\\Transport\\TransportBuilder" not found in /src/ClientBuilder.php:315

[2022-03-08 09:42] ezimuel commented on #1200
@chongshengdz can you try using [v8.0.0-RC1](https://github.com/elastic/elasticsearch-php/releases/tag/v8.0.0-rc1) ? Thanks.

[2022-03-08 10:52] chongshengdz commented on #1200
Many thanks for the reply.
i will try it later today.

[2022-03-08 17:38] ezimuel commented on #1200
@chongshengdz I found the issue there was a missing `v`in the require for `elastic-transport-php` in`composer.json`. The correct one should be:
[code]
I released elastic/transport [8.0.0-rc4](https://github.com/elastic/elastic-transport-php/releases/tag/v8.0.0-rc4) in the meantime and I'm going to release `elsaticsearch-php` `v8.0.0-rc2` with the fix.

[2022-03-09 05:56] chongshengdz commented on #1200
PHP Fatal error: Uncaught Error: Class "Composer\InstalledVersions" not found in /transport/src/Transport.php:439, referer:

[2022-03-09 05:57] chongshengdz commented on #1200
Connection could not be established.The client noticed that the server is not Elasticsearch and we do not support this unknown product×
Read Timeout

[2022-03-09 09:24] ezimuel commented on #1200
@chongshengdz I released `elastic-transport-php` [v8.0.0-rc4](https://github.com/elastic/elastic-transport-php/releases/tag/v8.0.0-rc4) and `elasticsearch-php` [v8.0.0-rc2](https://github.com/elastic/elasticsearch-php/releases/tag/v8.0.0-rc2). In order to install these RC versions you need to install `elastic-transport-php` and after `elasticsearch-php` as follows:
[code]
This will produce the fol

[2022-03-09 09:45] Jinnrry opened #1202 "How to set the timeout to 100 milliseconds?"
### Summary of problem or feature request

I need set the timeout to 100 milliseconds.

### Code snippet of problem

[code]

### System details

- Operating System: Centos 7
- PHP Version:7.1
- ES-PHP client version:6.0
- Elasticsearch version:6.6.1

[2022-03-09 16:09] chongshengdz commented on #1200
I did follow your above instruction.
but the error still persist.
PHP Fatal error:  Uncaught Error: Class "Composer\\InstalledVersions" not found in /vendor/elastic/transport/src/Transport.php:439
I am using elasticsearch version 8.1.0
elasticsearch-php v8.0.0-rc2
elastic-transport-php v8.0.0-rc4
php 8.0+

$this->client = \Elastic\Elasticsearch\ClientBuilder::create()->setHosts($host)->build();
 i

[2022-03-09 18:26] chongshengdz commented on #1200
Composer version 1.10.22 2021-04-27 13:10:45
centos 7

[2022-03-10 17:44] chongshengdz commented on #1200
it works fine after upgrading to Composer 2.0+.
the problem is due to i was using an old version of 1.0+.
"Composer\InstalledVersions" is only available on Composer 2.0+.

[2022-03-11 08:46] #1200 closed

[2022-03-11 12:10] chongshengdz opened #1203 "elasticsearch-php 8.0.0-RC2 PHP Fatal error: Uncaught Elastic\\Elasticsearch\\Exception\\ArrayAccessException: The array is reading only in /vendor/elasticsearch/elasticsearch/src/Response/Elasticsearch.php:211"
PHP Fatal error:  Uncaught Elastic\\Elasticsearch\\Exception\\ArrayAccessException: The array is reading only in /vendor/elasticsearch/elasticsearch/src/Response/Elasticsearch.php:211

[2022-03-15 07:38] ezimuel commented on #1203
@chongshengdz can you paste the code example that are using? Thanks. If you try to update or unset the array response it will throw the `ArrayAccessException` by design, you can see the [code](https://github.com/elastic/elasticsearch-php/blob/8.0/src/Response/Elasticsearch.php#L204-L222) here.

[2022-03-15 07:44] ezimuel commented on #1197
@mardif sorry for the late reply. Yes, you can write in different cluster using multiple `elasticsearch-php` client instances but I do not recommend this approach since Elasticsearch is able to provide this feature using the cross-cluster replication mechanism. You can read the [documentation](https://www.elastic.co/guide/en/elasticsearch/reference/7.14/xpack-ccr.html) for more information, as you

[2022-03-15 10:46] mardif commented on #1197
Thank you @ezimuel for your reply.
I thought it was not possible, I just wanted to have a confirmation

[2022-03-15 10:46] #1197 closed

[2022-03-15 13:30] chongshengdz commented on #1203
below is the code for testing connection of elasticsearch

    public function connectionStatus(){
        $this->load->language($this->module_path);
        $this->load->library('search_plus');
        $json = array();
        try {
            $json = $this->search_plus->client->info();
            $json['message'] = $this->language->get('text_connection_success');
            $json['status'] =

[2022-03-15 14:42] chongshengdz commented on #1203
public function ping(){
        return $this->client->cat()->indices();
    }

[2022-03-15 16:39] chongshengdz commented on #1203
Elastic\\Elasticsearch\\Response\\Elasticsearch->offsetSet()

[2022-03-15 16:40] chongshengdz commented on #1203
@ezimuel

[2022-03-15 19:57] #1088 closed

[2022-03-24 11:20] ezimuel commented on #1203
@chongshengdz the new `elasticsearch-php` 8.0 client returns an instance of [Response\Elasticsearch](https://github.com/elastic/elasticsearch-php/blob/8.0/src/Response/Elasticsearch.php) foreach endpoint call. In your code base, the `$json` is an instance of that class.
[code]
You can access `$json` as array because `Response\Elasticsearch` implements the [ArrayAccess](https://www.php.net/manual/e

[2022-03-25 09:01] ezimuel commented on #1203
@chongshengdz we released [v8.0.0](https://github.com/elastic/elasticsearch-php/releases/tag/v8.0.0) in the meantime.

[2022-03-25 09:14] ezimuel commented on #1202
@Jinnrry did you try setting `timeout` to `0.1` sec (that is 100 milliseconds)?

[2022-03-25 20:26] alexander-schranz opened #1204 "8.1 Branch not up2date and so `^8.0@dev` version delivers an older version state then 8.0.0"
### Summary of problem or feature request

If you are using composer and have set your minimum stability to `dev` it will test the library or package against the latest version like we are doing here: https://github.com/handcraftedinthealps/ElasticsearchDSL/blob/80c890fa528c39699efdc119e8d26afb2b589cd3/composer.json#L43

But as there is a `8.1` branch, composer detects that branch as the latest ve

[2022-03-26 16:01] chongshengdz commented on #1203
Below is the js code, can you help check if there is anything wrong?

    function checkConnection() {
        $.ajax({
            type:'post',
            url:'index.php?route=extension/module/search_plus/connectionStatus&user_token={{ user_token}}',
            dataType: "json",
            beforeSend: function() {
                $("#connection-status").html('<div class="alert alert-info"><i c

[2022-03-27 17:57] ezimuel commented on #1204
@alexander-schranz just updated the `8.1` branch with the lastet `8.0`. Let me know if this solve the issue, thanks!

[2022-03-28 03:58] Jinnrry commented on #1202
Yes, it should be set to 0.1. The logic of its code is [here](https://github.com/guzzle/RingPHP/blob/master/src/Client/CurlFactory.php#L421)

But !!!

Maybe it not work! This is a php curl bug.  [Look Here](https://stackoverflow.com/questions/2582057/setting-curls-timeout-in-php)

If it not work , You should add `curl_setopt($ch, CURLOPT_NOSIGNAL, 1);`

[2022-03-28 08:01] ezimuel commented on #1202
Thanks @Jinnrry as you mentioned there is this [issue](https://www.php.net/manual/en/function.curl-setopt.php#104597) that we need to check. We need to verify that the issue is still relevant, since this comment was about 10 years ago. Did you try to set to `0.1` sec?

[2022-03-28 09:27] Jinnrry commented on #1202
Yes, But it not work. This is a bug in php curl, not related to the elasticsearch-php. Maybe in newest php, it will work.

My PHP Version: 7.1

Curl Version Info:
    [version_number] => 466176
    [version] => 7.29.0
    [ssl_version] => NSS/3.53.1
    [libz_version] => 1.2.7

[2022-03-29 10:32] ziko1153 commented on #1183
@Atomzwieback  Ya i m facing same issue.

[2022-03-29 15:03] panvid opened #1209 "NoAliveException not moved to new namespace"
The new major version 8.0.0 provides a new Namespace for Eceptions: `Elastic\ElasticSearch\Exception`.

I found an Exception, which is missed move to the new namespace in `Incides`-Endpoint: https://github.com/elastic/elasticsearch-php/blob/8.0/src/Endpoints/Indices.php#L23

[code]

[2022-03-29 18:59] ResetButton opened #1210 "Problem with psr/log depency on Laravel 9.6.0"
Hello!

I can't install package on Laravel 9.6.0. with this problem

`Problem 1
    - elasticsearch/elasticsearch[v8.0.0, ..., 8.1.x-dev] require elastic/transport ^8.0 -> satisfiable by elastic/transport[v8.0.0-rc1, ..., 8.x-dev].
    - elasticsearch/elasticsearch v8.0.0-rc2 requires elastic/transport >=8.0.0-rc4 -> satisfiable by elastic/transport[v8.0.0-rc4, v8.0.0, 8.x-dev, 9999999-dev].
    -

[2022-03-30 08:24] ezimuel commented on #1209
@panvid thanks for reporting the issue. It's a typo since it should be [NoNodeAvailableException](https://github.com/elastic/elastic-transport-php/blob/master/src/Exception/NoNodeAvailableException.php). This is an exception of [elastic/elastic-transport-php](https://github.com/elastic/elastic-transport-php) so it's ok to have it under `Elastic\Transport\Exception`. Since this is a generated code

[2022-03-30 08:47] ezimuel commented on #1210
@ResetButton I think the issue is in the [elastic/elastic-transport-php](https://github.com/elastic/elastic-transport-php/blob/8.x/composer.json#L19) composer since we have the dependency of `psr/log` to `^1.1`. In `elasticsearch/elasticsearch` we have `^1|^2|^3` and if your composer.lock chosen `^3` this will conflict. The solution is to release `elastic/elastic-transport-php` 8.0.1 with `"psr/lo

[2022-03-30 09:09] ezimuel commented on #1203
@chongshengdz I'm sorry but this is a Javascript code not related with `elasticsearch-php` project.
Did you solve the issue in the PHP code using the `asArray()` function as mentioned [here](https://github.com/elastic/elasticsearch-php/issues/1203#issuecomment-1077518209)?

[2022-03-30 09:23] ezimuel commented on #1210
@ResetButton I just released `elastic/elastic-transport-php` [v8.0.1](https://github.com/elastic/elastic-transport-php/releases/tag/v8.0.1) with the support of `psr/log` v1, 2 and 3. This should fix the issue. Let me know, thanks!

[2022-03-30 12:22] ResetButton commented on #1210
Yes, all is OK now, thanks for quick reply

[2022-03-30 12:36] #1210 closed

[2022-03-30 18:14] chongshengdz commented on #1203
@ezimuel yes, it works fine now, many thanks for your help.

[2022-03-31 18:33] gnumoksha opened #1212 "Missing section "Unit Testing using Mock a Elastic Client""
[This commit](https://github.com/elastic/elasticsearch-php/commit/aeb7aaacdd6a6fc8791a0be91cfc2544c9db346f) removed the section regarding mocking the client. So, what is the new way to mock the client?

[2022-04-01 09:03] ezimuel commented on #1212
@gnumoksha thanks for reporting this! I just added the section [Mock the Elasticsearch client](https://github.com/elastic/elasticsearch-php/#mock-the-elasticsearch-client) in the README.

[2022-04-01 09:03] #1212 closed

[2022-04-01 09:03] #1209 closed

[2022-04-01 09:10] #1203 closed

[2022-04-01 09:13] ezimuel commented on #1202
@Jinnrry I suggesto to update your PHP version, at least `7.4` since the previous versions are not supported anymore. I'm closing this issue but I can reopen in the future. Thanks for reporting this issue and let me know if I can help you further.

[2022-04-01 09:13] #1202 closed

[2022-04-01 17:06] waleedfaridworkland opened #1213 "PHP 8.1 - Elastic cloud getting error : Not a valid Json: Control character error, possibly incorrectly encoded"
Hello,

We are upgrading to Elastic Cloud, upgrading to PHP 8.1 and the latest ElasticSearch package.

Up until version 7.17.0 things seem to be working fine.

But using any package 8.0.0 and above is throwing the above mentioned error.

Building client as follows :

$this->client = ClientBuilder::create()
                        ->setElasticCloudId(env('CLOUD_ID'))
                        ->setAp

[2022-04-03 19:12] xiaomlove opened #1214 "Elastic\Transport\NodePool\Node::__construct(): Argument #1 ($host) must be of type string, array given"
### Code snippet
[code]

### Error
[code]
### Env
PHP: 8.0.16
elasticsearch/elasticsearch           v8.0.1
elastic/transport                     v8.0.1

[2022-04-04 17:39] yao3060 commented on #1214
I have the similar issue: "No alive nodes."

I can retrieve the nomal response from `GuzzleHttp\Client` but the `Elastic\Elasticsearch\ClientBuilder`

Here is my PHP Code

[code]

here is the output:

[code]

My Env is

- php8.8
- "elasticsearch/elasticsearch": "^8.0"
- docker

my docker-compose.yaml

[code]

[2022-04-05 15:08] sebastiaanluca commented on #1214
Same error here, same structure.

[code]

PHP 8.1.4
elastic/transport v8.0.1
elasticsearch/elasticsearch v8.1.2

[2022-04-05 17:09] sebastiaanluca commented on #990
For those like me finding this issue when running into the bug below and are (maybe) using Laravel 9 or Symfony 6 components, you can manually set the HTTP client so any custom options work. Otherwise it will find an existing client class that might not work (as in this case).

Exception:

[code]

Fix:

[code]

[2022-04-11 12:56] ezimuel commented on #1214
@xiaomlove , @yao3060 , @sebastiaanluca the new major release of `elasticsearch-php` v8 does not support anymore the hosts settings using the following associative array syntax:
[code]
In order to set this configuration you can use an array of strings, as follows:
[code]
or specify everything on the URL, as follows:
[code]
We should add this BC breaks in the list reported in [CHANGELOG.md](https:/

[2022-04-11 18:50] sebastiaanluca commented on #1214
The "everything as one URL" doesn't seem to work here (using the `ClientBuilder`). It ignores the user and password, can only set it using `setBasicAuthentication()`. So configuring different nodes with different credentials is not possible.

[2022-04-12 05:57] ezimuel commented on #1214
@sebastiaanluca what is the URL are you using? Can you `var_dump` the `$response` object?

This is an interesting feedback, I didn't think about it. I'll try to find a solution for this use case, thanks!

[2022-04-12 06:22] ezimuel commented on #1213
@waleedfaridworkland I'm trying to reproduce the issue. I'm using PHP `8.1.4`, elasticsearch-php `v8.0.1`, Ubuntu Linux  `20.04`, Elastic Cloud with an instance of Elasticsearch `8.1.2`. I just tried the following example and it works, the output is `8.1.2`:

[code]
Can you paste the `cloud_response.json` file produced by the following script?
[code]
Thanks!

[2022-04-12 17:34] waleedfaridworkland commented on #1213
Hey ezimuel thanks for the response!

This is what I get from $response->asString();

�       |��N�0D���(�&����nY ���D�D7~ǩ��T�w�	��s�|^Ah��a�	Bm{����4\�n|�dW^�Pd瘪P�Q`���TJ1K��^�)���Q���m$o�d�p��������<�ǽ|S�n��d�
��F�����U!x㖺;��V���Ø\C_Ob��by�d�*I�'��*�P,!�U��B�ln�M!J"��b���1������-���u#����{��\ZY�����n�Սoʣ�d��fNW�hwZ04��/����Rc���2}��7���m���޶�u��.�J�x�.�/ 

[2022-04-13 10:35] ezimuel commented on #1213
@waleedfaridworkland it seems the response is not a valid JSON. Can you put the file in a [gist](https://gist.github.com/) and copy the link here? Thanks!

[2022-04-14 05:54] jitheshjs983 commented on #1084
Hi
i upgraded my php version to 8 , **tamayo/laravel-scout-elastic** version to 8.1 and **elasticsearch/elasticsearch** version to 8.0
After that i'm getting some error saying **Please install the Elasticsearch PHP client: elasticsearch/elasticsearch** in **LaravelScoutElasticProvider.php line 42**

I can see that the error is throwing because the class is not loading **ClientBuilder**

Can anyone

[2022-04-25 14:04] stayallive opened #1218 "Cannot deserialize the reponse as array with Content-Type: text/plain"
### Summary of problem or feature request

When trying to get aliases from Elastic I get the following error:

[code]

This worked on 7.x and I cannot figure out why it would fail now all of a sudden since I don't think this method is deprecated on 8.x or there is a better way to retrieve this. Probably missing something obvious so any help is appreciated!

### Code snippet of problem

[code]

###

[2022-04-26 08:00] #1204 closed

[2022-04-28 04:47] priitperna commented on #1213
Are there any updates on this? I'm having the same issue.

[2022-04-28 05:30] waleedfaridworkland commented on #1213
@priitperna No. Until this is resolved, I just downgraded to ES-php client package version 7.17.0. That one works.

[2022-04-29 16:10] waleedfaridworkland commented on #1213
@ezimuel The PHP application runs as a Kubernetes pod on Google Kubernetes Engine which has a load balancer managed by Google.
We also use nginx ingress.

[2022-05-03 09:15] ezimuel commented on #1218
@stayallive just sent this PR https://github.com/elastic/elasticsearch-php/pull/1220. I'll release it with 8.2.0. Let me know if you have any feedback, thanks!

[2022-05-03 09:35] stayallive commented on #1218
Looks good to me! 💪

[2022-05-03 11:06] ezimuel commented on #1218
@stayallive I'm also thinking to enable by default the `Accept` header to `application/json` format instead of `text/plain` for the `cat()` endpoints. Using this approach, we can have the same behaviour of `7.x`.

[2022-05-03 11:13] ezimuel opened #1221 "Version 8 is missing the API Compatibility Header"
We need to re-apply yhe API Compatibility header, provided in https://github.com/elastic/elasticsearch-php/pull/1142 for `7.x` branch.

[2022-05-03 12:17] stayallive commented on #1218
I'm not too familiar with these API's but a plain text response seems... less useful to me in almost all cases. So this sounds very logical to me.

[2022-05-03 12:21] #1218 closed

[2022-05-03 12:31] ezimuel commented on #1218
@stayallive actually, I cannot change the `Accept` header of these endpoints since I'll change the official response from Elasticsearch. I think we will suggest to use the `"format" => "json"` parameter if someone needs to have array as response.

[2022-05-03 13:53] stayallive commented on #1218
Ah right, that makes sense... for the next version maybe 👍

Thanks again for the quick fix and workaround!

[2022-05-04 10:38] priitperna commented on #1213
I'm running it from my local env using Docker. PHP version is 8.0.17. No proxy or load balancer.

To me it seems that the problem is with decoding the response. When decoding the response body manually in `Elastic\Elasticsearch\Client::sendRequest()`, then it decodes to a correct json.
This returns the correct json: `gzdecode($response->getBody())`

[2022-05-04 13:57] waleedfaridworkland commented on #1213
I concur with priitperna. I also ran my application locally using Docker no proxy, no load balancer and faced the same issue.
PHP 8.1.4, Laravel/lumen framework : 9.0.2

[2022-05-10 13:24] enriquemolinari opened #1223 "Aggregations does not come in the response after search"
### Summary of problem or feature request

Seems that when requesting aggs the aggregations does not come in the response. See the code samples below please.
What am I missing here?

### Code snippet of problem

[code]

From Kibana, the same request works:
[code]

[code]

### System details

- S.O: Ubuntu
- PHP version: 8.1
- Php library version: 8.2 (and the same behaviour when using 8.1)
- Elast

[2022-05-11 07:20] hkulekci commented on #1223
The response of the search method is `[Elastic\Elasticsearch\Response\Elasticsearch](https://github.com/elastic/elasticsearch-php/blob/master/src/Traits/ClientEndpointsTrait.php#L1507)` with the new version. It is also [array iteratable](https://github.com/elastic/elasticsearch-php/blob/master/src/Response/Elasticsearch.php#L33). And also, you need to use `body` field of request array to send body

[2022-05-11 11:56] enriquemolinari commented on #1223
Thanks, you can close this. 'body' => is required.

[2022-05-20 08:46] yanqibin opened #1224 "class_alias cause include 40 file, when not use project"
PHP 7.1  ，window or linux  (disable opcache)

AFTER I install   the client
`composer require elasticsearch/elasticsearch`
I found
- \elasticsearch\elasticsearch\src\autoload.php
[code]
class_alias cause include  40 files, it  use 0.008 seconds;
When I don't use this project ,it still include   files。
is batter to include   files，when I use  this  project ?

[2022-05-23 11:09] sincorecom commented on #1213
I'm not sure if this is related. But I was having the exact same issue running Laravel 9.0.2 and PHP 8.1. I was able to fix this by removing "symfony/http-client" as a required package. I happened to install it for use with Mailgun but after removing it everything went back to normal.

[2022-05-23 19:17] chongshengdz commented on #1214
has the problem resolved yet?

[2022-05-24 11:57] ezimuel commented on #1223
@hkulekci thanks for solving the issue.

[2022-05-24 11:57] #1223 closed

[2022-05-24 12:02] ezimuel commented on #1224
@yanqibin which version of `elasticsearch-php` are you using? The `src/autoload.php` is needed for BC with elasticsearch-php 7.4.1, for aliasing to the previous endpoint class names. If you are not using the project you can remove the dependency from your `composer.json` file.
The new `elasticsearch-php` version 8 does not use anymore this `src/autoload.php`.

[2022-05-24 15:00] waleedfaridworkland commented on #1213
@sincorecom You are right the issue is related to this package.
I have a different package installed, which installs symfony/http-client as a dependency, removing that package stops causing the issue.
I can't remove the package in question on production though since it is an important one.

[2022-05-24 16:48] waleedfaridworkland commented on #1213
@sincorecom @priitperna @ezimuel

If the package "symfony/http-client" is intalled in the application, then explicitly setting the http client when building the elastic client solves the issue, like so :

            $this->client = ClientBuilder::create()
                            ->setHttpClient(new \GuzzleHttp\Client)
                            ->setElasticCloudId(***)

[2022-05-26 05:50] yanqibin commented on #1224
thankyou  ,      "elasticsearch/elasticsearch": "^7.11"

[2022-05-26 05:50] yanqibin commented on #1224
thankyou  ,      "elasticsearch/elasticsearch": "^7.11"

[2022-05-26 05:50] yanqibin commented on #1224
thankyou  ,      "elasticsearch/elasticsearch": "^7.11"

[2022-05-26 05:50] #1224 closed

[2022-05-29 02:26] mgsmus commented on #1214
@ezimuel @xiaomlove @yao3060 @sebastiaanluca @chongshengdz

After some of effort, I successfully connected as follows (_elasticsearch/elasticsearch v8.2.2_):
[code]
[code]
I followed these steps for installation in Self-managed tab:
https://www.elastic.co/guide/en/elasticsearch/reference/current/getting-started.html#run-elasticsearch

[2022-06-01 23:38] ajrpayne opened #1225 "Elasticsearch\Common\Exceptions\Curl\CouldNotConnectToHost cURL error 7:"
We are using SimpleConnectionPool, multiHandler, future mode off, to index single documents, not using bulk(Can't change this currently). During periods of high ingest we get the below error.

``
Elasticsearch\Common\Exceptions\Curl\CouldNotConnectToHost
cURL error 7:
``

With no further details as to what the curl 7 error is. Everything seems to be running normally on elasticsearch, and the reque

[2022-06-02 12:17] davidmaes opened #1227 "Client should implement an interface to make unittesting possible."
### Summary of problem or feature request

Since client was made final we can not mock the class anymore. However, good practice would tell us that we need to mock the edges of our systems. Of course ES is such an edge.

Therefore, whenever important classes like this are made final, an interface should be created to help us mock that instead. Of course it also helps us think about the system thro

[2022-06-02 14:19] creativedevs opened #1229 "Elastic\Elasticsearch\Exception\ProductCheckException: The client noticed that the server is not Elasticsearch and we do not support this unknown product in file vendor\elasticsearch\elasticsearch\src\Traits\ProductCheckTrait.php on line 32"
### Summary of problem or feature request

Getting error
Elastic\Elasticsearch\Exception\ProductCheckException: The client noticed that the server is not Elasticsearch and we do not support this unknown product in file \elasticsearch\elasticsearch\src\Traits\ProductCheckTrait.php on line 32

### Code snippet of problem

### System details

- Operating System
- PHP Version 8
- ES-PHP client version

[2022-06-04 14:28] use-the-fork commented on #1213
Thanks for this! Worked perfect for me as well!

[2022-06-06 13:58] #1213 closed

[2022-06-09 13:34] ezimuel commented on #1213
@waleedfaridworkland thanks for showing the issue and the solution. I'll have a look more deply since this is related to the [HTTPlug](http://httplug.io/) autodiscovery feature [here](https://github.com/elastic/elastic-transport-php/blob/master/src/TransportBuilder.php#L53). Maybe I can remove it, and use `Guzzle` as default.

[2022-06-12 18:47] hkulekci commented on #1227
Do we have any updates here? the implementation of #1228 is good but the problem here is the traits generated by a script. So, in my opinion, that generator needs to create interfaces automatically per trait, and the client interface needs to extend these interfaces. @ezimuel what do you think? We struggle in a library also to be able to test some parts after upgrading to the latest version.

[2022-06-20 09:44] StartMoney opened #1231 "The error when init object of elasticsearch-php"
### Summary of problem or feature request

There's some error when i connected to elasticsearch use elasticsearch-php .
my es server is :  https://elasticsearch:9200,
all this is configed in $cfg

[code]
[code]

The ca file is ok :
[code]

- Operating System
- PHP Version: 7.4.28
- ES-PHP client version: 8.2.0
- Elasticsearch version: 8.2.0

[2022-06-23 01:46] hamzamogni opened #1232 "connecting to elasticsearch fails when password contains the special character '@'"
### Summary of problem or feature request

When the elasticsearch password contains the character @ then authentication fails.

This is my code that setups the client:

[code]

When I then run `$client->info()` I get the following error

So I then attached a logger to the client and got the following log message:

So it seems like the @ character is not connected and thus it gets mixed with the ac

[2022-06-23 12:39] hamzamogni commented on #1232
After some digging I found out a fix could be to `urlencode` username and password before passing them to elastic Transport?

It could be done in the `ClientBuilder` either when setting values of username and password, or inside the `build` function just before passing values to transport

[code]

I don't know if this is the right approach to fix this, or even if this is something that this packag

[2022-06-23 13:02] hamzamogni commented on #1231
@StartMoney does your password contain any special characters?

[2022-06-27 01:02] StartMoney commented on #1231
No,it always shows this error whatever my password is.
But I seem to have found the reason.
Its the password we set in .env,  It did not take effect to elasticsearch-php .
I used the password rest tool changed the password of user "elastic" again , like this:
`bin/elasticsearch-reset-password -u elastic -i `
seted password to the same in .env.
And  use this :
`curl -s -XPOST --cacert config/certs/

[2022-06-28 00:57] StartMoney commented on #1231
@ezimuel
Hi, thanks for reply.
I followed this to install elasticsearch, and my php is runing by the same docker-compose.yml
https://www.elastic.co/guide/en/elasticsearch/reference/8.2/docker.html
The password is seted in environment , in .env file.
When all is start up , everything is fine  except elasticsearch-php .
Then I reseted my password  "mypass"  to "mypass" , yes , nochanges , the new is

[2022-06-28 01:05] StartMoney commented on #1231
@ezimuel
If you do more tests ,  rember to use
`docker-compose down -v`
remove volumes which was made by last test.
or you can use :
`    volumes:
      - ./certs:/usr/share/elasticsearch/config/certs
      - ./esdata01:/usr/share/elasticsearch/data
      `
and `docker-compose.yml down`,  and delete  `./certs` , `./esdata01`, `./esdata02` and `./esdata03` , then make another test.

[2022-06-29 10:50] ezimuel commented on #1232
@hamzamogni the issue is related to the implementation of `Uri::withUserInfo()` with the PSR-7 client library installed (nyholm/psr7, guzzle, etc). To avoid different bechaviours we can definitely use an approach like the one that you suggested using `urlencode()`. DId you try the fix?

We should fix this in [elastic/elastic-transport-php](https://github.com/elastic/elastic-transport-php) that is

[2022-06-29 10:57] ezimuel commented on #1229
@creativedevs can you give me more information, including an example of the PHP code that you are using? Thanks!

[2022-06-29 11:18] hamzamogni commented on #1232
@ezimuel Thank you for your reply. Yes I have tried the fix I mentioned in my previous comment, I agree that the fix would be better be implemented in [elastic/elastic-transport-php](https://github.com/elastic/elastic-transport-php).

I would suggest something like this be implemented in [Transport::setupUserInfo](https://github.com/elastic/elastic-transport-php/blob/master/src/Transport.php#L204)

[2022-06-29 11:24] ezimuel commented on #1225
@ajrpayne the `cURL error 7` is [Failed to connect() to host or proxy](https://curl.se/libcurl/c/libcurl-errors.html). Are you using a proxy/firewall?
If you have this issue only in high traffic scenario I think this can be related to the time wait TCP settings. I found an interesting discussion about this issue [here](https://stackoverflow.com/questions/32212207/curle-couldnt-connect-during-heavy

[2022-06-29 11:24] #1225 closed

[2022-06-29 11:28] ezimuel commented on #1214
@mgsmus the solution that you reported is not really secure since you are switching off the TLS check about the certificate. Anyway, this can be a workaround only if your PHP runs on the same localhost. I do not recommend to switch off the TLS certificate validation outside localhost.

[2022-06-29 11:29] ezimuel commented on #1214
@chongshengdz no, we don't have a solution at the moment.

[2022-06-29 11:29] #1198 closed

[2022-06-29 13:10] ezimuel commented on #1232
@hamzamogni yes, you can send the PR, thanks!

[2022-06-29 13:24] hamzamogni commented on #1232
@ezimuel Thank you for the support.

[2022-06-30 07:04] StartMoney commented on #1231
OK, I have tested .  It's not the problem of  Elasticsearch-php ，it's the problem of  building elasticsearch with doker-compose.yml
Maybe I should post a new comment for docker of elasticsearch.
Thanks for reply.

[2022-07-06 12:07] cweiske opened #1235 "elasticsearch/elasticsearch 6.8.0 removes IndicesNamespace::deleteMapping"
### Summary of problem or feature request

Version 6.8.0 removes the method `Elasticsearch\Namespaces\IndicesNamespace::deleteMapping()` with commit 2da5f9337a269113954a84fe8e79ea6843f0e7c3.

This method existed in 6.7.2.

Per semantic versioning, feature releases like the update from 6.7 to 6.8 may not break existing APIs, and here the API has been broken.
This leads to problems in the drupal mod

[2022-07-08 20:25] ezimuel commented on #1235
@cweiske this is a very old feature that [has been removed](https://github.com/elastic/elasticsearch/issues/8877) in Elasticsearch 2.0. Unfortunately, since v.6.8.0 we didn't have a code generator in place and this `Elasticsearch\Namespaces\IndicesNamespace::deleteMapping()` remained unsed since than. This means even if `elasticsearch-php` exposes it this do not have any effect on Elasticsearch :d

[2022-07-12 17:14] AndreasA opened #1237 "7.x - ELASTIC_CLIENT_APIVERSIONING should use $_SERVER and $_ENV instead of getenv to be thread safe with symfony/dotenv (setting the value inside PHP)"
### Summary of problem or feature request

When using symfony/dotenv to provide enviornment variables, this does not use `putenv`  as `putenv` is not thread safe https://github.com/symfony/dotenv/blob/v5.4.5/Dotenv.php#L70

However, if one uses `getenv` instead of `$_SERVER` and `$_ENV` the use of `putenv` is required. Which would not be thread safe. Or it needs to be provided outside PHP but in c

[2022-07-19 13:00] zamazan4ik opened #1239 "Dynamic hosts configuration"
### Summary of problem or feature request
Hi!

In our current on-premise ElasticSearch (ES) setup we have configured load balancer (LB) before our ES cluster. So clients are connecting to LB and then requests are routed to each ES node (with a round-robin strategy).

AFAIK, nowadays there is no need to use a dedicated LB before the ES (e.g. an answer from SO: https://stackoverflow.com/questions/66

[2022-07-20 07:16] MonkWang commented on #1229
Getting error
Elastic\Elasticsearch\Exception\ProductCheckException: The client noticed that the server is not Elasticsearch and we do not support this unknown product in file \elasticsearch\elasticsearch\src\Traits\ProductCheckTrait.php on line 32

PHP Version 7.4
elasticsearch/elasticsearch package version 8.3.2
Elasticsearch version 7.8.0

[2022-07-20 10:16] #1235 closed

[2022-07-21 08:27] laurenzonneveld opened #1241 "Elastic cloud Client prevents decompression of gzip compressed responses"
### Summary of problem or feature request

`ClientBuilder::build()`  adds an `Accept-Encoding:gzip` header when `elasticCloudId` is provided but does not handle decompression of gzip compressed responses.

We're using `Symfony\Component\HttpClient\HttplugClient` as `asyncHttpClient` which adds gzip by default but does not handle decoding when the `Accept-Encoding` header is explicitly set.

As per

[2022-07-21 15:47] ezimuel commented on #1237
@AndreasA I'm sorry but I do not understand your request. The env variable that you mentioned `ELASTIC_CLIENT_APIVERSIONING` is not present in this project. Moreover `elasticsearch-php` does not use `putenv()`. Can you explain better what you mean? Thanks!

[2022-07-21 15:57] ezimuel commented on #1239
@zamazan4ik the answer depends on the `elasticsearch-php` version that you are using, 7.x or 8.x. This because for `elasticsearch-php` v8 we rewrote the client from scratch.
I see that you are using Elasticsearch 7.17 so I guess you are using `elasticsearch-php` v7.17.0, right?

[2022-07-21 16:06] ezimuel commented on #1241
@laurenzonneveld I noticed that you are using Elasticsearch server version 7.15.2 but your PHP client is using `elasticsearch-php` v8.3.2. You should use `elasticsearch-php` v7.x, for instance the latest 7.17.0. Can you try with this version?

In version 8 we rewrote the client from stratch and we used [elastic-transport-php](https://github.com/elastic/elastic-transport-php) for the HTTP transport

[2022-07-21 16:13] AndreasA commented on #1237
Hi @ezimuel if you still support 7.x you do use it https://github.com/elastic/elasticsearch-php/blob/v7.17.0/src/Elasticsearch/ClientBuilder.php#L640

[2022-07-21 16:43] zamazan4ik commented on #1239
@ezimuel yes, you are right. However, I am also interested about the current behavour for the 8.x versions as well.

[2022-07-22 06:57] laurenzonneveld commented on #1241
@ezimuel Thank you for the fast response. We have no problem using the 7.15.2 version of Elastic PHP. However, we would like to upgrade Elastic and client version 8.x since we want to make use of asynchronous requests.

For now we have patched the `$transport->setHeader` call out of the library which solves the issues.

We'd love to hear your findings regarding the 8.x client with Symfony HTTPClie

[2022-07-22 12:54] ezimuel commented on #1239
For `elasticsearch-php` v7:

1. It is possible to use the [SniffingConnectionPool](https://www.elastic.co/guide/en/elasticsearch/client/php-api/7.17/connection_pool.html#_sniffingconnectionpool) to configure the client to sniff the node configuration during the connection. You need to specify one or more node in the hosts and then the client will execute the [Cluster State API](https://www.elastic

[2022-07-22 12:58] zamazan4ik commented on #1239
@ezimuel Thank you a lot! Would be awesome, if you add this information somewhere into the documentation. For future users will be much easier to find this information in the documentation and not in Github issues.

[2022-07-23 20:31] rockyru commented on #1229
Still no fix for this? I am facing the same issue

PHP Version 8.1
elasticsearch/elasticsearch package version 8.2
Elasticsearch version 8.3

[2022-07-24 12:23] hkulekci commented on #1229
I think this is not a bug. This is a feature. @rockyru @MonkWang @creativedevs Elasticsearch PHP Client supporting just only for Elasticsearch. Not for the similar other solutions. :)

[2022-07-24 12:33] rockyru commented on #1229
hahaha. I need to fix this asap, I have a current deployment using laravel and I got stuck in here. Dang it!

[2022-07-24 19:36] hkulekci commented on #1229
Could you please write your response with following request :

[code]

I am getting following response :

[code]

As you see here, on the response header there is `X-elastic-product` header as follow :

[code]

Do you get on your server?

[2022-07-24 20:03] rockyru commented on #1229
This is what I am getting @hkulekci
[
*   Trying 127.0.0.1...
* TCP_NODELAY set
* Connected to localhost (127.0.0.1) port 9200 (#0)

* Empty reply from server
* Connection #0 to host localhost left intact
curl: (52) Empty reply from server](url)

[2022-07-25 06:11] hkulekci commented on #1229
So the problem is not the client, and your problem is the server. Somehow your server could not return the response correctly because `/` endpoint of Elasticsearch should return a response that seems to be my previous answer.

[2022-07-25 06:57] rockyru commented on #1229
@hkulekci but Kibana is working fine. It is just the Elasticsearch that is not returning anything when I try to access it with its default port. Any idea?

[2022-07-25 07:26] ezimuel commented on #1239
@zamazan4ik all the information are already in the official documentation, for 7.x [here](https://www.elastic.co/guide/en/elasticsearch/client/php-api/7.17/connection_pool.html) and for 8.x [here](https://www.elastic.co/guide/en/elasticsearch/client/php-api/current/node_pool.html).

[2022-07-25 08:08] zamazan4ik commented on #1239
@ezimuel thank you a lot! I do not know how I have missed this part of the documentation. I think the issue can be closed now.

[2022-07-25 08:08] #1239 closed

[2022-07-29 12:05] mariancerny opened #1242 "StickyRoundRobinSelector starts with second host"
### Summary of problem or feature request

When a list of multiple hosts is configured, `randomizeHosts` is disabled and `StickyRoundRobinSelector` is used the first connection goes to the second host (instead to the first one).

e.g. hosts:
- host1
- **host2**
- host3
- host4

Are tried in this order: **host2**, host3, host4, host1

### Code snippet of problem

From `StickyRoundRobinSelector::sel

[2022-08-04 11:00] pnajithkumar opened #1244 "vendor/ezimuel/ringphp/src/Exception/ConnectException.php failed to open stream: Too many open files"
### Summary of problem or feature request

Hi,

We are getting an exception randomly as follows when we perform the indexing. While checking the logs on the elastic search server not finding any error info.

."..vendor/ezimuel/ringphp/src/Exception/ConnectException.php): failed to open stream: Too many open files "

Could you please advise where could be the problem?

Thanks,
Ajith

### Code snipp

[2022-08-04 14:39] ezimuel commented on #1241
@laurenzonneveld I just completed the PR https://github.com/elastic/elasticsearch-php/pull/1243 to fix this issue and to add the support for Symfony HTTP Client: [HttplugClient](https://github.com/symfony/http-client/blob/6.1/HttplugClient.php) and [Psr18Client](https://github.com/symfony/http-client/blob/6.1/Psr18Client.php). Can you test it and let me know? Thanks!

[2022-08-04 14:51] ezimuel commented on #1244
@pnajithkumar this can be a limit of the ubuntu environment that you are using. Every operating system only allows for a certain number of open files/handles/sockets. In Linux you can run the following commands to check this setting:
[code]
You can increase this settings to `65535`. If you want to test in your current session yu can just execute the command:
[code]
To save this as permanent change

[2022-08-04 15:07] pnajithkumar commented on #1244
Thanks for the response @ezimuel. So this limit should be added in the elastic search server OR the client from where we request for the indexing?  The exception details that we are getting from client exception message.

include(/var/www/.../vendor/ezimuel/ringphp/src/Exception/ConnectException.php): failed to open stream: Too many open files

Thanks you.

[2022-08-04 19:53] mfn commented on #1244
@pnajithkumar the client server, from where you perform the requests

[2022-08-05 01:40] pnajithkumar commented on #1244
Thank you @mfn .

[2022-08-05 08:00] laurenzonneveld commented on #1241
@ezimuel Thanks for the update, I'll be on vacation for the next 2 weeks.  We'll test as soon as I get back.

[2022-08-06 07:49] masoud-me commented on #1084
I have same issue

[2022-08-06 12:55] reedy commented on #1084
https://github.com/elastic/elasticsearch-php/blob/8.0/src/ClientBuilder.php exists in the branch..

[code]

And when installed via composer, seems to work fine too....

[2022-08-07 18:39] hkulekci commented on #1084
@jitheshjs983 @masoud-me @reedy  As I check on the composer file of that [library](https://github.com/ErickTamayo/laravel-scout-elastic/blob/master/composer.json), the elasticsearch required as development (`require-dev`). May it be related to this? What do you think?

[2022-08-07 19:20] reedy commented on #1084
Probably..

The instructions do say to do `composer require elasticsearch/elasticsearch` - https://github.com/ErickTamayo/laravel-scout-elastic#install-elasticsearch-php-client which just feels weird. especially when it's in `require-dev` as you say.

It's definitely not a bug in this library, anyway.

[2022-08-08 07:14] ezimuel commented on #1244
@pnajithkumar do you solved the issue? Thanks.

[2022-08-09 17:19] AndreasA commented on #1237
@ezimuel No problem. I think you can could probably leave getenv to query as a last resort but I think checking `$_SERVER['ELASTIC_CLIENT_APIVERSIONING'] ?? $_ENV['ELASTIC_CLIENT_APIVERSIONING']` should be enough and would be thread-safe.

[2022-08-11 07:56] pnajithkumar commented on #1244
@ezimuel, we did the config changes you mentioned, but the server configuration is still showing the old limit when we run the "ulimit -n". So we are still trying to find why the config not changing. Any suggestions appreciated.
Thank you

[2022-08-16 01:47] Torontototokyo opened #1246 "why id is always required when I use the document creating api"
### Summary of problem or feature request

### Code snippet of problem

### System details

- Operating mac m1
- PHP 8.0
- ES-PHP client 7.17
- Elasticsearch 7.17

[2022-08-16 06:40] ezimuel commented on #1246
@Torontototokyo if you refer to the `index()` API, you can also do not specify the `id` and let Elasticsearch create one for you.
Here an example where I index the document `{'foo':'bar'}` with and without an `id`:
[code]

[2022-08-16 08:47] ezimuel commented on #1237
@AndreasA I sent the PR #1247 for fixing the issue. I used the following approach:
[code]
I'm still using `getenv()` as fallback condition since if someone is using `putenv()` the only way to get the env variable is using `getenv()`.

[2022-08-16 09:31] Torontototokyo commented on #1246
very clear,thanks

[2022-08-16 10:32] ezimuel commented on #1246
@Torontototokyo if you are looking for other example of `elastcsearch-php` I suggest to have a look at  https://github.com/elastic/elasticsearch-php-examples

[2022-08-16 10:32] #1246 closed

[2022-08-16 13:29] Torontototokyo commented on #1246
ok,thanks

[2022-08-17 14:42] ezimuel commented on #1244
@pnajithkumar if you execute:
[code]
and after you execute:
[code]
you still see the old value and not 65535? Maybe this [discussion](https://askubuntu.com/questions/162229/how-do-i-increase-the-open-files-limit-for-a-non-root-user) can help.

[2022-08-18 07:29] ezimuel commented on #1237
Fix merged https://github.com/elastic/elasticsearch-php/pull/1247

[2022-08-18 07:29] #1237 closed

[2022-08-18 08:13] #1231 closed

[2022-08-18 08:34] ezimuel commented on #1227
@davidmaes, @Ekman , @hkulekci first of all I'm sorry for the long wait. You are right, we need to provide an Interface to be sure that we can mock the Client easily. As pointed out by @hkulekci this interface should be generated, since the Client used some generated code (i.e. `ClientEndpointsTrait`.  I'm working on a PR for that. Thanks!

[2022-08-18 11:19] ezimuel commented on #1229
@MonkWang I just noticed that you are using elasticsearch-php `8.x` with Elasticsearch server `7.x`. You need to use elasticsearch-php `7.x` in order to connect to Elasticsearch `7.x`. This is also reported in the README [here](https://github.com/elastic/elasticsearch-php/blob/master/README.md#versioning).

[2022-08-18 11:26] ezimuel commented on #1229
@rockyru did you solve the issue? Are you using an official Elasticsearch server version? Elasticsearch 8 uses [security by default](https://www.elastic.co/guide/en/elasticsearch/client/php-api/current/connecting.html#auth-http), that means you need to use **https** and a **valid credential** to connect to it. You can read how to configure `elasticsearch-php` to connect to Elasticsearch 8 [here](h

[2022-08-18 11:28] ezimuel commented on #1242
@mariancerny sorry for the delay, I'm looking into it right now.

[2022-08-18 11:33] ezimuel commented on #1227
Since I need to generate the interface based on the API endpoints released in Elasticsearch I can have different interfaces between two minor versions. This can be a BC break! I'm considering to remove the `final` keyword for the Client. Thoughts?

[2022-08-18 12:10] hkulekci commented on #1227
What do you think about creating an interface for the Client method instead of all functions, only? The libraries can mock the `sendRequest` method. This is a quick opinion. I did not think on it much :)

[2022-08-18 12:35] ezimuel commented on #1227
@hkulekci Do you mean an interface only for the Client methods without the `ClientEndpointsTrait` and `NamespaceTrait`? It sounds a great idea! Any thoughts @davidmaes and @Ekman ?

[2022-08-18 13:25] hkulekci commented on #1227
Yes exactly. As I see from my limited view, all the public methods which are sending a request to Elasticsearch use `sendRequest` method as well. So, mocking this request will be a solution. For the `NamespaceTrait`, the classes are using `AbstractEndpoint` and this class depends on `Client`. All the methods of this class also use the same method of Client.

[2022-08-18 14:33] Ekman commented on #1227
Having to mock the `sendRequest` method would mean users needs to concern themselves with internal lib stuff in order to do proper mocking. I mean, it works, but it's not ideal. I'd prefer removing `final` or an interface but I also understand implementing simpler solutions over more complex. 🙂

[2022-08-22 07:55] laurenzonneveld commented on #1241
Just tested, works as expected. Thank you.

[2022-08-22 07:55] #1241 closed

[2022-08-23 05:39] imdhemy commented on #1043
Hello there!

I joined the party late, hope this is useful for you.

I wrote these utils to help mock ES, you can find there how to mock multiple requests/responses.

- [For ES 7.x](https://github.com/imdhemy/es-testing-utils/tree/7.x)
- [For ES 8.x](https://github.com/imdhemy/es-testing-utils/tree/8.x)

You can add it as a dev dependency or just follow the code and use it in your tests.

[2022-08-23 06:20] imdhemy opened #1248 "[Documentation] Contributing guide is not updated or confusing"
### Summary of problem or feature request

I followed the [contributing guide](https://github.com/elastic/elasticsearch-php/blob/8.4/.github/CONTRIBUTING.md). When I tried to run the `RestSpecRunner` I got the following error:
[code]

After some research I found that the `RestSpecRunner` is not using the environment variable `ES_TEST_HOST`, but
instead it is using the `ELASTICSEARCH_URL` [here](ht

[2022-08-23 14:18] ezimuel commented on #1227
@hkulekci , @Ekman I just sent this PR #1249

[2022-08-23 17:48] hkulekci commented on #1227
I put a comment there. Thanks 🥳

[2022-08-24 06:56] ezimuel commented on #1227
Solved in https://github.com/elastic/elasticsearch-php/pull/1249. Thanks @hkulekci for the suggestion!

[2022-08-24 06:56] #1227 closed

[2022-08-24 06:58] ezimuel commented on #1221
Solved in https://github.com/elastic/elasticsearch-php/pull/1233

[2022-08-24 06:58] #1221 closed

[2022-08-24 07:01] #990 closed

[2022-08-24 07:02] ezimuel commented on #988
Closing this since we have a new serializer for v8.

[2022-08-24 07:02] #988 closed

[2022-08-24 10:59] ezimuel commented on #1248
@imdhemy thanks for opening this issue. I'll fix the documentation asap.

[2022-08-24 11:04] #1003 closed

[2022-08-24 14:20] imdhemy commented on #1242
I think it works as expected for the first connection, but it doesn't cover the following case:

**Given**
We have 3 connections, `A`, `B`, `C`.

| Connection | State   |
|------------|---------|
| A          | ❌ Dead  |
| B          | ❌ Dead  |
| C          | ✅ Alive |

**When**
Trying to select a connection.

**Then**
We should get the `✅ C` connection.

**Actual Behavior**
We get the (Dead) `❌

[2022-09-07 10:21] amitleuva1987 commented on #1094
@valehasadli , @damianoi , I am using a single container for my laravel app and elastic search in my localhost. I am receiving 'No Alive nodes found in your cluster'. Below is my docker-compose.yml

[code]

below is my client builder code.
[code]

[2022-09-08 04:57] amitleuva1987 opened #1250 "No alive nodes. All the 1 nodes seem to be down."
### Summary of problem or feature request

I am using Laravel 9. White connecting elastic search (running over docker)., I couldn't connect through Laravel application. I can see it running over http://localhost:9200. I can also see it running using curl.  Below is sample code

[code]

Below is the error trace.

[code]

### Code snippet of problem

I have tried below codes

[code]

[code]

below i

[2022-09-08 09:22] #1250 closed

[2022-09-09 09:58] ezimuel commented on #1244
@pnajithkumar I'm closing this issue. If you need more assistance I can reopen it, thanks.

[2022-09-09 09:58] #1244 closed

[2022-09-15 09:04] M-Brico opened #1252 "No PSR-18 clients found. Make sure to install a package providing "psr/http-client-implementation""
### Summary of problem or feature request

We've upgraded our Dev Elastic deployment to 8.4 and in the process of looking at whether our service implementation needs an update.

Looking through the documentation it appears not but I'm getting

`Http\Discovery\Exception\NotFoundException: No PSR-18 clients found. Make sure to install a package providing "psr/http-client-implementation". Example: "p

[2022-09-15 11:01] M-Brico commented on #1252
Ah I think I've posted in the wrong repo - apologies

[2022-09-21 07:23] ezimuel commented on #1252
@M-Brico yes, for App Search the repository is https://github.com/elastic/enterprise-search-php

[2022-09-21 07:23] #1252 closed

[2022-09-21 08:59] ezimuel commented on #1229
I'm closing this issue. @rockyru let me know if you need to reopen it, thanks!

[2022-09-21 08:59] #1229 closed

[2022-09-21 12:44] rockyru commented on #1229
hi @ezimuel , yep I've resolved the issue. Thank you!

[2022-09-22 15:13] ezimuel commented on #1242
@mariancerny I just sent this PR https://github.com/elastic/elasticsearch-php/pull/1253 to fix the issue. I did a depth code analysis and I found that we assumed `false` for `isAlive` at the beginning. I changed this behaviour, now is `true` by default. Let me know if this works for you, thanks!

[2022-09-23 08:04] mariancerny commented on #1242
@ezimuel Thank you for the fix. Looks good to me. +1 for the test!
The PR has been approved so feel free to close this issue now or once it is merged.
Thanks again!

[2022-09-28 06:57] asgrim opened #1256 "PHP 8.2 compatibility in Elasticsearch PHP client version 7"
### Summary of problem or feature request

Elasticsearch PHP client claims it is compatible with PHP 8.2:

https://github.com/elastic/elasticsearch-php/blob/1890f9d7fde076b5a3ddcf579a802af05b2e781b/composer.json#L19

When installing `elasticsearch/elasticsearch:^7.0` running PHP 8.2.0RC2 and making some requests, I get the following deprecation warning:

[code]

I have submitted an upstream patch

[2022-09-29 09:42] khrizt opened #1257 "Sort by _script using php client"
### Summary of problem or feature request

Sorting by _script from php client doesn't work or I haven't found the way to achieve that. But I managed to do this type of sorting from cURL.

I hope someone can guide me if this is a bug or am I doing something wrong.

### Code snippet of problem

If I do the query from cURL I can do the following and it works.

[code]

But if I do it from PHP the sort

[2022-10-04 11:56] ezimuel commented on #1242
Fixed with #1253 and released in [v7.17.1](https://github.com/elastic/elasticsearch-php/releases/tag/v7.17.1)

[2022-10-04 11:56] #1242 closed

[2022-10-04 12:16] ezimuel commented on #1257
@khrizt I translated the cURL command that you reported:
[code]
Let me know if this works. If you are looking for other PHP examples, I suggest to have a look at https://github.com/elastic/elasticsearch-php-examples

[2022-10-04 12:30] ezimuel commented on #1256
@asgrim thanks for the PR, I'll check asap.

[2022-10-04 12:46] khrizt commented on #1257
Hi @ezimuel, thanks a lot. It works, I don't know how variants of this I tried but none were the correct one :roll_eyes:.

Thanks!

[2022-10-04 12:46] #1257 closed

[2022-10-25 11:52] Kailashlambe opened #1260 "How do I log the Elastic Search Request or Trace Data?"
Hello There,

I was trying to log the request and trace data, the responsible function which logs the data is,

`\Elasticsearch\Connections\Connection::wrapHandler`  which calls the main log method,

`\Elasticsearch\Connections\Connection::logRequestSuccess`

 but the variable `$this->log` is the type ` \Psr\Log\NullLogger` which is defined at

`\Elasticsearch\ClientBuilder::buildLoggers`

`if (is

[2022-10-25 15:33] RORUI opened #1261 "The array structure of a batch index is confusing"
That's what the official document says:
**Bulk indexing with PHP arrays.**
[code]
The above array structure is confusing, so why not do it:
[code]

- Operating System win10
- PHP Version 8
- ES-PHP client version lasted
- Elasticsearch version 8

[2022-10-28 13:39] rockyru opened #1262 "406 Not Acceptable: {"error":"Content-Type header [application/vnd.elasticsearch+json; compatible-with=8] is not supported","status":406}"
### Summary of problem or feature request

I am getting this error
![image](https://user-images.githubusercontent.com/13403945/198621820-2b393fc3-508d-4157-bc7f-778b3e3fbe1a.png)

### Code snippet of problem

### System details

- Operating System: ubuntu 18.4
- PHP Version: 8.1.11
- ES-PHP client version: 8.4
- Elasticsearch version: 7.10

[2022-10-31 07:25] asgrim commented on #1256
Please note I also made a follow-up bugfix ezimuel/ringphp#9 not sure if you saw yet :+1:

[2022-11-02 15:48] ezimuel commented on #1260
@Kailashlambe if you want to log the request and response of `elasticsearch-php` you need to enable the logger in the client.
Reading your comment, I'm assuming you are using `elsticsearch-php` ver. 7, [here](https://www.elastic.co/guide/en/elasticsearch/client/php-api/7.17/enabling_logger.html) you can find the official documentation for the logger.
Let me know if you need more help, thanks.

[2022-11-02 15:53] ezimuel commented on #1261
@rory5515 you cannot use your solution since we need to create an array of operations in the `body` field. Each operations has two rows, the first is the operation type (e.g. `index`) and the second is the document data. If you see the HTTP Bulk API specification [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-bulk.html), you can see why we needed to do that.
Let me kno

[2022-11-02 15:55] ezimuel commented on #1262
@rockyru I see you are using Elasticserach server version 7.10 and `elasticserch-php` version 8.4. You must use `elasticsearch-php` version 7. I sugget to use the latest of the 7 branch that is [7.17.1](https://github.com/elastic/elasticsearch-php/releases/tag/v7.17.1).
Let me know if you need more help, thanks.

[2022-11-02 20:39] rockyru commented on #1262
hi @ezimuel , I've used the latest on the 7 branch that is 7.17.1 and can confirm that it's working. Thank you!

[2022-11-02 20:39] #1262 closed

[2022-11-06 13:44] Kailashlambe opened #1264 "Flattened Data Type Numeric Sorting"
Hi Team

I am working on one of the projects where I need the different price combinations for each product and since we do not have control over the number of combinations and limitation of the number of fields(1000 fields per doc) and to avoid 'mapping explosion' issue, we planned to go with 'flattened' data type field.

The current mappings looks like this,

`{

  "demo" : {

    "mappings" : {

[2022-11-06 14:01] Kailashlambe commented on #1260
Thanks, @ezimuel for the feedback, I am not sure I should use the same thread for another question but I do have small doubt that I wanted to confirm with you, is it not possible to 'sort' the subfield numeric values of field data type 'flattened'?

[2022-11-17 13:29] ezimuel commented on #1264
@Kailashlambe this is not a question related with `elasticsearch-php` but rather a question about Elasticsearch for you specific use case. I suggest to ask in https://discuss.elastic.co/. Thanks.

[2022-11-17 13:29] #1264 closed