[2019-01-02 23:55] tuaris commented on #744
I support the proposal to add a default type = '_doc'.  However, this fails in my copy of ES version 5.6

[code]

[2019-01-07 11:45] MattBianco commented on #756
The documentation for 6.0 still refers to it:
https://www.elastic.co/guide/en/elasticsearch/client/php-api/current/_indexing_documents.html

[2019-01-07 18:36] #798 closed

[2019-01-07 18:45] polyfractal commented on #798
Merged fix into master, will merge the other branches where appropriate.  Need to do a few other much-needed updates (for recent ES versions), then will tag and release before end of day.

So so sorry for the delay on this!  My dev time has been increasingly pulled away from the client to core ES work, hence the lack of progress here.

But good news, we've hired someone who will be taking over the

[2019-01-08 09:13] jonathanpmartins commented on #798
So happy to hear that!

[2019-01-08 13:22] nkorojoseph commented on #578
[code]

[2019-01-08 17:35] meyerbaptiste commented on #636
@polyfractal your fix is not correct and introduces another bug.

[code]

In fact, the `$response` is rarely an exception that implements the `ArrayAccess` interface (never for the exceptions of this lib). So the `isset($response['code'])` test throws an `Error` exception (e.g. `Cannot use object of type Elasticsearch\Common\Exceptions\Missing404Exception as array` in your integration test) which

[2019-01-08 19:05] polyfractal commented on #798
Hey folks, versions `6.1.0`, `5.4.0`, and `2.4.0` tagged and pushed which include the PHP 7.3 changes.

Thanks again for your patience :)

[2019-01-09 12:03] robtesch commented on #798
Hi there @polyfractal, thanks so much for all the work. In my project, the elasticsearch-php package is a sub-dependency, so in order to force an update to 6.1 I tried to simply add it to my dependencies directly, using "^6.1.0" as the version constraint. Unfortunately it doesn't appear that this release is on packagist. Am i perhaps doing something wrong here?

[2019-01-09 13:44] eigan opened #830 "Recent release is not available on packagist"
5.4 and 6.1 at least :)

https://packagist.org/packages/elasticsearch/elasticsearch

[2019-01-09 16:35] polyfractal commented on #830
Looks like we are using a deprecated web-hook and packagist stopped being notified.  Kicked off a manual update and will change the hook now.

- https://packagist.org/packages/elasticsearch/elasticsearch#v6.1.0
- https://packagist.org/packages/elasticsearch/elasticsearch#v5.4.0
- https://packagist.org/packages/elasticsearch/elasticsearch#v2.4.0

Thanks for the ping!

[2019-01-09 16:35] #830 closed

[2019-01-09 16:50] polyfractal commented on #829
Oh wow, that endpoint has long since been removed from Elasticsearch.  We need to remove it from the client!  Sorry about that!

Try the `snapshot` namespace instead (corresponds to [Snapshot/Restore in ES docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-snapshots.html#_snapshot)).  E.g.:

[code]
So in PHP it'd be something like:

[code]

[2019-01-09 16:57] polyfractal commented on #798
@robtesch no worries at all, it was a problem on our side (https://github.com/elastic/elasticsearch-php/issues/830).  The repo has/had an outdated webhook which caused Packagist to stop updating.  I kicked off a manual update and we're installing the new webhook now :)

[2019-01-13 16:06] yochanan-gurovich opened #831 "Error: Cannot use object of type Elasticsearch\Common\Exceptions\Missing404Exception as array"
Trying to get a document by an ID that does not exist.
Code is in a try / catch block, and is caught.
The above error is thrown still.

Code snippet (username, password and host are masked):
[code]

- Operating System: Ubuntu 18.04
- PHP Version: 7.2
- ES-PHP client version: 6.1.0
- Elasticsearch version: 6.5.4 (Elastic Cloud)

[2019-01-14 15:37] polyfractal commented on #831
Can you paste the full exception stack, so I can see where it's originating from?

[2019-01-15 11:43] yochanan-gurovich commented on #831
#0 /home/forge/6day.store/vendor/elasticsearch/elasticsearch/src/Elasticsearch/Connections/Connection.php(279): Elasticsearch\Connections\Connection->process4xxError(Array, Array, Array)
#1 /home/forge/6day.store/vendor/react/promise/src/FulfilledPromise.php(25): Elasticsearch\Connections\Connection->Elasticsearch\Connections\{closure}(Array)
#2 /home/forge/6day.store/vendor/guzzlehttp/ringphp/src

[2019-01-21 05:33] gamelife1314 commented on #805
Did you set proxy environment (http_proxy, https_proxy) ?

[2019-01-22 11:27] mesaglam opened #832 "Same config not working for second index"
### Same config not working for second index
The first index below working great with option **sort=an:desc** ; the second one giving the error "Fielddata is disabled on text fields by default. Set fielddata=true on ....". But as you see, it is already defined as date. Same config works for first index. I couldn't figure it out.

### Code snippet of problem

[code]

[code]

### System details

Apa

[2019-01-25 10:05] jkocour commented on #676
Hi, can you please apply the bugfix to v6.0?

[2019-01-25 21:04] mwleinad opened #833 "How would I go about adding AWS v4 signature headers"
I have a project with a policy to allow access from specific IPs.
This works correctly but is a PITA to add IP's every time someone decides to work remotely or something.

I'd like to use an IAM user instead.

According to AWS
"To do authentication with Elasticsearch using IAM roles, you have to add AWS v4 signature headers to the requests being sent to Elasticsearch"

But I can't find documentati

[2019-01-29 03:03] smartyaunt opened #834 "how to mock response json, body params not file"
$handler = new MockHandler([
            'status' => 200,
            'transfer_stats' => [
                'total_time' => 100
            ],
            'Content-Type' => 'application/json',
            'body' => json_encode(['name' => 'Taylor']),

        ]);

[2019-02-05 14:58] petsoukos opened #836 "Connection time out Nginx+Elasticsearch+ES-PHP"
Constantly getting:
"upstream time out (110: Conncetion timed out) while reading response header from upstream.."

There is an Nginx server sitting infront of ElasticSearch and I can access and get results via browser url and/or POSTMAN. While trying with PHP it hangs until it times out.

### Code snippet of problem
Nginx Config file:

[code]
Simple PHP script taken directly from the official Docu

[2019-02-05 16:06] petsoukos commented on #836
Doing this works as expected.
[code]

[2019-02-05 16:18] petsoukos commented on #836
This worked finally
[code]

[2019-02-05 16:18] #836 closed

[2019-02-14 12:40] #801 closed

[2019-02-18 08:44] l1905 opened #837 "suggest in Endpoints getURI() method use getXXX() method"
### Summary of problem or feature request

in Endpoints getURI() method why not use getXXX(),  only use set setXXX(), I think it is not readable

If necessary， I can add pr

### Code snippet of problem

[code]

 **$this->id**

**$this->index**

**$this->type**

### System details

- Operating System: macos
- PHP Version: 7.1.13
- ES-PHP client version:  ~5.0
- Elasticsearch version : 5.6

[2019-02-21 12:28] Dillon-Brown opened #838 "Hosting company is blocking ports because of YamlRunnerTest.php"
### Summary of problem or feature request

Example email from hostgator but this issue is occurring with other hosts:

"Dear Customer,

As provider of Shared Hosting services, we monitor the usage of all our customers to ensure that our Quality of Service is not adversely affected. Our goal is to ensure that one customer should not affect all the other customers on the same server.

As part of our

[2019-02-21 17:23] polyfractal commented on #838
Uhh, I think you need to find out why your hosting company thinks these files are malicious.

This is the test runner that we use to execute yaml tests (from the ES repo) against a running ES cluster.  There must be something about it that tripped their security scanner, and it sounds like their security scanner is over-zealous and not very intelligent.

There's nothing overtly malicious about the

[2019-02-21 17:56] Dillon-Brown commented on #838
Hi @polyfractal, I can do some investigating to try and see why exactly this is being triggered but it's happening across multiple hosting companies. I agree there's nothing malicious in this file but ideally it shouldn't be getting picked up by these security scanners.

Removing the tests directory isn't really a solution as when clients are running ```composer install --no-dev``` it's going to d

[2019-02-21 18:27] polyfractal commented on #838
Agreed that it's not good, although I really have no idea what about the file they are flagging as malicious (as opposed to other areas of the code that do similar things like opening curl connections).  Perhaps it's how the test runner iterates over the yaml files that is tripping the scanner?

I can look into including [`.gitattributes`](https://madewithlove.be/gitattributes/), which would allow

[2019-02-21 18:32] polyfractal commented on #838
Another option, albeit hacky and not great, is to use a post-install/post-update script in Composer to remove the test directory: https://getcomposer.org/doc/articles/scripts.md

[2019-02-22 10:23] bulkerke opened #839 "Laravel-Elasticsearch: index_not_found_exception"
I'm working on a cloned Laravel project that uses 2 languages. When accessing the page in de language, it works. But when accessing with EN, it gives an index_not_found_exception.. I'm very new in Laravel en ES and need to work with this project..

Log file:

[code]
](url)

ElasticSearch:

curl -XGET localhost:9200/
[code]

- Mac osx
- PHP 7.1
- Laravel 5.5
- ES 5.4

[2019-02-24 11:10] masoudjahromi opened #840 "Update problem in version 6.1: Update API does not work as expected"
in version 6.1, when I want to update the age field, it deletes the other fields in the index and only age field will be remain. this problem doesn't occur in version 6.0.

- $endpoint->getURI()

[code]

- $endpoint->getBody()

[code]

[code]

[2019-02-28 12:49] jeremyrncp opened #841 "No type with reason is FORBIDDEN"
https://github.com/elastic/elasticsearch-php/blob/0be4afde22689ffaff2324efb7604b522b5a9ccd/src/Elasticsearch/Connections/Connection.php#L703

In my environnment, have no type with reason is FORBIDDEN and get index type throw an error:

dump $root
``
array(1) {
  [0]=>
  array(1) {
    ["reason"]=>
    string(9) "FORBIDDEN"
  }
}
``

[2019-03-01 16:12] polyfractal commented on #841
Sounds like you are trying to access a resource/server that is protected by authorization?

[2019-03-01 19:59] jeremyrncp commented on #841
Yes et in that use case, error no contain type

[2019-03-04 08:04] sayid opened #842 "how to close connection?"
how to close connection?

[2019-03-04 11:57] Dillon-Brown commented on #838
@polyfractal For now I've gone ahead and just added this to a post-package-install script, I'm not sure if the security scanner is going to pick up the file before it gets removed though.... For reference this is the scanner that is picking up YamlRunnerTest.php as malicious: https://www.sitelock.com. It would be really great if you guys could add a .gitattributes file for this.

Thanks for the as

[2019-03-04 13:45] Thomblin commented on #831
I have the same problem here, is a patch available?

[2019-03-04 14:23] polyfractal commented on #842
You can null out the `Client` object, and that will close any open curl multi-handles.

[2019-03-05 05:14] #842 closed

[2019-03-05 05:20] sayid opened #845 "how to use ConnectionPool,if my software is based on swoole?"
how to use ConnectionPool,if my software is based on swoole?

[2019-03-05 05:26] sayid commented on #845
[code]
It is my testcase,and work normally.
my env is php7.1,swoole4.

[2019-03-05 14:16] polyfractal commented on #841
Yeah, that's not unexpected.  That error handler is there to parse Elasticsearch errors in a specific syntax.  Random HTTP errors from proxies/auth/etc don't fit the ES error syntax and the fields won't be fully populated.

[2019-03-06 02:59] zerkms opened #846 "Search request with body is missing transfer-encoding or content-length"
### Summary of problem or feature request

It was raised before https://github.com/elastic/elasticsearch-php/issues/737 but closed without further discussion.

It is indeed allowed to send body with GET method.

The problem is that as long as you provide one you must then specify either `Content-Length` or `Transfer-Encoding` or both (https://tools.ietf.org/html/rfc7230#section-3.3)

None of those

[2019-03-06 10:28] Noctis17 commented on #196
Hello sir @polyfractal

Thank you for your answer, it has given me a guide how to do aggregation in elasticsearch to php
But I got a quick question, how about if I want to do functionalities such as "sum"?

And whenever I perform the code:

$params = [
			'index' => 'mmi.webs',
			'type'	=> '_doc',
			'body'  => [
				'aggs' => [
					'art_ad_val_sum' => [
						'terms' => [
							'field' => 'art

[2019-03-06 10:47] Noctis17 opened #847 "Request does not support [aggs]"
### Summary of problem or feature request
Trying to test out aggregate functions, specifically the "sum" function that can be done in MySQL query. However when I roamed around and seen other issues, I followed correctly all the syntax and logic but gives me an error message "{"error":{"root_cause":[{"type":"parsing_exception","reason":"request does not support [aggs]","line":1,"col":2}],"type":"pa

[2019-03-12 02:09] dlapointeus opened #850 "PHP v6.1.0 client NoNodesAvailableException"
### Summary of problem or feature request

We are currently running against a 2.4 deployment on Elastic cloud in our production environment, using PHP client.  We want to upgrade to version 6.x, and have created a new deployment on the cloud (v6.6.1), and have installed the PHP 6 client using Composer.  When attempting to make a simple connection on a Windows (7) machine running PHP 7.2.1 we are g

[2019-03-12 10:08] dlapointeus commented on #850
This issue was resolved by disabling SSL verification, as there was no certificate on the development machine.

[2019-03-12 10:08] #850 closed

[2019-03-13 12:05] mjgmettrr commented on #812
For anyone coming from a Google search, I fixed this by adding the following to my .env:

SEARCH_ENABLED=true
SEARCH_HOSTS=localhost:9200

[2019-03-14 10:58] mesaglam commented on #832
Any hope?

[2019-03-14 16:35] polyfractal commented on #832
Sorry for delay.  I think what's happening is the [`_default_` mapping has been deprecated](https://www.elastic.co/guide/en/elasticsearch/reference/current/default-mapping.html) in 6.0.0 since you can no longer use multiple types.  So I'm guessing what happened is you created the index with `_default_`, the index was created and threw a deprecation warning but no default mapping was created (becau

[2019-03-15 07:45] mesaglam commented on #832
Hi, thank you for your answer first of all. I've changed my mappings like this below for that two indices;

For indices 1:

[code]

For indices 2:

[code]

And I've removed all indexes created before and recreate it. But still no luck...
For index "log" sorting by "an" works great; for index "trace" it giving the error. Everything is same except index name..

[2019-03-15 18:20] polyfractal commented on #832
Hmm. Can you paste the output of a GetMappings request so we can see what the `trace` index's mapping looks like?

[2019-03-16 17:46] titoff002 opened #852 "How to use use Elasticsearch\ClientBuilder with addProcessor?"
I would like to add the "AddProcessor" option in a search query (with use Elasticsearch\ClientBuilder;)

I do so:

`    $params = [
        'index' => $index,
        'type' => $type,
        "processors" => [
          [
            "convert" => [
              "field" => "doc.field_pricemax.keyword",
              "type"=> "integer"
            ]
          ]
        ]   ,
         'body' => [

[2019-03-16 17:57] titoff002 commented on #852
My problem is that I would like to make a "range" on a data of my document, but this one is considered like a "String" and thus the "range" with the ltegte does not work.

So, I think to do a "cast" (hence the use of the "processor").

Otherwise do you know how to cast a string to an integer?

[2019-03-18 13:34] titoff002 opened #853 "How to use"
Hello,

Question : how to use this elasticsearch tag **"script":** with elasticsearch- php ?

[code]

[2019-03-18 13:41] polyfractal commented on #852
If you're referring to Ingest Processors, those only work when you are indexing documents.  They don't work with the Search API.

The Range query will work on textual fields, although it's alphanumeric ordering.

There isn't a way to "cast" already-indexed data to a different type.  Internally different types are stored in different data structures, so if you want a different underlying field type

[2019-03-18 14:36] pittersnider opened #854 "Can't connect to AWS ES Service (Bad Request)"
### Summary of problem or feature request
I am trying to connect to an AWS elastic service through Symfony, as below:
![image](https://user-images.githubusercontent.com/13719228/54537272-01b0b200-4971-11e9-8107-1f9bbb9050a6.png)

However, I get this error:
![image](https://user-images.githubusercontent.com/13719228/54537368-20af4400-4971-11e9-832c-906159d47b75.png)

My credentials (from picture #1

[2019-03-19 08:09] mesaglam commented on #832
Sorry for late response. You can check here:

[http://85.96.187.42:9200/log/?pretty=true](url)

[http://85.96.187.42:9200/trace/?pretty=true](url)

[2019-03-19 20:12] pittersnider commented on #850
@dlapointeus How did you disabled the SSL verification?

[2019-03-19 20:12] pittersnider commented on #833
I am also needing this.

[2019-03-19 21:24] dlapointeus commented on #850
Hi - we called the method when instantiating the client (where '$this->hosts' is just an array of connections to the Elastic cloud):
$client = Elasticsearch\ClientBuilder::create()->setHosts($this->hosts)->setSSLVerification(false)->build();

    On Tuesday, March 19, 2019, 4:12:27 PM EDT, João Pedro Viana <notifications@github.com> wrote:

@dlapointeus How did you disabled the SSL verification?

[2019-03-19 21:33] dzejson91 commented on #646
Problem: connection client to elasticsearch.
Solution: https://www.elastic.co/guide/en/elasticsearch/client/php-api/current/_configuration.html

`$client = ClientBuilder::create()->setHosts(['<elastic_host>:<elastic_port>'])->build();`
...

[2019-03-20 20:52] morksmail commented on #393
Google lead me here. If $client->index($params); isn't returning, check your logs. I my case it was an out of memory error. Increase the limit and/or make sure the message size is sane.

[2019-03-27 10:27] najdanovicivan opened #855 "Failed to JSON encode: 5 when using unicode emojis in the request body"
### Summary of problem or feature request

When I try to index document which contains unicode emoji characters in the body I get the error 5 with json encode method

### System details

- Operating System: All OS
- PHP Version: 7.2
- ES-PHP client version: 6.1.0
- Elasticsearch version 6.6.1

[2019-03-27 15:17] hkirsman commented on #664
I don't remember how it was solved but the site is in prod :)

[2019-03-27 15:17] #664 closed

[2019-03-29 11:42] safecat opened #859 "SearchHitIterator key duplicates"
### Summary of problem or feature request

SearchHitIterator will produce duplicate keys when having multiple "pages", the iterator key will be reset to 0 after every scroll be performed. First contributor of this class did write a property `$current_key`, but forgot to use it, that's the actual key to use. see: https://github.com/elastic/elasticsearch-php/blob/7241e69095ce52c121fe2e9491fa2a7207be

[2019-04-03 14:23] ezimuel commented on #859
Hi @safecat, I'm the new maintainer of this library. I'll review this PR soon. Thanks!

[2019-04-05 14:03] turkelt0n opened #863 "Interface enforces constructor"
### Summary of problem or feature request

https://github.com/elastic/elasticsearch-php/blob/8248c9f0886f863d033131ceb9dce1f8b0b093a8/src/Elasticsearch/Connections/ConnectionFactoryInterface.php#L28

I'm having trouble understanding the purpose of a constuctor being defined inside an interface. As I understand the purpose of the interface is to ensure an implementaion of a ConnectionInterface is d

[2019-04-05 15:51] panique commented on #812
FYI in my case i could fix it by doing a `php artisan config:clear` and NOT doing a `config:cache` (maybe the cached version of the config somehow messes of the elasticsearch host settings)

[2019-04-05 16:03] okneloper commented on #863
Agreed, a constructor doesn't make any sense on an interface. It has the opposite effect to the purpose of an interface (which is to abstract things).

[2019-04-12 13:08] PascalThesing opened #865 "Add ElasticSearch 7 params to old versions"
### Summary of problem or feature request

I am using "elasticsearch/elasticsearch": 5.4.0 to support elasticsearch 5.0 and upper.
Since Elasticsearch 7.0 was released, type shouldn't be used for creating Mappings.
https://www.elastic.co/guide/en/elasticsearch/reference/master/removal-of-types.html

Since elasticsearch/elasticsearch put mapping requires a type for elasticsearch 5:
https://github.c

[2019-04-16 09:28] Aassifh opened #866 "Slices param in updateByquery function doesn't work"
Hi,
I'm trying to put a slices param in my params array for the updateByquery function but it does seem to work ?

Help ?

Thanks

[2019-04-18 07:46] timoschinkel opened #869 "Trailing slashes breaking some operations when using a credential provider"
The exception is thrown in another library - https://github.com/jeskew/amazon-es-php - but maybe the fix should be made in this repository. Therefore I am raising an issue in this repository as well.

For reference, the issue in https://github.com/jeskew/amazon-es-php: https://github.com/jeskew/amazon-es-php/issues/17

When switching Elasticsearch cluster I copied the endpoint uri and received the

[2019-04-18 09:08] mesaglam commented on #832
Finally! I solved this by change the order key index in body. So weird..

[code]

[code]

[2019-04-18 09:08] #832 closed

[2019-04-18 13:49] #595 closed

[2019-04-18 23:47] ezimuel commented on #865
@PascalThesing I'm working to release elasticsearch-php 7.0.0 soon, I'm still fixing some issues for 6.7. Thanks for reporting this!

[2019-04-19 04:04] ezimuel commented on #824
Fixed by #814

[2019-04-19 04:04] #824 closed

[2019-04-19 13:38] ezimuel commented on #869
@timoschinkel the `hosts` parameter for `Elasticsearch\ClientBuilder` should be specified using `hostname:port` syntax or `https://hostname:port` without the trailing slash, see the documentation [here](https://www.elastic.co/guide/en/elasticsearch/client/php-api/current/_configuration.html#_inline_host_configuration). If you use trailing slash this is a syntax error.
If you have problem using the

[2019-04-19 13:38] #869 closed

[2019-04-19 16:36] #859 closed

[2019-04-20 15:13] oogFranz opened #875 "AlreadyExpiredException is thrown incorrectly when the query includes the error name."
### Summary of problem or feature request
When 400 error occurred, the client may throw AlreadyExpiredException event if the error is NOT AlreadyExpiredException surely.

### Code snippet of problem
This is an example.

[code]
Because the query includes "AlreadyExpiredException", the error is regarded as  AlreadyExpiredException. It should be parse_exception.

This code has the problem.
https://gi

[2019-04-20 15:29] oogFranz commented on #875
Further more, the AlreadyExpiredException seems be removed since Elasticsearch 6.0.0.
https://github.com/elastic/elasticsearch/pull/24857

It is better to remove the if statement from elasticsearch-php also/¥.

[2019-04-23 09:56] ezimuel commented on #762
Solved in #763

[2019-04-23 09:56] #762 closed

[2019-04-23 20:41] joemsanchez opened #878 "How to echo data from specific field(s)"
### Summary of problem or feature request

Ok not really a problem, its more of lack of understanding on my part.  Using quickstart, I have a search query below.  The query works great, but I want to build something off that data.  For instance, I want to echo a field labeled "beat,name", and a field labeled "Total".  I assume I could echo it as an array like ```$result['_source']['Total']```.  Th

[2019-04-24 10:31] petericebear opened #880 "ElasticSearch 7 compatibilty"
Hi,

Is it possible to use the Elasticsearch PHP module or is it best to wait for a new release?
Any change you can give an estimate of the release for Elasticsearch 7?

Currently I am using the version 6 version, and for what I need is it good enough at this point. Just curious about the timeframe.

Greetings,
Peter

[2019-04-24 11:06] WebkulOpencart opened #881 "Function Missing in ClientBuilder.php file"
### Summary of problem or feature request
I have found that defaultLogger() function is missing in this file which used to set the elastic search log file path initialization before calling the setlogger() to set the custom log file to store the elastic search logs.

### Code snippet of problem

### System details

- Operating System Linux
- PHP Version 7.1
- ES-PHP client version 6.0
- Elasticsea

[2019-04-25 09:38] LJFPHP opened #883 "Types cannot be provided in put mapping requests, unless the include_type_name parameter is set to true"
I encountered this error when I updated mapping.
My guess is that because of the type change after elasticsearch-7.0, the current version of ES-PHP is not compatible with the latest es version. So how to solve this problem? Modifying the source code is too complicated

This is the first time for me to submit a question in English. Thank you for your reply

- Operating System
- PHP 7.1
- ES-PHP mas

[2019-04-25 20:12] tegansnyder commented on #883
I haven't checked this myself, but there is an option to include a custom param:
https://github.com/elastic/elasticsearch-php/blob/master/docs/per-request-configuration.asciidoc#providing-custom-query-parameters

Not tested:
[code]

[2019-04-26 01:31] LJFPHP commented on #883
Thank you. It works.Here is the code

 $params = [
            'index' => 'user',
                'custom' => [
                    'include_type_name' => true
            ],
            'type'=>'_doc',
            'body' => [
            'properties' => [
]
]
]

[2019-04-26 01:35] #883 closed

[2019-04-26 07:36] ezimuel commented on #880
@petericebear I'm working to release 7.0.0 asap (maybe next week). Today I'll release 6.7.0 to fix some missing changes in the Elasticsearch API.

[2019-04-26 09:22] philkra commented on #53
Bulk is available, https://github.com/elastic/elasticsearch-php/blob/master/src/Elasticsearch/Client.php#L741

[2019-04-26 09:22] #53 closed

[2019-04-26 09:23] philkra commented on #151
lib version no longer supported

[2019-04-26 09:23] #151 closed

[2019-04-26 09:33] philkra commented on #493
@jorgenb is this still an open issue?

[2019-04-26 09:38] philkra commented on #854
@pittersnider, could you please verify if the referenced issue of @y80x86ol is solving your problem? Or generally speaking is this issue still present?

[2019-04-26 09:52] philkra commented on #847
If you want to do a sum aggregation with the name `art_ad_val_sum` over the field `art_ad_val` you need to use the [`sum` metric aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/6.6/search-aggregations-metrics-sum-aggregation.html). You used the `terms` agg.

please try the following:

[code]

Can you confirm that it's working?

[2019-04-26 10:56] jorgenb commented on #493
I have solved it, so feel free to close. Thanks.

[2019-04-26 11:36] philkra commented on #808
issue solved

[2019-04-26 11:36] #808 closed

[2019-04-26 11:38] philkra commented on #804
Is this issue still relevant? We're you able to solve it?

[2019-04-26 11:39] philkra commented on #802
@vikram0460 could you resolve the issue?

[2019-04-29 06:05] vikram0460 commented on #802
@philkra After I changed the search format to like this then it is worked
[code]

[2019-04-29 06:05] #802 closed

[2019-04-29 13:47] gempir opened #887 "GitException when running RestSpecRunner"
When running the `php util/RestSpecRunner.php` like described here:
https://github.com/elastic/elasticsearch-php/blob/master/.github/CONTRIBUTING.md

I get the following problem:

[code]

### System details
- OS macOS 10.14
- PHP 7.2.5
- Version master (0661e83cbfe7f3b548e8cd409028d4575e951cc6) or my branch  https://github.com/gempir/elasticsearch-php/tree/index-closed
- ES 6.5.4

[2019-04-30 10:50] ezimuel commented on #887
@gempir you need to run this command before the `RestSpecRunner.php` execution:
[code]
Basically, this command fetch `util/elasticsearch` folder with the submodule. After that, you can run `util/RestSpecRunner.php` to checkout the specific tag version of the running Elasticsearch.
Please note that I updated the integration tests to work with docker, using the script [travis/run_es_docker.sh](https

[2019-04-30 11:05] gempir commented on #887
Sorry! That was even documented in the CONTRIBUTION file, I overread it. My bad. Thanks!

[2019-04-30 11:05] #887 closed

[2019-05-02 15:37] ezimuel commented on #881
@WebkulOpencart the defaultLogger() has been removed with elasticsearch-php v. 6.0, see #674. It is recommended to create the logger object manually, see [here](https://github.com/elastic/elasticsearch-php/blob/master/docs/configuration.asciidoc#enabling-the-logger).

[2019-05-02 15:37] #881 closed

[2019-05-02 15:52] ezimuel commented on #865
@PascalThesing I've already added `include_type_name` for `Elasticsearch\Endpoints\Indices\Mapping\Put` and  `rest_total_hits_as_int` in `Elasticsearch\Endpoints\Search` for 6.7.0. I'll add the missing `track_total_hits` for 7.0.0.

[2019-05-02 15:58] ezimuel commented on #863
@turkelt0n and @okneloper I'll remove it in 7.0.0. I agree, doesn't make any sense.

[2019-05-02 20:16] PascalThesing commented on #865
Is there any reason for not adding track_total_hits to 6.7.0?

[2019-05-03 14:04] ezimuel commented on #865
No reason, I'm considering to add it in 6.7.1.

[2019-05-03 20:31] PascalThesing commented on #865
That would be awesome!

[2019-05-06 07:12] Hyperkubus commented on #880
Any news on the 7.0.0 version?

[2019-05-07 02:38] jgorlin commented on #880
I’m also looking for a version compatible with 7.0. Any ETA on availability?

[2019-05-10 03:13] anam-hossain opened #891 "Tests broken on ElasticSearch php v6.7.0"
### Summary of problem or feature request

Unit tests broken on ElasticSearch PHP v6.7
[code]

Mock handler not working anymore.

### Code snippet of problem
[code]
When run it, it returns

[code]
After debugging I found that at line 568 in Connection.php, the $uri returning null where its expecting string.

[code]
### System details

- Mac OS 10.14.4
- PHP 7.3
- ES-PHP client version: v6.7.0

[2019-05-13 07:29] ezimuel commented on #880
@Hyperkubus, @jgorlin I'll release the 7.0.0 version later this week.

[2019-05-13 13:36] benanderton commented on #509
For anyone struggling for an answer I came across an issue with this today. I'm using Docker and had internal hostnames with underscores (ie, `portal_elasticsearch`). I raised a question on Stack Overflow before realising that the elasticsearch PHP API won't work with underscores in host names (as it probably shouldn't, in all honesty) without some faffing.

There's more of an explanation on SO -

[2019-05-13 13:36] benanderton commented on #805
I came across a similar issue regarding the hostname, please see https://github.com/elastic/elasticsearch-php/issues/509#issuecomment-491825174

[2019-05-13 13:37] benanderton commented on #804
Just on the off chance take a look at https://github.com/elastic/elasticsearch-php/issues/509#issuecomment-491825174 @passika

[2019-05-13 13:38] benanderton commented on #646
I had a similar problem, it turned out to be an invalid hostname; https://github.com/elastic/elasticsearch-php/issues/509#issuecomment-491825174

[2019-05-16 16:22] chamarts commented on #646
huh this is so annoying. its happening only in linux box (redhat). the same code perfectly working from my laptop windows with ip address. not a single line changed but somehow it gives up connecting to host. both client and server on same box and I am using public ip to talk to server

[2019-05-20 03:28] thanhnv37 commented on #880
Any updates on the version 7.0?
Thank you very much for your great work.

[2019-05-20 07:10] michaelpetri commented on #880
Is there anyway we can help with the release?

[2019-05-20 08:32] xxshazxx opened #893 "WARNING:elasticsearch:POST http://xxxx:9200/_bulk [status:400 request:0.004s]"
I've updated to the latest twint and I'm getting the error message:
WARNING:elasticsearch:POST http://192.168.1.10:9200/_bulk [status:400 request:0.004s]

`            d = twint.Config()
            d.Username = u_twitter
            d.Elasticsearch = "192.168.1.10:9200"
            d.Index_tweets = db_tweets
            d.User_full = False
            d.Since = since_date
            try:

[2019-05-20 13:24] ezimuel commented on #880
I'm running some issue with integrational tests, I'm fixing it an it will follow the release.
@michaelpetri thanks for you help, I think at this stage it will be helpful to look for issues or outdated info in the [documentation](https://github.com/elastic/elasticsearch-php/tree/master/docs).
Thanks for your support!

[2019-05-20 14:20] ezimuel commented on #865
@PascalThesing, @shyim just released 6.7.1: https://github.com/elastic/elasticsearch-php/releases/tag/v6.7.1 with `track_total_hits` in search endpoint.

[2019-05-20 14:30] #865 closed

[2019-05-22 13:12] philkra commented on #893
Please note that this is the PHP agent and you are asking a Python specific question, please consult the py client: https://github.com/elastic/elasticsearch-py

[2019-05-22 13:12] #893 closed

[2019-05-23 13:39] Adriks976 commented on #548
+1

[2019-05-28 14:48] mcambal commented on #750
@wespiremedia How did you solve it?

[2019-05-30 12:04] StringKe commented on #880
When is the release of the test version, there are many people who are willing to help fix the problem.

[2019-06-04 15:02] CheerfulPlum commented on #891
Hey @anam-hossain. Have found a workaround for this. Passing in a effective_url key into the MockHandler constructor will fix the issue and it'll return your body when you call index (or in my case search).
[code]

@ezimuel should I do a pull request to update the README?

[2019-06-05 11:39] eXistenZNL commented on #880
Any updates on this? Looking forward to it!

[2019-06-05 11:46] wespiremedia commented on #750
@mcambal I created a separate SearchController and initialized ES in the constructor:

[code]

To run a search request:

[code]

Hopefully this will help you!

[2019-06-05 15:25] ezimuel commented on #880
@eXistenZNL, @StringKe I've almost completed the `elasticsearch-php` 7.0.0. You can find a preview in [feature/7.0.0](https://github.com/ezimuel/elasticsearch-php/tree/feature/7.0.0) branch of my repo `ezimuel/elasticsearch-php`.

If you see the results of Travis CI, there are still [3 errors](https://travis-ci.org/ezimuel/elasticsearch-php/jobs/541793539#L796) and [12 failures](https://travis-ci.

[2019-06-06 02:36] willyk commented on #880
Hi @ezimuel,
Congratulate yourself for the work, we just did the tests and it works
We expect the release in the stable branch for productive environments ASAP

[2019-06-06 23:05] michaelpetri commented on #880
Thanks for your work!

[2019-06-07 02:19] anam-hossain commented on #891
@CheerfulPlum Thank you very much.

[2019-06-07 07:24] philkra commented on #891
@CheerfulPlum , thank you very much for solving this 👍

[2019-06-07 08:46] CheerfulPlum commented on #891
Update to docs here: https://github.com/elastic/elasticsearch-php/pull/896

[2019-06-09 03:37] thanhnv37 commented on #880
I can confirm that it works well with Elasticsearch 7.0.1.
Thanks for your great work!

[2019-06-10 06:42] txj123 commented on #880
Thanks for your great work!

[2019-06-11 15:03] ezimuel commented on #880
I finally fixed all the integration tests! Now the [tests are passing](https://travis-ci.org/ezimuel/elasticsearch-php/builds/544270647) on Travis CI. I'll release 7.0.0 tomorrow than!

[2019-06-13 15:44] ezimuel commented on #880
I just released [elasticsearch-php 7.0.0](https://github.com/elastic/elasticsearch-php/releases/tag/v7.0.0). Thanks to all of you for the support!

[2019-06-13 15:44] #880 closed

[2019-06-13 16:15] sn01615 commented on #853
[code]

[2019-06-13 16:21] sn01615 commented on #878
[https://github.com/elastic/elasticsearch-php/issues/853#issuecomment-501772254](url)

[2019-06-14 06:46] ezimuel commented on #855
This is solved by #856.

[2019-06-14 06:46] #855 closed

[2019-06-14 06:47] ezimuel commented on #866
@Aassifh can you try with elasticsearch-php 7.0.0 and let me know? Thanks.

[2019-06-14 08:26] ezimuel commented on #863
Removed with elasticsearch-php 7.0.0, see [here](https://github.com/elastic/elasticsearch-php/blob/v7.0.0/src/Elasticsearch/Connections/ConnectionFactoryInterface.php).

[2019-06-14 08:26] #863 closed

[2019-06-14 09:07] ezimuel commented on #845
I didn't test the library with swoole extension. What is the problem you encountered?

[2019-06-14 09:09] ezimuel commented on #841
It seems the question has been answered. I'm closing it. @jeremyrncp let me know if you need or having more questions. Thanks!

[2019-06-14 09:09] #841 closed

[2019-06-17 14:11] ezimuel commented on #891
Fixed with #896

[2019-06-17 14:11] #891 closed

[2019-06-19 10:44] dotSpecs opened #900 "index to error host"
### Summary of problem or feature request

I have two elasticsearch on two separate hosts(**es-a** and **es-b**, for different business), and use nginx (on host **c**) for proxy(conf on below).

If I use curl to create for **es-a**, it works, but is I use elastcisearch-php sdk, the index will be create on **es-b**. The php code is below too.

### Code snippet of problem

[code]

### System details

[2019-06-19 11:39] dotSpecs commented on #900
Get it. I forget to set the port to 80, and it will be set to 9200 by default.

[2019-06-19 11:39] #900 closed

[2019-06-22 00:28] Luc45 opened #901 "Multithread indexing?"
### Summary of problem or feature request

Due to the single-thread nature of PHP, when indexing data in ES, the PHP process uses only 1 CPU core. If I had 8 cores, the index could go 8 times faster.

I was wondering if someone has found a way of spinning up multiple threads for faster indexing, and how did you do it? Pthreads? Exec? How to make them work concurrently, without one overwriting the

[2019-06-25 10:03] crispygoth opened #902 "Incorrect return typehint when using async requests / futures"
### Summary of problem or feature request

The return typehint on ``Elasticsearch\Client::performRequest()`` is incorrect for async requests as these return a ``FutureArrayInterface``

### Code snippet of problem

In the below code ``$aAddressBatch`` is an array of 100 documents to send to ES for indexing:

[code]

### Exception details

Exception thrown: TypeError: Return value of Elasticsearch\C

[2019-06-25 10:11] PutziSan commented on #805
In my case it was a problem with SSL certificates (on windows). [This SO response](https://stackoverflow.com/a/34883260/5627010) describes the solution:

1. download an official `cacert.pem` from https://curl.haxx.se/docs/caextract.html and save it where you want
1. add `curl.cainfo = "C:\your\path\cacert.pem"` to your `php.ini`

[2019-06-26 21:06] Luc45 commented on #901
I was able to achieve that with:

https://symfony.com/doc/current/components/process.html
https://github.com/graze/parallel-process

Pretty straightforward! I just had to distribute the number of documents according to the number of threads (`\Graze\ParallelProcess\PriorityPool::setMaxSimultaneous($number_of_threads)`) and let each thread handle a small portion of the queue concurrently, using all

[2019-06-26 21:06] #901 closed

[2019-06-27 09:18] Bybeez opened #903 "Error with date range filter"
Hello,

I'm trying to filter a search using the range filter but I get a "no [query] registered for [range ]", I tried a lot of different ways to build my query but none of them worked

Here is the body of my search request

[code]

- Ubuntu
- Php 7.3.6
- php-elasticsearch 6.0
- elasticsearch 6.6

[2019-06-27 10:05] #903 closed

[2019-06-28 14:04] ezimuel commented on #902
Thanks @crispygoth  for reporting the issue. I've created PR #905 for fixing the bug.

[2019-07-01 09:50] #902 closed

[2019-07-02 12:31] kickenhio opened #906 "Scroll TTL is extracted but not set as a body param., It cause scroll expired, so only second page is available."
https://github.com/elastic/elasticsearch-php/blob/2b9a84d606a21b7be55909fd2ab342fc66642fc8/src/Elasticsearch/Client.php#L1029

[2019-07-02 13:32] ezimuel commented on #906
@kickenhio thanks for reporting the issue. Did you try to pass the `scroll` parameter in the body of the request? Let me know, thanks.

[2019-07-03 05:35] kickenhio commented on #906
Yes I did and it works. But, still,  its kind of workaround and its not consistent to previous library version or function comment itself.

[2019-07-03 06:57] ezimuel commented on #906
@kickenhio I refactored all the endpoints to use the [new API specification](https://github.com/elastic/elasticsearch/tree/v7.0.0/rest-api-spec/src/main/resources/rest-api-spec/api) provided by Elasticsearch 7. I need to double check the `scroll` parameter in this case. I'll update you soon.

[2019-07-03 14:59] ezimuel commented on #906
@kickenhio I just sent this PR #907 that fixes the issue. Can you try and let me know? Thanks!

[2019-07-04 11:39] bishopj88 commented on #838
Don't want to bump an old issue, however BitNinja also, still, **falsely** quarantines this file as malicious.

BitNinja returns:

[2019-07-05 08:50] ezimuel commented on #878
Answered by @sn01615 in [#853 comment](https://github.com/elastic/elasticsearch-php/issues/853#issuecomment-501772254)

[2019-07-05 08:50] #878 closed

[2019-07-05 08:51] #853 closed

[2019-07-05 08:53] ezimuel commented on #866
We added the `slice` parameter for updateByQuery endpoint in 7.0.0 [here](https://github.com/elastic/elasticsearch-php/blob/v7.0.0/src/Elasticsearch/Endpoints/UpdateByQuery.php#L96).

[2019-07-05 08:53] #866 closed

[2019-07-05 08:54] ezimuel commented on #852
Answered by @polyfractal

[2019-07-05 08:54] #852 closed

[2019-07-05 09:49] philkra opened #908 "Consolidate X-Pack into Client"
Please merge the [elasticsearch-x-pack-php](https://github.com/elastic/elasticsearch-x-pack-php) repository into the Client.

[2019-07-08 09:09] wd3mo opened #909 "indices exists always true"
### Summary of problem or feature request

In my indexer script I check if an index exists and if not I apply my schema. This check does not work since I tried elastic 7. I debugged into the lib and saw that the API returns a 200 - OK and this result is returned.

### Code snippet of problem

[code]

### System details

- Operating System: Docker for mac (Mojave)
- PHP Version: 7.3
- ES-PHP client

[2019-07-08 09:16] wd3mo commented on #909
sorry i found my problem.. -.-

[2019-07-08 09:16] #909 closed

[2019-07-08 12:56] #906 closed

[2019-07-08 13:10] ezimuel commented on #906
Feedback provided by @brunogaspar in #907

[2019-07-08 13:11] brunogaspar commented on #906
Thanks @ezimuel for the fix!

[2019-07-08 13:58] #838 closed

[2019-07-08 14:19] ezimuel commented on #838
@bishopj88, @Dillon-Brown Just merged #844 that should prevents the issue.

[2019-07-08 14:32] ezimuel commented on #110
Outdated issue. I can reopen it  if still an issue.

[2019-07-08 14:32] #110 closed

[2019-07-08 14:32] ezimuel commented on #128
Outdated issue. I can reopen it  if still an issue.

[2019-07-08 14:32] #128 closed

[2019-07-08 14:33] ezimuel commented on #174
I'm working on some automation tool for updating the documentation and all the API endpoints. Closing this issue at the moment.

[2019-07-08 14:33] #174 closed

[2019-07-08 14:35] ezimuel commented on #291
I'm working on a new `elasticsearch-php` client that will be released for the next major (8.0). This will support PSR-7, PSR-18.

[2019-07-08 14:35] #291 closed

[2019-07-08 14:39] ezimuel commented on #299
@designermonkey I think the best approach is still to use a hierarchy of Exception model. I've refactored the code a little bit in 7.0 and I've plan to rewrite it using a new Exception model for 8.0. Let me know if you have still feedback on this issue, thanks!

[2019-07-08 14:39] #299 closed

[2019-07-08 14:40] ezimuel commented on #336
This is something I'll improve in 8.0.

[2019-07-08 14:41] ezimuel commented on #405
Outdated issue. No still relevant in 7.0.0.

[2019-07-08 14:41] #405 closed

[2019-07-08 14:43] ezimuel commented on #429
This is something that I'm completely refactoring. I'll release it for the next major (8.0)

[2019-07-08 14:43] #429 closed

[2019-07-08 14:43] ezimuel commented on #431
Outdates issue.

[2019-07-08 14:43] #431 closed

[2019-07-08 14:44] ezimuel commented on #486
Outdated issue.

[2019-07-08 14:44] #486 closed

[2019-07-08 14:45] ezimuel commented on #493
Closing since it's solved.

[2019-07-08 14:45] #493 closed

[2019-07-09 08:21] Skill-Zozo commented on #839
Hi,

You can check if your index exists using [this](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-exists.html). If a 404 is returned then that index DNE. I ran into the same issue, turns out my ES client was configured to point to some remote server and not `localhost:9200`

[2019-07-09 09:44] halaei opened #910 "Search for b"ØªØ" leads to internal server error (json_encode error)"
### Summary of problem or feature request
It seams that searching for parse_str("%D8%AA%D8") (seems to be "ØªØ") results in internal server error:
Hit this url (maybe they are using elasticsearch like us?):

https://www.quora.com/search?q=%D8%AA%D8

In our server, here is the error:
[code]
### Code snippet of problem
`SmartSerializer` snippet:
[code]

### System details
- Operating System: Ubuntu

[2019-07-09 10:36] franmomu opened #912 "Wrong type hint of setBody of Endpoints\Ingest\Pipeline\Put"
### Summary of problem or feature request

I was testing with [Elastica](https://github.com/ruflin/Elastica/blob/master/test/Elastica/Base.php#L144) library and there were some errors because of [`setBody(string $body)`](https://github.com/elastic/elasticsearch-php/blob/master/src/Elasticsearch/Endpoints/Ingest/Pipeline/Put.php#L21). I've check and all the Endpoints extending `AbstractEndpoint` ov

[2019-07-09 12:37] Hrezaei commented on #912
I encountered the same problem by calling some thing like this:

[code]

The error is:

`Argument 1 passed to Elasticsearch\Endpoints\Ingest\Pipeline\Put::setBody() must be of the type string, array given, called in .../vendor/elasticsearch/elasticsearch/src/Elasticsearch/Namespaces/IngestNamespace.php on line 94`

[2019-07-09 22:05] leocarmo opened #914 "Client future lazy is not working with swoole"
Im using this package `swooletw/laravel-swoole` with elastic client with future lazy client and nothing happens.

If i remove the `'future' => 'lazy'` from client works.

Working:
[code]

Not working:
[code]

- PHP Version: 7.2
- ES-PHP client version: ~6.0
- Elasticsearch version: 6.7.0

[2019-07-10 12:24] halaei commented on #910
Sounds like this is just not a valid utf-8 query.

[2019-07-10 12:24] #910 closed

[2019-07-11 13:04] #912 closed

[2019-07-11 13:17] ezimuel commented on #548
Fixed with #782

[2019-07-11 13:17] #548 closed

[2019-07-11 13:18] #558 closed

[2019-07-11 13:18] ezimuel commented on #558
Outdated issue.

[2019-07-11 13:18] ezimuel commented on #574
This should be fixed with version 7.0.

[2019-07-11 13:18] #574 closed

[2019-07-11 13:23] pmishev opened #915 "IndicesNamespace::stats() not correctly documented"
I am trying to get an index size and doc count like that:
[code]
According to the phpdoc, these should be valid params
[code]
but I get:
[code]

[2019-07-11 16:07] slepp opened #916 "setSSLVerification type hint breaks CA cert validation"
### Summary of problem or feature request

In 6.7.1, the option to set the CA certificate for request TLS verification is allowed to be `false` or a string path to a CA certificate.

In 7.0, this has been changed to a type hint of `bool` on the method, which casts the string to `true` and self-signed certificates are no longer used.

### Code snippet of problem

[code]

### System details

- Linux

[2019-07-12 08:42] ezimuel commented on #916
@slepp I provided the PR #917 to fix this. I'll release it soon in 7.1.1

[2019-07-12 11:05] ezimuel commented on #914
The  [future](https://www.elastic.co/guide/en/elasticsearch/client/php-api/current/future_mode.html) features supports only Curl at the moment (using `curl_multi_*` functions). I'm planning to support `swoole` for the next major version (8.0.0).

[2019-07-12 11:05] #914 closed

[2019-07-12 12:05] ezimuel commented on #915
The phpdoc is not fully updated with Elasticsearch 7.0 endpoint specification. I'm working on it, I'll update for 7.2.0 release.

[2019-07-12 12:07] #916 closed

[2019-07-12 12:11] ezimuel commented on #779
Outdated issue. @kiros32 if you still have the issue let me now, i'll reopen it. Thanks!

[2019-07-12 12:11] #779 closed

[2019-07-12 12:13] ezimuel commented on #812
This issue seems to be resolved, read the comments.

[2019-07-12 12:13] #812 closed

[2019-07-12 12:17] ezimuel commented on #788
Outdated issue. @kane1656 if this is still an issue, I'll reopen it.

[2019-07-12 12:17] #788 closed

[2019-07-12 12:18] ezimuel commented on #789
Outdated issue. @ashishtiwari1993 if this is still an issue I'll reopen it.

[2019-07-12 12:18] #789 closed

[2019-07-12 12:19] ezimuel commented on #784
Outdated issue. @rawmaterials if this is still an issue I'll reopen it.

[2019-07-12 12:19] #784 closed

[2019-07-12 12:21] ezimuel commented on #744
Solved by @polyfractal in this [comment](https://github.com/elastic/elasticsearch-php/issues/744#issuecomment-376600220).

[2019-07-12 12:21] #744 closed

[2019-07-12 12:24] ashishtiwari1993 commented on #789
@ezimuel @polyfractal  Sorry guys for late reply. Currently i am using different connection for all child process, As we do with other databases ( In case of PHP). It is working perfect. But still i have above doubt.

[2019-07-12 12:26] ezimuel commented on #509
Outdated issue. @zakiaziz if this still relevant I'll reopen it.

[2019-07-12 12:26] #509 closed

[2019-07-12 12:27] ezimuel commented on #593
Solved by @polyfractal with commit https://github.com/elastic/elasticsearch-php/commit/b8ad96cec1d7cdf877e9448bd155d84010d9e82b

[2019-07-12 12:27] #593 closed

[2019-07-12 12:31] ezimuel commented on #600
Solved [here](https://lukewaite.ca/posts/2017/07/15/php-newrelic-instrumentation-elasticseach.html). I'm refactoring `elasticsearch-php` for version 8 to use PSR-7 and PSR-18 standards. That means, this issue will not be relevant anymore.

[2019-07-12 12:31] #600 closed

[2019-07-12 13:03] ezimuel commented on #789
@ashishtiwari1993 if you are using different connections for each child process it's ok.
There's actually an experiment that you can do for sharing the same client between processes using the `ClientBuilder::multiHandler()`.

You can create the `$client` as follows:

[code]
This will use the `curl_multi_init()` instead of `curl_init()` and in this way you can share the Curl connection between proc

[2019-07-12 13:41] ezimuel commented on #655
Outdated issue.

[2019-07-12 13:41] #655 closed

[2019-07-12 13:46] ezimuel commented on #623
Outdated issue.

[2019-07-12 13:46] #623 closed

[2019-07-12 13:47] ezimuel commented on #625
Outdated issue

[2019-07-12 13:47] #625 closed

[2019-07-12 13:48] ezimuel commented on #644
Outdated issue

[2019-07-12 13:48] #644 closed

[2019-07-12 13:55] ezimuel commented on #646
@chamarts do you still have the issue? Did you build the `$client` specifying the host?
[code]
where `<elastic_host>` is the hostname or IP address (default to localhost) and `<elastic_port>` is the port (default to 9200).
Moreover, did you check the response by @benanderton [here](https://github.com/elastic/elasticsearch-php/issues/509#issuecomment-491825174)?
Let me knowm, thanks!

[2019-07-12 13:56] ezimuel commented on #652
Outdated issue

[2019-07-12 13:56] #652 closed

[2019-07-12 13:56] ezimuel commented on #653
Solved by @polyfractal

[2019-07-12 13:56] #653 closed

[2019-07-12 13:58] ezimuel commented on #660
Outdated issue.

[2019-07-12 13:58] #660 closed

[2019-07-12 13:59] ezimuel commented on #708
Outdated issue. @VincentMolinie if this is still an issue I'll reopen it.

[2019-07-12 13:59] #708 closed

[2019-07-12 14:00] ezimuel commented on #709
Outdated issue.

[2019-07-12 14:00] #709 closed

[2019-07-12 14:18] ezimuel commented on #720
Outdated issue. @amit-sharma-dev if this is still an issue I'll reopen it.

[2019-07-12 14:18] #720 closed

[2019-07-12 14:33] ezimuel commented on #916
@slepp just released [elasticsearch 7.1.1](https://github.com/elastic/elasticsearch-php/releases/tag/v7.1.1) that fixes the issue. Thanks for reporting this issue!

[2019-07-15 05:56] guangfanqu opened #918 "How to set connection pool if the es nodes is behind the load balance in PHP?"
### Summary of problem or feature request

I have a elasticsearch cluster, the cluster is behind the load balance.
And the network client to cluster node is unreachable.

If set default pool `staticNoPingConnectionPool` and if one of the nodes is dead then the client will response "No alive nodes found in your cluster" in several minutes even if the dead node had returned to normal state .

In the

[2019-07-15 08:58] zannix opened #919 "Failed to JSON encode: 5"
### Summary of problem or feature request

For input that contains string:

"FELICIT└"

Line 34 of SmartSealizer:

$data = json_encode($data, JSON_PRESERVE_ZERO_FRACTION + JSON_INVALID_UTF8_SUBSTITUTE);

returns false.

It is specifically the character "└" that makes the json encode fail.

### System details

- Mac OS Mojave 10.14.4
- PHP 7.1.13
- ES-PHP 7.0.2
- Elasticsearch version 6.6.1

[2019-07-15 09:09] zannix commented on #919
I see I had to update PHP to 7.2 to make use of JSON_INVALID_UTF8_SUBSTITUTE.

[2019-07-15 09:09] #919 closed

[2019-07-15 09:45] ezimuel commented on #918
@guangfanqu if I got your point, the load balancer is the only service that you can connect from `elasticsearch-php`, right? If this is the case, you will have a domain name (or an IP address) for your Elasticsearch cluster managed by the load balancer. In your scenario, you don't need a connection pool from the client because it's managed by the load balancer.

In this case, I suggest to have a l

[2019-07-15 12:04] guangfanqu commented on #918
@ezimuel

Thanks a lot.

[2019-07-15 12:04] #918 closed

[2019-07-16 15:33] ezimuel commented on #797
@antonbormotov, @minhtran17 I don't know if this still relevant for you but we have [5.4.0](https://github.com/elastic/elasticsearch-php/releases/tag/v5.4.0) that points to the latest commit of 5.0 branch. I'm closing this issue, I'll reopen if you want. Thanks!

[2019-07-16 15:33] #797 closed

[2019-07-16 16:51] AdnanAsali commented on #720
yes its still an issue for me , I am trying to search through about 100,000 records in an index I created, when i tried the same method but only 18,000 data it worked fine,
note : the same the data set on both ends

[2019-07-17 16:32] nashgao opened #921 "no query registered for function_score"
I wanted to run a match query on different fields with weights. I used the function_score method but I kept getting no query registered for function_score.

This is my code:

`$params['body'] = [
                    'from' => "$from",
                    'size' => "$this->size",
                    'query'=>[
                        'function_score' => [
                            'query' => [

[2019-07-18 07:44] ezimuel commented on #727
Outdated issue, solved by @polyfractal. @nospoon I'm closing this issue, let me know if this is still relevant, thanks!

[2019-07-18 07:44] #727 closed

[2019-07-18 07:45] #731 closed

[2019-07-18 07:47] ezimuel commented on #804
Solved by @benanderton in https://github.com/elastic/elasticsearch-php/issues/509#issuecomment-491825174

[2019-07-18 07:47] #804 closed

[2019-07-18 15:23] ezimuel commented on #846
The issue is that for some endpoint we used `GET` instead of `POST` also if the body was not empty. I fixed this and released with [5.5.0](https://github.com/elastic/elasticsearch-php/releases/tag/v5.5.0).
I'm going to release the fix also for 6.1.1, 6.5.1 and 6.7.2. The 7.0 branch should not be affected by the issue, since I generated the code from the Elasticsearch API specifications.

[2019-07-25 09:01] solmstead25 opened #922 "php_uname is commonly included in disabled_functions"
### Summary of problem or feature request

`php_uname` is often disabled. With the 6.7.2 release, the client calling `php_uname` causes the client to fail when the function is disabled.

Another popular library has handled this case by doing the following:

https://github.com/ramsey/uuid/commit/8d621488c4ec9c67444bc30534bc174b6bba07ee#diff-1f1fa3efa8bc080f748917eab36a3262R65

The offending commit

[2019-08-03 10:00] pmishev opened #925 "Port is missing from log messages"
### Summary of problem or feature request

I can see that in v.7 the port has disappeared from the host. After further digging I see it's been specifically requested and fixed in https://github.com/elastic/elasticsearch-php/issues/548 & https://github.com/elastic/elasticsearch-php/pull/782

Perhaps it is a valid use case (although I don't really understand it), but the change seems to be causing p

[2019-08-08 16:08] ezimuel commented on #922
@solmstead25 I just created the PR #927 that fixes the issue. Can you try and let me know? Thanks for your support!

[2019-08-08 21:01] andrewnclark commented on #925
Working on something for this, the port information is available in the response. I need to modify the formatted cURL response to take note of the port and write a test or two. Should have something for you to look at it the next couple days.

[2019-08-10 16:40] ashishtiwari1993 commented on #706
@david-vde @polyfractal I have wrote one library on top of the ES-PHP SDK which use scroll API and dump data into CSV file. Kindly go through this. Even I am using in my system. Hope this can help you guys. [https://github.com/ashishtiwari1993/elasticsearch-csv-export](https://github.com/ashishtiwari1993/elasticsearch-csv-export) . Please suggest me if you find any improvement.

[2019-08-11 19:11] ezimuel commented on #925
@andrewnclark thanks, I look forward to your PR. When I merged #782 I didn't notice the change in the log. We need to be sure to provide a unit test for that.

[2019-08-12 09:34] ezimuel commented on #922
@solmstead25 do you have any feedbacks on #927? I would like to merge it asap, thanks.

[2019-08-13 07:49] KaidoRen opened #928 "Wrong parameters [7.1.1]"
`Wrong parameters for Elasticsearch\Common\Exceptions\ServerErrorResponseException([string $message [, long $code [, Throwable $previous = NULL]]])`
at _./vendor/elasticsearch/elasticsearch/src/Elasticsearch/Connections/Connection.php_:**632**:

[code]

Even exceptions don't help. How to solve this problem?

[2019-08-13 08:03] solmstead25 commented on #922
@ezimuel This appears to correct the issue.

[2019-08-13 09:00] KaidoRen commented on #928
This happens when I access the exists function to check if there is a document with this ID.

[code]

[2019-08-13 09:19] ezimuel commented on #922
Thanks @solmstead25, I just merged.

[2019-08-13 09:32] ezimuel commented on #928
@KaidoRen I just tested the following code with `elasticsearch-php 7.1.1` and `Elasticsearch 7.1.1` and it works fine (`$response` is `false`):

[code]

What version of Elasticsearch are you running? Can you try this snippet code on your side? Thanks!

[2019-08-13 10:22] ezimuel commented on #831
@yochanan-gurovich, @Thomblin, @ERajkumar, @hazrat84 I just tested the following code with `PHP 7.2.17`, `elasticsearch-php 6.1.0` and `Elastic Cloud 6.5.4` and works just fine.

[code]
I have this message output from the catch:

[code]
Can you try on your side and let me know? Thanks!

[2019-08-13 11:21] alok0590 opened #931 "Analyze method of indices() throws invalid parameters error"
### Summary of problem or feature request

Analyze method of indices() throws invalid parameters error

"analyzer" "text" are not valid parameters. Allowed parameters are 'error_trace', 'filter_path', 'human', 'index', 'pretty', 'source'

### Code snippet of problem

[code]

### System details

- PHP Version : 7.2
- ES-PHP client version : 7.1
- Elasticsearch version : 7.0.1

[2019-08-14 05:06] KaidoRen commented on #928
My problem appears here - [click](https://github.com/KaidoRen/elasticquent-lite-search/blob/master/src/Utils/ElasticsearchUtils.php#L108). I put all the parameters in the log, there are no errors

[2019-08-14 05:24] ezimuel commented on #928
@KaidoRen it seems you are getting some 5xx error from Elasticsearch server. Are you sure that `$params` [here](https://github.com/KaidoRen/elasticquent-lite-search/blob/master/src/Utils/ElasticsearchUtils.php#L108) contains the array that you suggested, as follows?

[code]
The `ServerErrorResponseException` accepts a string as first parameter. For some reason, the response body is `NULL` and it g

[2019-08-14 05:49] KaidoRen commented on #928
@ezimuel  Yes, I getting 5xx error. I am using 7.1.1 version. In logs this parameter is string

[2019-08-14 15:24] ezimuel commented on #931
@alok0590 `text` and `analyzer` values must be part of the `body`, as follows:

[code]

See the analyze API documentation [here](https://www.elastic.co/guide/en/elasticsearch/reference/7.0/indices-analyze.html).

[2019-08-14 17:05] alok0590 commented on #931
@ezimuel thanks for your response. I'll look into this, closing the issue for now.

[2019-08-14 17:05] #931 closed

[2019-08-15 06:03] emiksk opened #934 "json_decode() fails with SmartSerializer.php due to a malformed character from Elasticsearch"
### Summary of problem or feature request
In some rare case, Elasticsearch returns a search result containing a malformed character at the end of the highlight field.
For example, the character at the end of the highlight field can be "\uD83C" if the document contains the emoji of cherry blossom (🌸: \uD83C\uDF38) .
In this case, the elasticsearch-php client can't handle the response. When $client-

[2019-08-16 13:41] ezimuel commented on #934
@emiksk thanks for reporting the issue. Can you give me a complete example to reproduce the issue? In particular, where are located the `\uD83C\uDF38` characters in the HTTP response from ES?
Thanks!

[2019-08-16 13:43] ezimuel commented on #928
@KaidoRen did you try `elasticsearch-php 7.2.0`? The 7.1.1 version is only compatible with Elasticsearch from 7.0 to 7.1 included, see version matrix [here](https://github.com/elastic/elasticsearch-php#version-matrix).

[2019-08-16 14:36] KaidoRen commented on #928
@ezimuel, unfortunately, nothing has changed.
![image](https://user-images.githubusercontent.com/29752127/63175280-21055580-c05d-11e9-9d2f-052df393241d.png)

[2019-08-17 09:03] emiksk commented on #934
@ezimuel
Thank you so much for your response.

OK, the followings are the simplified example to reproduce this issue.
In fact, I'm using the own custom analyzer, other highlighting parameters such as fragment_size, and so on.

1. index.json: The settings and mappings for an index
[code]

2. document.json: The document data for testing
[code]

3. search.json: The body to search
[code]

4. You can r

[2019-08-20 02:08] deckside opened #936 "PHP Fatal error: Uncaught Error: Wrong parameters for Elasticsearch"
### Summary of problem or feature request

After restart elasticserach service is not indexing.

### Code snippet of problem
ubuntu@ip-172-31-11-28:/var/www/magento/bin$ sudo php magento indexer:reindex catalogsearch_fulltext
PHP Fatal error:  Uncaught Error: Wrong parameters for Elasticsearch\Common\Exceptions\ServerErrorResponseException([string $message [, long $code [, Throwable $previous = NU

[2019-08-20 08:27] ezimuel commented on #936
@deckside can you paste the PHP code that is producing the issue? It seems you are using magento, but I need the code to reproduce the issue. Thanks.

[2019-08-20 11:22] deckside commented on #936
The code is

sudo php magento indexer:reindex catalogsearch_fulltext

via CLI

[2019-08-20 11:47] ezimuel commented on #936
@deckside this is not the PHP code, this the command line that you execute. I see that you are using magento, you should open an issue to this project [here](https://github.com/magento/magento2). Maybe, @aleron75 can help you on this.

[2019-08-20 11:47] #936 closed

[2019-08-21 06:37] juhasev opened #937 "Cannot connect to ES with self signed certificates"
### PHP Client - No alive nodes found in your cluster.

I am using Elastic Search 7.1 (Open Distro docker image) which comes pre-configured with self signed certificates. So according to the Elastic Search PHP docs I need to pass in root CA certificate so that Elastic Search client can verify SSL connection. So I copied the ca-root.pem from the docker image to my web server and pass it along to Cl

[2019-08-21 18:32] #928 closed

[2019-08-22 05:05] emiksk commented on #934
This issue is caused by using `fvh` as highlighter. Ref. elastic/elasticsearch#45771.
I decided to use `unified` highlighter instead of `fvh`.
So I'll close this issue. Thank you for your support.

[2019-08-22 05:05] #934 closed

[2019-08-22 08:35] ezimuel commented on #934
Thanks @emiksk for sharing this.

[2019-08-22 13:11] ezimuel commented on #937
@juhasev can you try to use [elasticsearch-php 7.1.1](https://github.com/elastic/elasticsearch-php/releases/tag/v7.1.1) ? The 7.0.0 release has a bug on `Client::setSSLVerification()`, see #916.

[2019-08-23 03:57] max-kut opened #940 "method Elasticsearch\Namespaces\IndicesNamespace::getAliases does not exists in v7.2.0"
### Summary of problem or feature request
in version 7.1.* method `getAliases($params)` exists, but removed in v7.2. In docpage exists https://github.com/elastic/elasticsearch-php/blob/v7.2.0/docs/build/Elasticsearch/Namespaces/IndicesNamespace.asciidoc#Elasticsearch_Namespaces_IndicesNamespacegetAliases_getAliases

### Code snippet of problem
[code]
-->

### System details

- Operating System Win

[2019-08-24 18:13] vrkansagara commented on #132
@polyfractal  This issue still persist with "elasticsearch/elasticsearch": "^7.0"

[2019-08-25 21:32] etlel opened #941 "'version' no longer supported in update API"
According to the [official documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-update.html), it is possible to use the `version` parameter in the update API to specify that the document should only be updated if its version matches the one specified.

But this parameter has recently been removed from the whitelist for update endpoint: 56163ffecd8978804fef2117209b3b9

[2019-08-26 09:19] ezimuel commented on #941
@etel according to the API specifications that I use to generate the parameters endpoint, `version` is not allowed anymore, see [here](https://github.com/elastic/elasticsearch/blob/v7.3.0/rest-api-spec/src/main/resources/rest-api-spec/api/update.json#L31-L77).
I just opened https://github.com/elastic/elasticsearch/issues/45961 to check if this a documentation issue or not.

[2019-08-26 09:44] ezimuel commented on #941
Just found that we don't support anymore the `version` parameter for Update API, see https://github.com/elastic/elasticsearch/pull/43516. The online documentation must be fixed. I'm working on it, thanks for reporting the issue.

[2019-08-26 11:21] KaidoRen opened #942 "[ERROR] Resource already exists [7.3]"
Hello! When I add a new index with mappings and settings, I get the error that index already exists. The problem is that before creating this index I check for its absence - [click](https://github.com/KaidoRen/elasticquent-lite-search/blob/master/src/Utils/ElasticsearchUtils.php#L41) | [click-2](https://github.com/KaidoRen/elasticquent-lite-search/blob/master/src/Utils/ElasticsearchUtils.php#L130)

[2019-08-26 13:55] ezimuel commented on #942
@KaidoRen it seems you are trying to create an index that already exists but I cannot see how in the log that you reported. Can you give me a working example so I can reproduce the issue?

Anyway, to create an index with a custom mapping you need to use the code as follows:

[code]
If you want to test if the index already exists:
[code]

[2019-08-26 15:45] ezimuel commented on #940
@max-kut the `IndicesNamespace::getAliases()` has been changed in favor of `IndicesNamespace::getAlias()`, this because in the API specification is `indices.get_alias`. I generate the new endpoints using a script from the API specification (see [here](https://github.com/elastic/elasticsearch/blob/v7.2.0/rest-api-spec/src/main/resources/rest-api-spec/api/indices.get_alias.json#L2)) and I didn't not

[2019-08-26 15:57] KaidoRen commented on #942
@ezimuel Before creating an index, I check its absence. That's why I don't understand why the error appears? I'm doing the right thing, just like you say.

[2019-08-26 17:09] #941 closed

[2019-08-26 17:54] vrkansagara commented on #132
yes @polyfractal  We need some way to another optional parameter to set http method with `->serch()`  and for such equivalent issues.

I just wanted to make sure that developer has full controller over http method to override it. So they filter on security side as well.

[2019-08-27 09:39] ezimuel commented on #940
@max-kut I decided to release 7.2.1 adding a proxy function `getAliases()` to `getAlias()` to avoid BC breaks. This proxy function will be removed with 8.0. I'll release soon.

[2019-08-27 12:56] ezimuel commented on #942
@KaidoRen I tried to reproduce the issue of checking an index before and after it was created but everything is working as expected. If you can give me a working example using your library, I can try to help you more.

[2019-08-27 13:44] KaidoRen commented on #942
@ezimuel This package was created for Laravel. To reproduce the problem:
**1**. `composer require kaidoren/elasticquent-lite-search`
**2**. add service provider `KaidoRen\ELSearch\ELSearchServiceProvider` to config/app.php
**3**. in model replace the inherited class to KaidoRen\EL Search\SearchableModel (instead of Illuminate\Database\Eloquent\Model).
**4**. add attribute _**searchableMappings**_

[2019-08-27 13:55] ezimuel commented on #942
I just notice this in your `elasticquent-lite-search` code: are you sure that `$params['index']` ([here](https://github.com/KaidoRen/elasticquent-lite-search/blob/master/src/Utils/ElasticsearchUtils.php#L41)) has the same value of `$params['index']` ([here](https://github.com/KaidoRen/elasticquent-lite-search/blob/master/src/Utils/ElasticsearchUtils.php#L132)) ?
I guess you are not using the same

[2019-08-27 14:22] KaidoRen commented on #942
@ezimuel [click](https://github.com/KaidoRen/elasticquent-lite-search/blob/master/src/Utils/ElasticsearchUtils.php#L117)

[2019-08-28 12:11] LeoVie opened #944 "Broken indent of DocBlocks in Client class"
### Summary of problem or feature request

In the `Client` class some DocBlocks are broken

### Code snippet of problem

[code]

This should be
[code]

or maybe even
[code]

[2019-08-29 10:44] lucasvanlierop commented on #940
https://github.com/elastic/elasticsearch-php/pull/943#issuecomment-526131060

[2019-08-29 15:13] ezimuel opened #946 "Still BC break issue with IndicesNamespace::getAliases() in 7.2.1"
With #943 I was trying to fix #940 issue re-adding `IndicesNamespace::getAliases(array $params)` as proxy to `IndicesNamespace::getAlias(array $params)`. Unfortunately, the original `getAliases` function had `$params` as optional. This PR fixes the issue, using the original optional parameter:
[code]

[2019-08-29 15:17] ezimuel commented on #940
I reopened the issue because with 7.2.1 I fixed the issue partially. I forgot to use the `$params` as optional parameter in `getAliases()` function, ops! See #946.

[2019-08-29 15:21] ezimuel commented on #940
@lucasvanlierop I just sent #947 to fix the issue.

[2019-08-30 08:09] #946 closed

[2019-08-30 08:25] ezimuel commented on #940
@lucasvanlierop I just released [7.2.2](https://github.com/elastic/elasticsearch-php/releases/tag/v7.2.2), thanks for the report.

[2019-08-30 08:25] #940 closed

[2019-08-30 08:28] ezimuel commented on #942
I'm sorry but I cannot reproduce the issue. Anyway, the issue seems to be present in your library and not in `elasticsearch-php` client.
I'm closing the issue for the moment. If you can send me a complete working example that I can easily install, I'll reopen the issue and try to investigate more.

[2019-08-30 08:28] #942 closed

[2019-08-30 08:29] ezimuel commented on #937
@juhasev did you try to use `7.1.1+` ? Let me know, thanks.

[2019-08-30 08:49] ezimuel commented on #620
I'll add this feature in 8.0.0 version.

[2019-08-30 08:51] ezimuel commented on #646
Closing this issue due to inactivity.

[2019-08-30 08:51] #646 closed

[2019-08-30 08:55] ezimuel commented on #706
Closing this issue, @ashishtiwari1993 suggested a solution for that.

[2019-08-30 08:55] #706 closed

[2019-08-30 11:17] ezimuel commented on #721
@amit-sharma-dev to manage parent and child joins in Elasticsearch you need to create a mapping using the type `join`, as follows:

[code]
When you insert a parent (`parent_id = null` in your case), you can just specify the type of relation as `parent`, as follows:

[code]
When you need to add a child with a `parent_id`, you can use the follows:

[code]

Anyway, remember that:

See https://www.ela

[2019-08-30 11:17] #721 closed

[2019-08-30 12:33] ezimuel commented on #741
@tomsommer you can use also [Index patterns](https://www.elastic.co/guide/en/elasticsearch/reference/6.5/sql-index-patterns.html#sql-index-patterns) feature available from Elasticsearch 6.5 or regular expressions using query, see [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-regexp-query.html).

[2019-08-30 12:33] #741 closed

[2019-08-30 12:34] ezimuel commented on #745
Outdated issue.

[2019-08-30 12:34] #745 closed

[2019-08-30 12:41] ezimuel commented on #794
@mengjx0777 you can use the `$client->indices()->exists()` method to check if an index exists, as follows:

[code]
`$response` is a boolean value, `true` if the index exists, `false` otherwise.

[2019-08-30 12:41] #794 closed

[2019-08-30 12:43] max-kut commented on #940
@ezimuel, @lucasvanlierop thanks for the reaction

[2019-08-30 12:44] ezimuel commented on #795
@Kalesberg if you still have this issue you can have a look at the **Security page** of `elasticsearch-php` documentation here: https://www.elastic.co/guide/en/elasticsearch/client/php-api/current/security.html#security

[2019-08-30 12:44] #795 closed

[2019-08-30 12:45] ezimuel commented on #805
@FredrikLodon I'm closing this issue, I'll reopen if still relevant.

[2019-08-30 12:45] #805 closed

[2019-08-30 12:47] ezimuel commented on #807
The endpoints has been refactored, these "inconsistences" should not be present anymore.

[2019-08-30 12:47] #807 closed

[2019-08-30 12:48] ezimuel commented on #809
Outdated issue.

[2019-08-30 12:48] #809 closed

[2019-08-30 14:12] ezimuel commented on #813
@JerryDing2014 sorry for the very long reply on this. You right, this is an old requirement that has been removed with the usage of PSR-3 Logger. Anyway, the `Monolog` is still present in the `use` of `ClientBuilder` code but never used. I'll remove it asap. Thanks and sorry again for the late reply.

[2019-08-30 15:43] ezimuel commented on #837
I'm closing this issue since it's not clear the scope. @l1905 if this is still relevant please add more information and I'll reopen it, thanks.

[2019-08-30 15:43] #837 closed

[2019-08-31 09:30] juhasev commented on #937
I have not yet as I have to shift gears. I will get back to this next week and I will let you know.

[2019-09-02 08:42] #813 closed

[2019-09-02 12:44] lucasvanlierop commented on #940
Thanks @ezimuel !

[2019-09-03 09:23] ezimuel commented on #829
I removed `indices()->snapshotIndex()` from 6.5.x and 6.7.x branches. I'll release a minor for each version soon.

[2019-09-03 09:23] #829 closed

[2019-09-03 09:34] ezimuel commented on #831
Closing due to inactivity. I'll reopen it if needed

[2019-09-03 09:34] #831 closed

[2019-09-03 09:48] ezimuel commented on #833
@mwleinad and @pittersnider you can have a look at this library [jeskew/amazon-es-php](https://github.com/jeskew/amazon-es-php) that enables the usage of AWS v4 signature in `elastic/elasticsearch-php`.

[2019-09-03 09:48] #833 closed

[2019-09-03 09:49] ezimuel commented on #854
@pittersnider I replied about this issue [here](https://github.com/elastic/elasticsearch-php/issues/833#issuecomment-527387534). I'll reopen the issue if needed.

[2019-09-03 09:49] #854 closed

[2019-09-03 09:53] ezimuel commented on #834
A response is basically an associative array. You don't need to mock it, just provide an array for testing.

[2019-09-03 09:53] #834 closed

[2019-09-03 09:55] ezimuel commented on #839
@bulkerke I cannot reproduce the issue, you need to provide a working example code. Anyway, did you try the suggestion of @Skill-Zozo? I'm closing this issue. I'll reopen if needed.

[2019-09-03 09:55] #839 closed

[2019-09-03 10:13] ezimuel commented on #845
Closing due to inactivity.

[2019-09-03 10:13] #845 closed

[2019-09-03 10:14] #846 closed

[2019-09-03 11:38] ezimuel commented on #847
Closing due to inactivity. I'll reopen if needed.

[2019-09-03 11:38] #847 closed

[2019-09-03 11:40] ezimuel commented on #915
The phpdoc has been updated for all the endpoints starting from version 7.2.0.

[2019-09-03 11:40] #915 closed

[2019-09-05 04:35] juhasev commented on #937
@ezimuel Works perfectly now when passing setSSLVerification(false). I did not try with custom certificates.

[2019-09-05 09:35] pmishev commented on #925
Do we have any progress on this?

[2019-09-17 12:33] ezimuel commented on #937
@juhasev I did some more tests on my side and it works also passing the certificate. I'm closing the issue, ping me if you want to reopen it. Thanks!

[2019-09-17 12:33] #937 closed

[2019-09-18 10:37] OneCodeMonkey commented on #798
"elasticsearch/elasticsearch": "^6.1.0"  ，this works!

[2019-09-19 13:34] ezimuel commented on #925
@pmishev I just sent this PR #950 to add the port in the log message. Basically, the `$response['transfer_stats']` ([here](https://github.com/elastic/elasticsearch-php/blob/master/src/Elasticsearch/Connections/Connection.php#L375-L379)) contains many information related to the HTTP request. I just added the port in log success or log fail.

[2019-09-20 08:48] ezimuel commented on #840
@masoudjahromi I was not able to reproduce the issue. Can you send me a simple code (without the Model) to reproduce the issue? You should specify the Elasticsearch version and the elasticsearch-php client version as well, thanks!

[2019-09-20 09:04] ezimuel commented on #944
Fixed with #945

[2019-09-20 09:04] #944 closed

[2019-09-20 09:46] ezimuel commented on #921
@nashgao I'm not sure I've understood your question. Do you want to know how to evaluate the weights in order to query in the `function_score`? In this manual page there are some information about weights: https://www.elastic.co/guide/en/elasticsearch/reference/6.5/query-dsl-function-score-query.html
If you can send me more information I can try to help you futher, thanks!

[2019-09-24 14:10] tux-rampage opened #951 "Missing API to replace a document"
### Summary of problem or feature request

The document api allows to create or replace a document by using POST or PUT respectiveley (According to the REST-Standard): https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-index_.html

The current implementation does only allow to create a document, but not to replace it.

### Code snippet of problem

[code]

One BC-Compatible option

[2019-09-25 08:09] tux-rampage commented on #951
Forget about it, the assumption that it must be a PUT request is false. The following was an issue:

[code]

So the above will work as expected with:

[code]

or:

[code]

[2019-09-25 08:09] #951 closed

[2019-09-26 11:22] philkra commented on #921
@nashgao please note that you have typo, `'fitler'` needs to be `'filter'`. Does that solve your problem?

[2019-09-30 18:12] jbauza1984 opened #953 "ClientBuilder search method returns 403"
### Summary of problem or feature request

When executing the search method of the clientbuilder I receive a 403. When doing the same query with curl I have no errors.

### Code snippet of problem

$params = [];
        $params['index'] = $this->get_indexes($date_from, $date_to);
        $params['type']  = $this->get_type();
        $params['body']  = $body;
        $params['ignore_unavailable'] =

[2019-09-30 23:46] jbauza1984 commented on #953
I downgraded the elasticsearch-php version from 5.5 to 5.0. It solved my issue. I close it.

[2019-09-30 23:46] #953 closed

[2019-10-04 15:29] nashgao commented on #921
yeah it is the typo, also I was using field_value_factor when I already defined the functions, that was another issue. Thank you guys for the reply XD

[2019-10-04 15:29] #921 closed

[2019-10-07 05:32] lionslair commented on #925
I have had to roll this back to the previous version. AWS elastic search does not return this parameter. I get

ErrorException: Undefined index: primary_port in

The element is not present in
$response['transfer_stats']['primary_port']

https://github.com/elastic/elasticsearch-php/pull/950/files#diff-1b0215334399d80759820e3229367adfR377

[2019-10-07 07:48] ezimuel commented on #925
@lionslair can you `var_dump($response)` in `Connection::logRequestFail()`? Thanks!

[2019-10-08 00:07] lionslair commented on #925
Will do some point today and post. Have to switch my local env to use the aws and do the dump.

[2019-10-08 09:01] lionslair commented on #925
I am still on the rolled back version but this is the dump from the fail. But I think this was because my local host wont connect to the remote now.
`array:8 [
  "transfer_stats" => array:39 [
    "url" => "AWS host"
    "content_type" => null
    "http_code" => 0
    "header_size" => 0
    "request_size" => 0
    "filetime" => -1
    "ssl_verify_result" => 0
    "redirect_count" => 0
    "total_t

[2019-10-09 17:16] pixelplant opened #955 "primary_port missing from response?"
### Summary of problem or feature request

I just updated to 7.3 and I am trying to index some of my data on an AWS elasticsearch instance. It worked fine with previous versions but now it fails while logging the data. This happens while it calls the *logRequestSuccess* method, and in the $response object the only key inside 'transfer_stats' is *total_time*

### Code snippet of problem
[code]

###

[2019-10-09 17:42] pixelplant commented on #955
Downgraded to 7.0.2 as per the docs

[2019-10-09 17:42] #955 closed

[2019-10-09 22:23] urmila-patel opened #956 "About partial string matching in full text search"
### Summary of problem or feature request

I want partial string match in full text search.

### Code snippet of problem
My current code look like this
'body' => [
                    'query' => [
                        'match' => [
                            '_all' => "$string"
                        ]
                    ]
                ]

Example : If I user **transfer** word as search the

[2019-10-11 02:31] reedy opened #958 "Backport/copy .gitattributes into branches"
It's great to see a .gitattributes file in master, but is it possible to get it backported/copied into actively maintained released branches?

It'd be rather useful there too for those of us not using a 7.x version

Thanks in advance

[2019-10-11 02:52] reedy commented on #958
Backported/copied into 6.7, 6.5 and 5.0. Let me know if any other branches are useful to have it backported to

[2019-10-20 22:46] abraaoz commented on #135
If you are getting the error "[match_all] query malformed, no start_object after query name":
[code]

[2019-10-25 06:05] hdwivedi9 commented on #750
@wespiremedia can you show your AppServiceProvider class in the fixed version?

[2019-10-25 06:37] wespiremedia commented on #750
@hdwivedi9 My AppServiceProvider isn't changed, the above code is added in a custom controller.

[2019-10-30 12:38] sauerbraten opened #962 "Search endpoint parameter whitelist should allow _source_include and _source_exclude"
### Summary of problem or feature request

The Search endpoint parameter whitelist should allow `_source_include` and `_source_exclude` as documented: https://github.com/elastic/elasticsearch-php/blob/master/docs/build/Elasticsearch/Client.asciidoc#Elasticsearch_Clientsearch_search.

Right now, it only allows `_source_includes` (note the S at the end) and `_source_excludes`: https://github.com/ela

[2019-10-30 14:52] kikkauz commented on #750
Working service provider for me:

    namespace App\Providers;
    use Illuminate\Support\ServiceProvider;
    use Elasticsearch\Client;
    use Elasticsearch\ClientBuilder;

    class ElasticsearchClientServiceProvider extends ServiceProvider
    {
        /**
         * Register services.
         *
         * @return void
         */
        public function register()
        {

            $th

[2019-11-06 12:04] domagoj-orioly opened #963 "Bulk index of serialized data"
### Summary of problem or feature request

If we index documents one by one and set the `body` parameter to be a serialized string, elastic client's serializer is happy with that and returns it as is, however, I can't find a way to do this for bulk requests because it seems bulk requests only accept associative array for document body object.

### Code snippet of problem
Example from: https://www.

[2019-11-07 11:22] ezimuel commented on #962
@sauerbraten which version of Elasticsearch are you using? The `_source_include` and `_source_exclude` parameter has been change in favor of `_source_includes` and `_source_excludes` since Elasticsearch 6.6.0 ([here](https://github.com/elastic/elasticsearch/blob/v6.6.0/rest-api-spec/src/main/resources/rest-api-spec/api/search.json#L108-L115) you can see the API specification change).

The document

[2019-11-07 11:45] sauerbraten commented on #962
I'm using Elasticsearch 7, but was looking at https://www.elastic.co/guide/en/elasticsearch/client/php-api/current/ElasticsearchPHP_Endpoints.html#Elasticsearch_Clientsearch_search and https://www.elastic.co/guide/en/elasticsearch/client/php-api/current/ElasticsearchPHP_Endpoints.html#Elasticsearch_Clientget_get which both list only the deprecated variants, so I assumed it was the other way around

[2019-11-07 11:49] #962 closed

[2019-11-07 12:08] ezimuel commented on #963
@domagoj-orioly I'm trying to reproduce the issue but it seems possible to use serialized string in bulk.
Are you using the default `SmartSerializer` of `ClientBuilder`? Here the code that I'm using:
[code]
Can you report the error message that are you receiving? Thanks.

[2019-11-12 11:20] domagoj-orioly commented on #963
Just a quick follow-up, I didn't forget about the issue, I will check back in with required info as soon as I get a chance to test this again.

[2019-11-12 11:22] ezimuel commented on #963
@domagoj-orioly ok, l'll wait an update from you. Let me know if I can help in some way, thanks!

[2019-11-15 07:16] sellomkantjwa commented on #731
My issue was specifying a body with the get. removed that and it worked

[2019-11-19 03:30] zjcnew commented on #408
In the PHP framework Laravel environment, I also encountered such problems, occasionally appear during the running process, each time you restart elasticsearch to solve the problem. Trying various programs has not been completely solved.

[2019-11-19 10:12] csizmazia commented on #956
You need to use an NGram tokenizer:
https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-ngram-tokenizer.html

[2019-11-19 10:30] #875 closed

[2019-11-19 11:10] ezimuel opened #965 "Use namespace for native function"
We need to use namespace for native function in all the code base. This is for performance reason.
Read this [blog post](https://veewee.github.io/blog/optimizing-php-performance-by-fq-function-calls/) for more information.

[2019-11-19 11:11] ezimuel commented on #958
I merged all the PRs. Thanks!

[2019-11-19 11:11] #958 closed

[2019-11-19 16:16] deguif opened #967 "Compatibility issues with version 7.4.0"
### Summary of problem or feature request

Since version 7.4.0 was published, it seems some classes were renamed which break compatiblity.

For example, `Elasticsearch\Endpoints\Ingest\Pipeline\Delete` was renamed to `Elasticsearch\Endpoints\Ingest\DeletePipeline`

See https://github.com/ruflin/Elastica/issues/1710 for reference.

[2019-11-20 08:38] ezimuel commented on #967
@deguif I know this issue are related to the new code generation that is 100% align with the REST [API specification of Elasticsearch](https://github.com/elastic/elasticsearch/tree/v7.4.2/rest-api-spec/src/main/resources/rest-api-spec/api) (using the script [util/GenerateEndpoints.php](https://github.com/elastic/elasticsearch-php/blob/master/util/GenerateEndpoints.php)). Before, everything was man

[2019-11-20 09:19] deguif commented on #967
What about adding class aliases to keep the backward compatibility until a new major release is published? Do you think it should be doable on this project?

That can also be done on `Elastica`, but would be better if it's done here.

[2019-11-20 09:27] ezimuel commented on #967
@deguif this is a potential fix, let me double check the code first. I'll update soon. Thanks for the suggestion btw!

[2019-11-20 09:43] thePanz commented on #967
Another solution would be to move those changes into a Major release `8.x`, as the class-name changes are not respecting the BC promise in the 7.x branch.

[2019-11-20 09:47] ezimuel commented on #967
@thePanz I cannot continue to maintain such amount of code manually. I need to be consistent with the Elasticsearch API specification, that's why I wrote the code generation tool.
I cannot wait for 8.x release. I'll fix the issue with a new patch release `7.4.1` soon.

[2019-11-20 09:58] ezimuel commented on #967
Btw, this BC break is only for library/projects that use directly (some) endpoint classes. From a user land perspective, the endpoints are still the same. For instance the [ingest.delete_pipeline](https://github.com/elastic/elasticsearch/blob/v7.4.2/rest-api-spec/src/main/resources/rest-api-spec/api/ingest.delete_pipeline.json) mentioned before has the same function name:

[code]

[2019-11-20 14:49] iamthefreeman commented on #967
Just ran into this issue with [scout-elasticsearch-driver](https://github.com/babenkoivan/scout-elasticsearch-driver) repo.

I've had to pinpoint my release to 7.3.* for now as it was causing fatal errors in production. It's really not ideal to release a BC on a second point release.

[2019-11-20 15:05] ezimuel commented on #967
@deguif, @thePanz I just sent the PR #968 to fix the issue with the old namespaces. Please review, thanks!

@iamthefreeman I know and I'm sorry for that. This BC breaks is related with some old namespace used in the code. There was some inconsistency with the previous endpoints. Now the code is 100% generated from the REST API specification of Elasticsearch, so no more dead code in the future.

So

[2019-11-21 05:51] ShyZhen opened #969 "putMapping : No alive nodes found in your cluster with version 7.4.0"
## Environment
 - Laravel 5.8
 - ElasticSearch 7.4.2
 - ElasticSearch-analysis-ik 7.4.2
 - ElasticSearch-PHP 7.4.0

## Error detail
First, createIndex、deleteIndex、getMappings、createDoc is OK，`$client->indices()->putMapping($params);` is error 'No alive nodes found in your cluster'.

But, i use curl to set mapping is ok. And when i add mappints in createIndex, it's ok too.
I don't know if it's my o

[2019-11-21 12:11] andigehle commented on #969
Can confirm this bug. I looked in the source code and found out that in the [Endpoint of putMapping](https://github.com/elastic/elasticsearch-php/blob/master/src/Elasticsearch/Endpoints/Indices/PutMapping.php#L38) in case of "index-param only" is missing a leading slash to seperate the domain and the index-param. That produces URIs like

 instead of

====================
Fix: https://github.com/el

[2019-11-21 15:25] chrispappas commented on #969
I was just about to submit my own comment and PR for this issue. I'm seeing exactly the same issue with the missing leading slash. Adding it back in makes it work as expected.

[2019-11-21 22:19] #969 closed

[2019-11-23 04:48] iget-master commented on #967
I really disagree with breaking changes on a minor release. Everyone relies that minor releases doesn't contains any intentional breaking changes. The 7.4.0 contains two intentional breaking changes (I say that's intentional because are written on changelog).

This release broke this widely used package https://github.com/babenkoivan/scout-elasticsearch-driver/issues/297 and many of our applicatio

[2019-11-23 11:54] netwons opened #971 "query update ?"
How do you write update code?

[2019-11-25 11:18] philkra commented on #971
Please refer to the documentation: https://www.elastic.co/guide/en/elasticsearch/client/php-api/current/updating_documents.html

[2019-11-25 13:04] ezimuel commented on #967
@iget-master let me try to explain what happened with 7.4.0 release. First of all, I agree with you but there were some difficult condition that drove me in this direction.

The existing code base of `elasticsearch-php` is updated manually, that means on every release of Elasticsearch we need to go throught all the API specification (reported [here](https://github.com/elastic/elasticsearch/tree/ma

[2019-11-25 13:09] ezimuel commented on #967
@deguif can you test this PR with Elastica to see if this solve all the BC break issues? Thanks!

[2019-11-25 13:10] ezimuel commented on #967
@iamthefreeman can you test this PR against your [scout-elasticsearch-driver](https://github.com/babenkoivan/scout-elasticsearch-driver) project to see if this solves all the BC break issues? Thanks!

[2019-11-25 14:15] deguif commented on #967
@ezimuel Thanks for your work on this issue.

A lot of errors are now fixed, with your PR about the class aliases.
It just remains 2 class not found errors:
- `Error: Class 'Elasticsearch\Endpoints\Cluster\Nodes\Info' not found`
- `Error: Class 'Elasticsearch\Endpoints\Cluster\Nodes\Stats' not found`

[2019-11-25 14:18] ezimuel commented on #967
@deguif thanks for reporting this, I'm looking into it.

[2019-11-25 14:23] deguif commented on #967
Here my composer setup for testing your PR (that might help other people):

[code]

[2019-11-25 14:50] AegirLeet commented on #967
Modern PHP frameworks (Laravel, Symfony) will generally convert every error (even `E_USER_DEPRECATED`) into an `ErrorException` and throw that. Unless specifically caught, this will stop execution. [Here's](https://github.com/laravel/framework/blob/23ceaf9fa2b442362d566c94dfdc063275f0ba11/src/Illuminate/Foundation/Bootstrap/HandleExceptions.php#L54-L71) Laravel's implementation, for example.

So a

[2019-11-25 15:02] ezimuel commented on #967
@AegirLeet in a production environment, if you have `ini_set('display_errors', 0);`, as required, all the PHP error/warning/notice, like `PHP Deprecated` in our case, are stored in a error log file. So there's no BC break, the code will continue to be executed as expected.

If I convert the `E_USER_DEPRECATED` in an Exception, I'll break the code for sure and people will require to catch it manual

[2019-11-25 15:20] AegirLeet commented on #967
Setting `display_errors` to off is normal, yes.

But modern PHP code will catch **every single error, warning or notice** and convert it to an `ErrorException`. Code is generally expected to **never** produce an error/warning/notice  during normal operation. Any kind of error/warning/notice will log an exception, display an error page to the user (if it's a web request) and halt execution.

So tri

[2019-11-25 15:49] ezimuel commented on #967
@AegirLeet I see what you mean, but still I think this a problem of how you configure your PHP application in a production environment. Even in Laravel of Symfony you have different environment configuration for logging the PHP events (error/warning/notice/deprecated, etc) as exceptions.

In your opinion, If I cannot use `E_USER_DEPRECATED` events how I can inform people about deprecation? Just us

[2019-11-25 15:57] thePanz commented on #967
@ezimuel @AegirLeet in Symfony the `trigger_error()` is widely used to mark deprecated methods and calls.
The following is an example: `@trigger_error('Support for mapping keys in multi-line blocks is deprecated since Symfony 4.3 and will throw a ParseException in 5.0.', E_USER_DEPRECATED);`

Found in the Yaml parser of Symfony.

[2019-11-25 16:02] AegirLeet commented on #967
I'd use `@deprecated` tags where applicable (you've already done this), note the deprecations in the changelogs and urge users to upgrade their code, then drop the deprectated stuff with the next major version.

Either that or make it very clear in the docs that this package does not follow SemVer and users should lock their minor versions.

[2019-11-25 16:10] ezimuel commented on #967
@thePanz thanks, also in Zend Framework, the project that I worked on, uses it. For instance, in `zend-servicemanager`, see [here](https://github.com/zendframework/zend-servicemanager/blob/master/src/ServiceManager.php#L166-L169).

@AegirLeet I feel that using only `@deprecated` tag in a comment is not enough. I really like the idea of having E_USER_DEPRECATED by the PHP language itself (that was

[2019-11-25 16:41] ezimuel commented on #967
@deguif I just added the missing `'Elasticsearch\Endpoints\Cluster\Nodes\Info` and `'Elasticsearch\Endpoints\Cluster\Nodes\Stats` classes. They are now part of `Nodes` namespace.
Can you try now? Thanks!

[2019-11-25 16:49] deguif commented on #967
@ezimuel I don't see any changes in your PR, did you push the changes?

[2019-11-25 16:59] ezimuel commented on #967
@deguif sorry, I sent now. I think it's better to call it a day.

[2019-11-25 17:17] deguif commented on #967
@ezimuel that's working ;)
No more errors on the tests related to class not found.

Thanks for that.

[2019-11-25 17:21] ezimuel commented on #967
@deguif you are welcome and thanks for your kindly support!

[2019-11-26 00:43] iget-master commented on #967
I understand your reasons. Maybe it's my fault to rely too mutch on
versioning, I should be more restrictive.

Em seg, 25 de nov de 2019 14:21, Enrico Zimuel <notifications@github.com>
escreveu:

[2019-11-26 10:37] #967 closed

[2019-11-26 12:08] ezimuel commented on #967
I just released [7.4.1](https://github.com/elastic/elasticsearch-php/releases/tag/v7.4.1) that solves the BC break related to the endpoint class naming and it solves also the `trigger_error()` issue https://github.com/babenkoivan/scout-elasticsearch-driver/issues/297 using the suppress error `@` operator.

[2019-11-27 13:00] kispusi89 opened #974 ""No alive nodes found in your cluster" when try to update mapping [7.4]"
### Summary of problem or feature request

Hello! I always get this exception, but only when use putMapping().
`$client->indices()->exists($params)`, `$client->indices()->create($params)`, `$client->indices()->delete($params)`, `$client->indices()->getMapping($params)`
work as expected, but when try `$client->indices()->putMapping($params)`, I've got this error message:

### System details

- Oper

[2019-11-28 16:43] netwons opened #975 "how can i AUTO_INCREMENT id ?"
How can I AUTO_INCREMENT id

[2019-11-28 17:14] philkra commented on #975
If you don't specify an `id` for a document, it's auto generated. Please refer to the documentation for more information: https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-index_.html

[2019-11-28 17:14] #975 closed

[2019-11-28 17:14] #971 closed

[2019-11-29 09:04] JTubex opened #977 "master_not_discovered_exception results in the following fatal error:"
### Summary of problem

master_not_discovered_exception results in the following fatal error:
[code]

### Code snippet of problem
Problem occurs in Elasticsearch\Connections\Connection::tryDeserializeError().

a print_r of the $response variable:
[code]

After `$error = $this->serializer->deserialize($response['body'], $response['transfer_stats']);`

this results in the following $error variable:

[2019-12-01 02:22] kebenxiaoming opened #978 "好用不"
如题

**来自GitHub小程序客户端：**

![image](https://user-images.githubusercontent.com/8692455/51429898-b159f400-1c4e-11e9-91a1-59cd1fab5042.png)

[2019-12-01 02:24] #978 closed

[2019-12-02 13:10] klimis commented on #974
Same as @kispusi89. I am getting the

only with putMapping. Everything else works fine

**System details**

- Operating System: Ubunti 19.04

- PHP Version: 7.2.24

- Elasticsearch version: 7.3

[2019-12-09 10:46] luhuiya opened #981 "Elastic search 7.5.0"
The new version of elastic search has release. Will it became problem if i continue using 7.4 php library version when the server is elastic search 7.5.0

[2019-12-09 15:35] philkra commented on #981
Hi @luhuiya , you can use the `7.4.1` version of the client with Elasticsearch `7.5.0`. But, once a `7.5.x` client is available, it's highly encouraged for you to hop on the latest version. The only problem you encounter is, if you want to use endpoints introduced in Elasticsearch `7.5.0` as the client is not aware of these (yet).

[2019-12-10 03:08] luhuiya commented on #981
noted thanks

[2019-12-10 03:10] luhuiya commented on #981
Noted. thank you

[2019-12-10 03:10] #981 closed

[2019-12-10 07:31] nashgao commented on #592
I've tried with similar queries, but received
 {"type":"illegal_argument_exception",
  "reason":"dynamic method [java.util.LinkedHashMap, add/1] not found"}
any ideas why this is happening?

[2019-12-10 08:25] nashgao opened #982 "dynamic method [java.util.LinkedHashMap, add/1] not found"
I'm trying to update data in es documents with script. I want to append new data into a nested field, my code is like this:
[code]

where the items is the name of the neseted field. But I kept getting this exception: {"type":"illegal_argument_exception","reason":"dynamic method [java.util.LinkedHashMap, add/1] not found"}

In most of the tutorial people were using this add method, I'm not sure if

[2019-12-11 10:04] ezimuel commented on #974
@kispusi89 and @klimis which version of `elasticsearch-php` are you using?

[2019-12-11 10:30] klimis commented on #974
@ezimuel  I was using elasticsearch-php 7.4. I just updated to 7.4.1 and it seems ok now

[2019-12-11 10:44] ezimuel commented on #974
@klimis ok, the issue seems to be related with #970.
@kispusi89 did you try to use `elaticsearch-php` version `7.4.1`?

[2019-12-19 07:40] ezimuel commented on #982
You can try to use `containsKey()` and initialize the items field with an empty `ArrayList()` as follows:
[code]
Let me know if this works for you.

[2019-12-19 10:54] cyrnetix commented on #955
Just upgraded my cluster to 7.5.1 and the vendor to 7.4.1 and receiving the same notice.

[2019-12-19 12:05] cyrnetix commented on #925
Just upgraded elasticsearch to 7.5.1 and vendor 7.4.1. This casued the same issue. This field is not included in the response and causes notices.

[2019-12-19 14:20] #982 closed

[2019-12-19 14:50] #977 closed

[2019-12-21 07:11] limingjundawn commented on #925
I have a same problem. curl can not getprimary_port. And  I found something, like this https://curl.haxx.se/libcurl/c/CURLINFO_PRIMARY_PORT.html

It is say PRIMARY_POR Added in 7.21.0, so I update curl version to last， but it can not working

[2019-12-21 07:32] ezimuel commented on #925
@limingjundawn thanks for the update, I'll investigate more on that.

[2019-12-23 09:10] cyrnetix commented on #925
Just tested with curl 7.60 on CentOS 6 and en 7.58 on Ubuntu 18.4 and both don't return this field and are causing notices.

[2020-01-04 03:52] limingjundawn commented on #925
@cyrnetix I find the way to solve this problem.
1.I update curl version to  last
2.I compile php curl extension again. then it working now

[2020-01-11 21:10] armin-abbasi opened #985 "Bulk insertion results in storing unnecessary index data"
### Summary of problem or feature request

When trying to index data using bulk insertion as it's described in [elasticsearch official website](https://www.elastic.co/guide/en/elasticsearch/client/php-api/current/indexing_documents.html#_bulk_indexing)

**for example :**
[code]
the returned json response from elasticsearch contains some extra objects of index info
[code]

### Code snippet of probl

[2020-01-16 05:14] lionslair commented on #925
What is the last curl version?

[2020-01-16 05:18] lionslair commented on #925
Why can't
` $response['transfer_stats']['primary_port']`
just be wrapped in isset
`        'port'      => isset($response['transfer_stats']['primary_port']) ? $response['transfer_stats']['primary_port'] : null,`

[2020-01-16 06:14] ezimuel commented on #925
@lionslair the last version is `7.68.0`, see [curl release table](https://curl.haxx.se/docs/releases.html).
I already applied your suggestion in #986 with [this code](https://github.com/elastic/elasticsearch-php/commit/0c1e0ca76722a5d4586e7afabe0f37fb1c3885d3#diff-1b0215334399d80759820e3229367adfR379).
I'll release this soon, thanks.

[2020-01-16 08:11] cyrnetix commented on #925
That would be nice, not everyone is able to upgrade the curl version on their server.

[2020-01-16 08:26] lionslair commented on #925
We just used this and updated our composer file for the mean time
https://github.com/crowdco-developer/elasticsearch-php/releases/tag/7.3.0

[2020-01-16 09:12] Cocray opened #988 "SmartSerializer is not smart enough"
### Summary of problem or feature request

The file SmartSerializer.php encode $data into a json string if this variable is an array. If it is an empty array, you transform it into '{}' and that's ok (line 38 of this file). But sometimes, if it's not empty, you can have inside a part which is an empty array, like in Global Aggragations:
[code]
I think you should replace each string '[]' into '{}'.

[2020-01-16 12:08] armin-abbasi commented on #985
@ezimuel Thanks it worked, guess I wasn't precise with the documents!

[2020-01-16 13:28] ezimuel commented on #985
@armin-abbasi you are welcome, maybe I can try to improve the documentation.

[2020-01-16 13:28] #985 closed

[2020-01-17 23:39] nateeklund opened #989 "ConnectionInterface::performRequest method signature does not match Connection::performRequest"
### Summary of problem or feature request
ConnectionInterface::performRequest method signature does not match Connection::performRequest method signature.

This causes mocking the class with Phake to fail.

### Code snippet of problem
ConnectionInterface.php
[code]

Connection.php
[code]

### System details

- PHP Version: 7.1
- ES-PHP client version: 7.4 and 7.5

[2020-01-17 23:40] nateeklund commented on #989
I'm happy to push up the fix for this, though if you'd rather just do it as part of whatever you're in the middle of that might make more sense as it's a 1 character change.
If I were to push it up I'd also fix up the PHPDoc comment a bit.

[2020-01-21 08:52] ezimuel opened #990 "Supporting PSR-7 and PSR-18 for HTTP transport layer"
We would like to support [PSR-7](https://www.php-fig.org/psr/psr-7/) and [PSR-18](https://www.php-fig.org/psr/psr-18/) for the HTTP transport layer. We was thinking to use [HTTPlug](http://httplug.io/) in order to use an abstraction with some adapter implementations. As default adapter we can use CURL as we are already using it in the client. The idea is to release this with `elasticsearch-php 8.0

[2020-01-21 13:40] nicolas-grekas commented on #990
Since Symfony is a major ecosystem where this package is used, it'd be great to consider Symfony HttpClient also. Symfony HttpClient implements both http-plug and PSR-18, but also [symfony/http-client-contracts](https://github.com/symfony/http-client-contracts).

The minimum way to play best with the ecosystem IMHO could be to *not* require any packages past the "contracts" ones - whichever of the

[2020-01-21 13:45] nicolas-grekas commented on #990
Side note: symfony/http-client-contracts doesn't bring the complexity of dealing with PSR-7 + it's compatible with async and transport options (eg timeout). It might be a best default for this reason, as it would free users to deal with PSR-17 too (which is another thing required when using PSR-18) and find *and wire* implementation, which is just a terrible experience with the PSR things IMHO...

[2020-01-21 14:12] ezimuel commented on #990
@nicolas-grekas thanks for your feedback! We need to consider [PSR-17](https://www.php-fig.org/psr/psr-17/) HTTP Factories in the list as well.
We'll also investigate the possibility to use Symfony HTTPClient. Can you point me to some async example use cases?  Right now we are supporting async using [future](https://www.elastic.co/guide/en/elasticsearch/client/php-api/current/future_mode.html) mod

[2020-01-21 14:36] Nyholm commented on #990
I think that PSR-18 is a great idea for all libraries that are using HTTP... unless you need async.. =)

I would recommend HTTPlug of libraries that need async support. HTTPlug is PSR-18 + async. Yes, you need a PSR-17 implementation and maybe [a way to provide zero configuration support](https://github.com/php-http/discovery). Using HTTPlug/PSR18 will maximise inoperability.

I do also believe th

[2020-01-21 14:37] nicolas-grekas commented on #990
Sure, here are some examples:
https://github.com/dbrumann/sfughh-http-client-examples/tree/http_client/src/Command

The doc is also telling about it (basically, responses are "lazy", they're comparable to "futures" in the current design):
https://symfony.com/doc/current/components/http_client.html

Check also:
https://speakerdeck.com/nicolasgrekas/symfony-httpclient-what-else

Basically, this send

[2020-01-21 14:39] Nyholm commented on #990
The only reason that you may use Symfony's HTTP client and not HTTPlug is that you think the implementation will be much more simple to read, write and maintain.

Im not super familiar with the details of this library so I cannot say for sure **how** much easier it will be. Try =)

[2020-01-21 14:40] Nyholm commented on #990
Btw, we will soon mark `guzzlehttp/ringphp` as abandoned on packagist.

[2020-01-21 14:45] ezimuel commented on #990
@Nyholm yes, I know this is an outdated library. That's why we are moving on. Thanks for you feedback!

[2020-01-21 15:26] thePanz commented on #990
That's great @ezimuel ! I quickly discussed with @dbu about this (he's one of the devs behind the HttPlug library), he is open for hints/reviews/help with this :+1:

[2020-01-21 15:35] ezimuel commented on #990
Thanks @thePanz and @dbu, I'll definitely ask for reviews.

[2020-01-21 15:42] nicolas-grekas commented on #990
Reading @Nyholm's comment about a potential vendor-locking (and talking with him on Slack) I realized that there is a similar lock-in with HTTPlug: the `Promise` interface is non-trivial. Symfony's `HttplugClient` has a requirement on `guzzlehttp/promises` for the implementation, the reason being it's impossible to implement without copy/pasting everything there :)

[2020-01-21 18:32] Jean85 commented on #990
I would advise you against that choice, since that HTTPlug adapter has many flaws. We encountered those in Sentry and switched to Guzzle as a suggested transport.

[2020-01-22 07:10] tonyyb commented on #955
Seems fixed with : https://github.com/elastic/elasticsearch-php/commit/0c1e0ca76722a5d4586e7afabe0f37fb1c3885d3

@ezimuel do you plan a release soon please ?

I think that https://github.com/elastic/elasticsearch-php/blob/master/src/Elasticsearch/Connections/Connection.php#L420 line can be also fixed.

[2020-01-22 07:26] dbu commented on #990
@Jean85 what are the flaws you encountered? we know that there are a couple of issues with the [curl-client promises](https://github.com/php-http/curl-client/issues/59) but one can use guzzle with the httplug adapter as well. can you be a bit more specific where you had the issues?

does elasticsearch do synchronous calls, or also asynchronous? if you do synchronous, i would recommend to go with p

[2020-01-22 08:19] Jean85 commented on #990
The main issue that we encountered was https://github.com/getsentry/sentry-php/issues/878 caused by https://github.com/php-http/curl-client/issues/55

[2020-01-22 08:39] dbu commented on #990
thanks for the clarification. httplug is an abstraction over client. curl-client is just one implementation of that abstraction that seems useful to some people (afaik mostly those doing synchronous requests). there is a httplug guzzle adapter, and the upside of using the httplug interfaces (or psr-18, if you are only doing synchronous requests - the newest versions of guzzle implement psr-18 nati

[2020-01-22 08:40] dbu commented on #990
oh, sorry @Jean85 i think i misunderstood what you are saying! so you advise against recommending the php-http/curl-client, but do not adivce against httplug? if that is what you are saying, i even agree with you :-D

[2020-01-22 09:31] ezimuel commented on #990
@Jean85 I was looking into https://github.com/php-http/curl-client/issues/55 and it seems to be related with this https://bugs.php.net/bug.php?id=61141 that is not a bug, it's reported in the curl documentation [here](https://curl.haxx.se/libcurl/c/curl_multi_fdset.html):

@adoy reported a solution [here](https://bugs.php.net/bug.php?id=61141#1348321490):
[code]
A fix for `php-http/curl-client` ha

[2020-01-22 10:32] dbu commented on #990
my general feeling is that guzzle is the more mature and maintained client. the php-http/curl-client does not have very active maintainers currently. the fix you mention has been open for almost a year, with nobody picking up on the feedback and wrapping it up.

the other thing are the problems around promises: https://github.com/php-http/curl-client/issues/59 and https://github.com/php-http/curl-

[2020-01-22 14:28] Jean85 commented on #990
@dbu properly summarized my concerns :+1:

[2020-01-23 18:05] shadowhand commented on #990
A few thoughts:

1. Is async support really necessary? If it isn't, then why not wait until a PSR arrives to address it?
2. I would much rather see dependencies on PSRs than a requirement for HTTPlug or anything from the Symfony ecosystem. I don't use Symfony, but I do use PSR 7/15/17 already.
3. There are PSR-17 discovery packages already, so discovery is not a problem that has been uniquely solv

[2020-01-24 09:23] dbu commented on #990
1. I guess you meant "If we need async calls, lets wait for a PSR for that"? If that is the case, i would recommend against that, afaik there is nothing even in the pipeline for it. Even if people would start that now, it won't be there before 2021 at the earliest.
2. HTTPlug is not a Symfony component. it [depends on the psr and on the php-http/promise package](https://github.com/php-http/httplug

[2020-01-24 09:56] reedy opened #992 "guzzlehttp/ringphp and guzzlehttp/streams are abandoned"
https://packagist.org/packages/guzzlehttp/ringphp is marked as abandoned, with no replacement

guzzle/ringphp depends on https://packagist.org/packages/guzzlehttp/streams which is also marked as abandoned, with no replacement

[2020-01-26 15:47] cspshadx commented on #992
bump. got same warning from composer. any suggestions?

[2020-01-28 03:51] gnumoksha commented on #756
See https://discuss.elastic.co/t/-timestamp-deprecated/38514 and https://github.com/elastic/elasticsearch/issues/15644

[2020-01-28 14:02] ezimuel commented on #992
We are planning to refactor all the HTTP transport using PSR and/or HTTPlug and/or Symfony HttpClient (more detail here: https://github.com/elastic/elasticsearch-php/issues/990). This will be released with `elasticsearch-php 8.0`.
In the meantime, we need to find a solution for the ringphp replacement but we don't want to do double work here since we have the 8.0 plan in place.
@cspshadx, @reedy I

[2020-01-30 02:09] orukaz commented on #992
@reedy and @ezimuel , I think the replacement is Guzzle 6 http://docs.guzzlephp.org/en/stable/handlers-and-middleware.html

For example: https://github.com/googleapis/google-api-php-client/issues/1106

system based on PSR-7, using RingPHP and it's middleware system as well adds
more complexity than the benefits it provides. All HTTP handlers that were
present in RingPHP have been modified to work

[2020-01-30 11:00] larsnystrom opened #993 "Port is not properly set in requests, causing No alive nodes found in your cluster"
### Summary of problem or feature request

The elasticsearch-php library does not set the correct Host header when using a custom port.

I was getting "No alive nodes found in your cluster" when performing a query using elasticsearch-php, but everything was working fine when doing the same request using curl on the command line.

After setting `CURLOPT_VERBOSE => 1` in the script and using the `-v

[2020-01-31 13:25] jhob101 opened #994 "No alive nodes found in your cluster when creating Index (7.0.2, windows 10)"
### Summary of problem or feature request

I am working with the AWS Elastic Search service.  When trying to create an index on my local windows development environment it returns the error

`No alive nodes found in your cluster `

This sounded similar to #993 and I applied the fix suggested there so that the port is passed to the request, but the error remains.

This issue only occurs on my local

[2020-02-03 16:31] #994 closed

[2020-02-03 16:32] jhob101 commented on #994
Related to certificate issue, now resolved

[2020-02-03 23:05] reedy commented on #992
Bringing in all of Guzzle seems overkill... Though it seems 1.0 used to do that.

https://packagist.org/packages/guzzlehttp/guzzle says Guzzle 5 is EOL (since late October 2019 based on https://github.com/guzzle/guzzle/commit/4d71358b8f054dcb853a3ebe7cd2be08e9a0d451), so I guess that means ringphp (and streams) also no longer have any maintenance, as they're not being maintained for Guzzle 5 anymo

[2020-02-05 14:34] erikvanderschaaf commented on #925
Any estimate on the release of this fix?

[2020-02-07 16:18] ezimuel commented on #993
@larsnystrom I'm trying to reproduce the issue but I don't see any issue. Did you try the following configuration?

[code]
or
[code]
Let me know, thanks!

[2020-02-07 17:54] larsnystrom commented on #993
It does not matter which of those configurations you use. Here is a test script as well as some actual output when I ran it. The only thing I have changed here is the domain name (`example` should be something else) and the IP and `subject` line concerning the SSL certificate in the output.

I have added both of the configuration variations to the test script so that it is easy to switch between t

[2020-02-11 09:52] ezimuel commented on #993
@larsnystrom ok, this is basically the opposite issue of what @afrozenpeach said [here](https://github.com/elastic/elasticsearch-php/pull/782#issuecomment-404875493) regarding the port specified in `Host` header with HAProxy.
Are you using a load balancer/proxy before the Elasticsearch server? I tested locally using a different port (9500) for Elasticsearch and everything works fine.
I'm thinking

[2020-02-12 09:17] tchikoufatimazohra commented on #516
Already I have used "use Elasticsearch\ClientBuilder;" on the top of my file and my php  versio is 7.4.1 but still get error

[2020-02-12 17:51] ezimuel commented on #992
@reedy @orukaz @cspshadx After some code review and since I'm going to refactor all the HTTP transport layer for `elasticsearch-php 8.0.0`, I decided to fork `guzzlehttp/ringphp` and `guzzlehttp/streams` and use this fork for `elasticsearch-php 7.x`. This means, I'll mantain these forks in the meanwhile. I'm preparing a PR for that.

[2020-02-13 08:31] larsnystrom commented on #993
There is a load balancer/proxy in front of the Elasticsearch server, but I don't know its name. That's where the request is dropped due to the missing port.

An option seems reasonable. Personally I think it should default to `true`, but since that would break backwards compatibility such a change should probably wait until the next major version. An `includePortInHostHeader` option which defaults

[2020-02-13 09:05] ezimuel commented on #993
@larsnystrom thanks for your feedback! I'll add a `ClientBuilder::setPortHostHeader(bool $enable)` that is `false` by default for backwards compatibility. Btw, after reading [RFC 2616 - Section 14.23](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.23) I realized that the port is optional only if it's the default one (80 for HTTP and 443 for HTTPS). In the other case, it should be ad

[2020-02-13 13:01] ezimuel commented on #992
I just sent the PR #996, please have a look thanks!

[2020-02-14 08:54] #992 closed

[2020-02-14 10:33] ezimuel commented on #993
@larsnystrom I just created PR #997, if you have time can you review it? Thanks!

[2020-02-14 16:10] #993 closed

[2020-02-14 16:12] ezimuel commented on #974
@kispusi89 I'm closing it. Let me know if you want to reopen it. Thanks!

[2020-02-14 16:12] #974 closed

[2020-02-14 16:13] ezimuel commented on #963
@domagoj-orioly I'm closing this issue. Let me know if you want to reopen it. Thanks!

[2020-02-14 16:13] #963 closed

[2020-02-14 16:14] ezimuel commented on #956
@urmila-patel I'm closing this issue, let me know if you want to reopen it. Thanks!

[2020-02-14 16:14] #956 closed

[2020-02-14 16:42] ezimuel commented on #925
This has been fixed with [7.5.1](https://github.com/elastic/elasticsearch-php/releases/tag/v7.5.1) release

[2020-02-14 16:42] #925 closed

[2020-02-14 16:43] ezimuel commented on #840
@masoudjahromi I'm closing this issue. Let me know if you want to reopen it. Thanks!

[2020-02-14 16:43] #840 closed

[2020-02-14 16:47] ezimuel commented on #819
@retnek I'm closing this old issue because I'm not sure if it's still relevant. Now we are also using `JsonException` for PHP 7.3+ to manage errors in json_decode(). Let me know if you want to reopen it. Thanks!

[2020-02-14 16:47] #819 closed

[2020-02-21 13:57] borys-p commented on #519
In my case it was the VM update that switched the network stack to IPv6. This resulted in `localhost` being resolved to `::1` and my Elastic does not listen on that address. The fix is pretty simple, just setting `'http://127.0.0.1:9200'` as the primary host.

[2020-02-27 15:22] craigwillis85 opened #1002 "Unit Testing specific actions"
Looking at the README, it suggests that you can mock the Elastic Client to run some "unit tests".

I'm aware that the "body" will return whatever is in the json file supplied in the `MockHandler`

Is there a way though to actually run things like:

    $response = $this->client->search([
         'index' => 'my_index',
         'type' => 'my_type',
         'body' => [
                [

[2020-02-27 16:41] ezimuel opened #1003 "Missing the query parameters in the doc example generator."
We are missing the `query` parameters in the doc example generator.
For instance the example [f8cc4b331a19ff4df8e4a490f906ee69](https://github.com/elastic/elasticsearch-php/blob/master/docs/examples/f8cc4b331a19ff4df8e4a490f906ee69.asciidoc) is missing the `v` parameter as query string: `GET /_cat/health?v` (see [here](https://raw.githubusercontent.com/elastic/built-docs/master/raw/en/elasticsearc

[2020-02-27 17:26] ezimuel commented on #1002
If you don't want to create a json file, tou can use the `php://memory` stream to pass the `body`.
For instance, something like this:
[code]

[2020-02-28 09:51] craigwillis85 commented on #1002
Thanks @ezimuel for the feedback.

I guess I'm a little confused as to why do this at all?

If I create the $body array and even if I called `search()`, `update()` etc it will return the same array.

So, correct me if I'm wrong, but what is it actually testing? Is it just testing that the ES Client can be mocked, because everything else seems a little pointless as it isn't testing anything of actu

[2020-02-28 10:25] ezimuel commented on #1002
@craigwillis85 the idea of `GuzzleHttp\Ring\Client\MockHandler` is to have a class that acts like a real client without doing the HTTP connection. This can be useful for unit testing, since you don't want to test the connection itself but the behaviour of your Client.

A real use case can be to mock real HTTP responses from Elasticsearch. If you store a response from Elasticsearch in a json file,

[2020-02-28 10:59] craigwillis85 commented on #1002
@ezimuel I get that it won't be doing any HTTP calls. I guess I thought it would "act" like real HTTP responses. i.e. I put a full index of data in JSON, run `search()` with a query and it actually searched the JSON.

Instead it, just returns the whole "body", which I understand tests the Client, but in practice only needs to be done once (as you pass in the body and the Client returns the same bo

[2020-02-28 12:32] ezimuel commented on #1002
I'm closing this issue. Let me know if you want to reopen for mode information or discussion.

[2020-02-28 12:32] #1002 closed

[2020-03-06 17:34] junfengwang commented on #921
failed to parse [function_score] query. array [filter] is not supported
my code:
`            'body' => [
                'query' => [
                    "function_score" => [
                        "filter" => [
                            [ 'term' => [ 'sex' => 'F' ] ],
                            [ 'term' => [ 'real_person' => true ]],
                        ],
                        "funct

[2020-03-10 20:55] reedy opened #1006 "Composer 1.10 issue"
Using 6.0.1.0 in composer.json, composer 1.10 complains

[code]

Might not be an issue in newer versions...

[2020-03-10 21:07] reedy commented on #1006
I note https://github.com/elastic/elasticsearch-php/blob/master/src/Elasticsearch/Endpoints/Ingest/ProcessorGrok.php and https://github.com/elastic/elasticsearch-php/blob/6.0/src/Elasticsearch/Endpoints/Ingest/Pipeline/ProcessorGrok.php and https://github.com/elastic/elasticsearch-php/blob/6.x/src/Elasticsearch/Endpoints/Ingest/Pipeline/ProcessorGrok.php look to be the same

[2020-03-10 21:16] reedy commented on #1006
Looking at https://github.com/composer/composer/blob/8fd70d2dc4fc8f80794dbb1ca6f8c3e75173fe44/src/Composer/Autoload/ClassMapGenerator.php#L143-L196 it's probably due to some path issue

[2020-03-10 21:27] reedy commented on #1006
It seems to be fine on 7.6...

So I guess the question is what versions of this library are still "supported"/"maintained", and as such, whether a patch might be needed in older branches

[2020-03-10 21:31] reedy commented on #1006
This is a local issue, seemingly... https://github.com/wikimedia/mediawiki-vendor/blob/f737af1/elasticsearch/elasticsearch/src/Elasticsearch/Endpoints/Ingest/ProcessorGrok.php but has the NS including Pipeline

[2020-03-10 21:31] #1006 closed

[2020-03-10 21:32] reedy commented on #1006
Aha, specifically an issue in the 6.0.1 tag :)

https://github.com/elastic/elasticsearch-php/blob/v6.0.1/src/Elasticsearch/Endpoints/Ingest/ProcessorGrok.php

[2020-03-10 21:33] reedy commented on #1006
And fixed in https://github.com/elastic/elasticsearch-php/commit/418f3fbdba8792a354547853aac7a315d2b3575e

[2020-03-13 18:36] thinkspill opened #1008 "Support for Index Lifecycle Management API"
As of v7.6.1, I couldn't find support for creating/managing ILM policies within the client.

Is this currently supported and I missed it, or is it on the road map?

Thanks!

[2020-03-17 05:57] nicolasvahidzein opened #1009 "Prefix search instead of multi-match"
Hello, i posted on SO to get some feedback as i was not able to find docs on here to execute a search that would match partial strings:

[https://stackoverflow.com/questions/60716639/how-to-implement-elastic-search-in-laravel-for-auto-complete](url)

Can point me to the place where i can see how prefix search is done in ES for laravel please?

Thanks.

[2020-03-17 09:26] ezimuel commented on #1008
The ILM APIs are part of the [X-Pack](https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-xpack.html) endpoints. In the past we managed this in a separate repository [elastic/elasticsearch-x-pack-php](https://github.com/elastic/elasticsearch-x-pack-php). Unfortunately, this repository is not updated since ES 5.x. I'm working to update it in order to release a version for ES 6.x.

[2020-03-17 09:51] ezimuel commented on #1009
You can use [wildcard query](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-wildcard-query.html) in order to search for partial strings.

For instance, if you want to search for documents where the `user` field contains a term that begins with `ki` and ends with `y` (example [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-wildcard-query.h

[2020-03-17 14:39] nicolasvahidzein commented on #1009
Hello @ezimuel i tried your way but it returns no results. You do not attach the model in your query i noticed. And even when i do it returns nothing.

[code]

[2020-03-17 15:50] ezimuel commented on #1009
@nicolasvahidzein you need to change the `user` field with the one that you are looking for. This was just an example extracted from the Elasticsearch documentation [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-wildcard-query.html). As you noticed, I didn't specify also the `index` and the `type` but you did correctly in your code.

Question: do you want to use t

[2020-03-17 16:40] nicolasvahidzein commented on #1009
Thank you so much @ezimuel.

I modified it like this:

[code]

and now it works with partial searches BUT guess what another problem. Now once i typed "bear na" it gives no more results. It seems like a

[2020-03-17 16:43] nicolasvahidzein commented on #1009
Nevermind @ezimuel i got it to work with your example of query_string!!!!!!!!!!!!!!!!!!!

You are so kind and wonderful, we got it to work perfectly as i needed.

Thank you thank you thank you!!! Can i buy you a coffee?

[2020-03-17 18:28] ezimuel commented on #1009
Thanks for you kind words. I'm happy to help. Thanks for the virtual coffee!

[2020-03-17 18:28] #1009 closed

[2020-03-24 06:54] vahidalvandi commented on #812
where is comment?

[2020-03-24 12:40] ezimuel commented on #812
@vahidalvandi read above in the PR, here: https://github.com/elastic/elasticsearch-php/issues/812#issuecomment-445444512, https://github.com/elastic/elasticsearch-php/issues/812#issuecomment-472394859, https://github.com/elastic/elasticsearch-php/issues/812#issuecomment-480326684

[2020-03-26 21:00] koraybilgi commented on #408
When settings hosts **do not** include the **http[s]://** in your host address as amazon suggests, and set the port to **80** (**or 443** if'you enabled Require HTTPS option).

That should do the trick.

[2020-03-28 17:29] dfutrille commented on #135
Excellent!! This works for me!!!

[2020-03-30 17:10] HorvathPeterHub opened #1012 "Wrong JSON error handling"
### Summary of problem or feature request

Above PHP 7.3 the Json error handling in the SmartSerializer has a bug which creates another exception. Instead of the JSON erorr code the error message is passed to the JsonErrorException constructor.

### Code snippet of problem

[code]

Possible patch would be:
- throw new JsonErrorException($e->getMessage(), $data, $result);
+ throw new JsonErrorExcep

[2020-04-02 14:55] SimonBackx commented on #408
Setting both https:// AND :443 did the trick for some reason.

[2020-04-03 09:59] ezimuel commented on #1008
@thinkspill I created the `7.7` branch to support the upcoming Elasticsearch 7.7. This new release contains also the XPack endpoints. You can test it using the following composer command:
[code]

[2020-04-08 13:54] GinoPane opened #1014 "Incorrect HTTP method for uri [/] and method [PUT] when trying to create an index"
### Summary of problem or feature request

I got this error when tried to create an index:

[code]

I traced it down and found out that the reason is elasticsearch host. Originally, it had a trailing slash in my settings. And it worked fine for `getAlias()` for example. But failed for `indices()->create()`.

The host URI needs to be sanitized probably.

### Code snippet of problem

[code]

### Sys

[2020-04-09 09:24] ezimuel commented on #1014
@GinoPane you mentioned that the issue is a `trailing slash` in your setting. Can you write an example to reproduce the issue? Thanks!

[2020-04-09 09:30] ezimuel opened #1015 "Cannot handle IPv6 in publish_address as hostname/ip:port"
The `Elasticsearch\ConnectionPool\SniffingConnectionPool` is not able to parse IPv6 address when returning `publish_address` in the format `hostname/ip:port`.

We need to change the regular expression in `SniffingConnectionPool::parseClusterState()` to manage hostname, IPv4 and IPv6. A potential good one can be:
[code]

[2020-04-09 10:12] GinoPane commented on #1014
Hi @ezimuel! So here's the example how I build the client:

[code]

And initially the host looked like this: https://vpc-elastic-green-[...].eu-west-2.es.amazonaws.com/

When I made a small change in the config and the host became like this: https://vpc-elastic-green-[...].eu-west-2.es.amazonaws.com, the issue disappeared. Now I have `rtrim('/')` in my factory just in case  :smile:

[2020-04-10 15:08] ezimuel commented on #1014
Thanks @GinoPane. I confirm that the issue comes when you add a `trailing slash` in your host URL. Interesting the issue happens only for some endpoints, like `indices.create`.
Do you want to send a PR to fix it? You need also to provide a unit test for that. Let me know, otherwise I'll do it. Thanks!

[2020-04-10 15:18] GinoPane commented on #1014
@ezimuel please do. I'm afraid I can provide only a workaround (like required `rtrim()` for host) but it is a fix for a symptom.

[2020-04-10 15:20] ezimuel commented on #1014
Don't worry, I'll provide the fix. Thanks for the report!

[2020-04-12 17:13] Fossil01 commented on #620
Please add this feature :-)

[2020-04-21 07:36] thomasdv opened #1019 "SQL query support"
Is there a way to run SQL queries from PHP client or in general run queries against a custom endpoint?

[2020-04-21 08:07] philkra commented on #1019
Hi @thomasdv,

Are you referring to the [SQL endpoint](https://www.elastic.co/guide/en/elasticsearch/reference/current/sql-rest-overview.html) in Elasticsearch? If so, yes the Client contains a method to query the SQL endpoint in Elasticsearch [SqlNamespace](https://github.com/elastic/elasticsearch-php/blob/master/src/Elasticsearch/Namespaces/SqlNamespace.php)

The Client covers all endpoints to E

[2020-04-21 08:29] thomasdv commented on #1019
Hi @philkra,

thanks. I have installed elasticsearch/elasticsearch v7.6.1 and there is no SqlNamespace.

I use Open Distro - would it work there too? They use _opendistro/_sql endpoint and I don't know if there are any other major differences that would be incompatible with this library.

Thanks again.

[2020-04-21 09:12] ezimuel commented on #1019
@thomasdv the `SqlNamespace` is part of XPack support that will be added in **7.7 release**, planned later this week. If you want to try right now you can use the `7.7` branch, you can install using the following composer command:
[code]

[2020-04-21 09:18] ezimuel commented on #1019
@thomasdv this library supports Elasticsearch and not Open Distro. The SQL endpoint (and syntax) is different and will not work for Open Distro.

[2020-04-23 01:03] fedeisas commented on #600
@ezimuel could [this release](https://github.com/elastic/elasticsearch-php/releases/tag/v7.5.2) related to this issue? I can no longer use the [lukewaite/ringphp-guzzle-handler](https://github.com/lukewaite/ringphp-guzzle-handler) because it requires `guzzlehttp/ringphp` 😢

[2020-04-23 06:17] ezimuel commented on #600
@fedeisas unfortunately [guzzlehttp/ringphp](https://github.com/guzzle/RingPHP) is an abanoned project. I fork it into [ezimuel/ringphp](https://github.com/ezimuel/ringphp) and from `elasticsearch-php 7.5` we are using it as replacement.

[2020-04-23 09:27] #1019 closed

[2020-04-23 10:09] dinamic opened #1020 "Tag release in 6.x tree with ringphp and streams dependencies fixed"
[code]

I know this issue has been fixed with elasticsearch 7.x, but how about 6.x? We're not ready to upgrade yet.

Would it be possible to backport the removal of `guzzlehttp/ringphp` and `guzzlehttp/streams` to the 6.x tree?

[2020-04-23 10:18] ezimuel commented on #1020
@dinamic good point. I already planned to work on a 6.8 release starting next week. The goal is to include also the XPack endpoints, as I did for [7.7](https://github.com/elastic/elasticsearch-php/tree/7.7) coming release. I will also update the ringphp dependencies.

[2020-04-23 11:42] fedeisas commented on #600
Are you still moving away from RingPHP on the next version? I’ll be glad to contribute.

[2020-04-23 11:49] ezimuel commented on #600
@fedeisas yes, I'm moving away from RingPHP. I' would like to support PSR standards, see https://github.com/elastic/elasticsearch-php/issues/990 for comments and feedback. If you want to contribute you are more than welcome. I'll start working on it soon, on the master branch that is for the next major version Elasticsearch 8. Thanks!

[2020-04-23 19:02] ezimuel commented on #1012
@HorvathPeterHub I provided the fix in #1022, thanks!

[2020-04-24 07:09] HorvathPeterHub commented on #1012
Thank you @ezimuel!

[2020-04-29 23:17] jgough opened #1024 "Support for iteration over composite aggregation responses"
There doesn't seem to be an automatic way to iterate over composite aggregation responses:
https://www.elastic.co/guide/en/elasticsearch/reference/7.6/search-aggregations-bucket-composite-aggregation.html

This is done by taking the _after_key_ field and then feeding it back to the next request via the _after_ parameter - much like the scroll API.

Would be a very useful feature to have this rathe

[2020-05-08 20:10] ezimuel opened #1028 "8.0 meta ticket"
# To-do list
Items for the new **8.0** release of `elastic/elasticsearch-php`:

- [x] redesign the HTTP transport layer using `PSR-7` and `PSR-18` standards (maybe using [HTTPlug](http://httplug.io), not yet decided, see #990);
- [x] redesign the endpoint code generator;
- [x] redesign the async HTTP request API;
- [x] refactor the endpoint code generator for managing multiple URLs for paths;
- [

[2020-05-12 11:26] acclea opened #1029 "php7.2 can't start"
sorry,  i did it, that is i can't install  elasticsearch for Java, install java env is the first

[2020-05-13 02:55] #1029 closed

[2020-05-14 08:42] ezimuel commented on #1008
@thinkspill I released [elaticsearch-php 7.7.0](https://github.com/elastic/elasticsearch-php/releases/tag/v7.7.0) that includes all the XPack endpoints. Now you can creating/managing ILM policies.

[2020-05-14 08:42] #1008 closed

[2020-05-14 08:43] ezimuel commented on #908
I released XPack endpoints with [elasticsearch-php 7.7.0](https://github.com/elastic/elasticsearch-php/releases/tag/v7.7.0). I will also add the XPack support in `elasticsearch-php 6.8.0`.

[2020-05-14 08:43] #908 closed

[2020-05-15 09:40] UlrichEckhardt opened #1030 "TypeError in error handling code of Connection.php"
I have a setup where the ES host isn't set correctly, which then leads to an error in the error handling itself. I'm using version 6.7.2, but from reading the code, the issues below are still present in the latest code.

The code that triggers this is roughly:
[code]

When stepping through the code, this ends up in `Connection::wrapHandler()`, line 223 and `$response['error']` is an instance of `G

[2020-05-17 14:42] UlrichEckhardt commented on #1030
Okay, update, I've extracted a demo:
[code]
In the `composer.json`, I have

        "elasticsearch/elasticsearch": "^6.0"
        "lukewaite/ringphp-guzzle-handler": "^2.1"

The latter and its handler (`new GuzzleHandler(...)`) play an important role in reproducing this. I think this component can be blamed to some extent because it throws the wrong exception type. However, your code seems to be p

[2020-05-18 14:04] mpchadwick opened #1031 "Confirm Current Version Matrix is Correct"
### Summary of problem or feature request

The version matrix was last updated 6 months ago and says that for Elasticsearch >= 7.4 the 7.4 branch should be used.

https://github.com/elastic/elasticsearch-php/blame/6c9c0a765f8b31c1d9f1a5af4de2f53fd7298e38/README.md#L55

7.4 is now a "stale branch" https://github.com/elastic/elasticsearch-php/branches and there are tags for the 7.6 and 7.7.

Is the

[2020-05-20 00:15] hacfi commented on #1028
Remove `src/autoload.php` and the corresponding entry from `composer.json`.

Unfortunately this currently prevents using the new Opcache preloading feature from PHP 7.4.

[2020-05-20 14:07] ezimuel commented on #1028
@hacfi yes, we will definitely remove the `src/autoload.php`. We introduced it only because a BC break case. Btw, can you give me more detail about the issue with Symfony 4.4? Thanks!

[2020-05-20 16:37] hacfi commented on #1028
@ezimuel Symfony 4.4 introduced a new feature (see https://symfony.com/blog/new-in-symfony-4-4-preloading-symfony-applications-in-php-7-4) that makes use of PHP 7.4's `opcache.preload=` option. When you use any class of this package in your app the `Elasticsearch\` classes will be preloaded automatically when the server starts. The problem is that when your application includes Composer's autoload

[2020-05-20 16:58] hacfi commented on #1028
Just thought of a simple fix for that: call `class_exists($alias, false)` before you actually create the alias. That's also how it's fixed in another repo that has this issue: https://github.com/hoaproject/Consistency/pull/36/files

[2020-05-20 21:49] HorvathPeterHub opened #1035 "Wrong exception parameters"
### Summary of problem or feature request

There are situations when the ES gives back null as error reason. In such situations the expected exception cannot be created because of a PHP TypeError.

### Code snippet of problem

Response from the server:
[code]

And the failing code snippet:
src\Elasticsearch\Connections\Connection.php:702
[code]

The $error variable contains:
[code]

Since the exce

[2020-05-21 05:42] ezimuel commented on #1028
@hacfi thanks for the info. I'll provide a PR to fix this.

[2020-05-27 14:29] ezimuel opened #1037 "Implement missing features in YAML test runner"
The integration tests with Elasticsearch are designed using the YAML test case used by Elasticsearch [here](https://github.com/elastic/elasticsearch/tree/master/rest-api-spec/src/main/resources/rest-api-spec/test) and [here](https://github.com/elastic/elasticsearch/tree/master/x-pack/plugin/src/test/resources/rest-api-spec/test) (for XPack).
We perform this tests using a [Data Providers](https://p

[2020-06-04 11:27] anilcancakir commented on #1020
+1 in 7.7

[2020-06-07 19:40] hkaraoglu commented on #646
Thanks @MikeMajara .

[2020-06-10 05:48] billmi opened #1040 "'type' is not in Demo..."
The field of 'type' is not in Demo...

[2020-06-11 20:37] faridmovsumov commented on #1014
I have the same issue. I am using elastic.co service and it was using perfect until yesterday. Suddenly it started to throw an error.

`Elasticsearch\Common\Exceptions\BadRequest400Exception  : {"error":"Incorrect HTTP method for uri [//auto_complete_local_1] and method [PUT], allowed: [POST]","status":405}`

Everything looks good in logs. No idea what is the reason.
![image](https://user-images.g

[2020-06-16 12:25] ezimuel commented on #1040
@billmi what do you mean? Can you give me more context? Thanks.

[2020-06-17 02:28] billmi commented on #1040
$params = [
        'index' => 'my_index1',
        'type' => 'novel',
        'id' => $i,
        'body' => [
            'id' => $i,
            'word_count' => $i,
            'author' => "bill" . $i,
            'title' => "bill_abc" . $i,
            'publish_date' => date("Y-m-d H:i:s", time() + (3600 * $i)),
        ]
    ];

[2020-06-17 21:21] miguelmsoler opened #1041 "Guzzle ClientErrorResponseException when I try to index a new row through eloquent."
### Summary of problem or feature request

I'm working in an old Laravel 5 project. Elasticsearch server is ver. 2.3.3 and elasticsearch-php is 1.1. I read in the docs that they are compatible.

The site is up and running since 2017 at least. But after some changes I can not save values using Eloquent since I get a Guzzle\Http\Exception\ClientErrorResponseException.

It's strange, because the reas

[2020-06-18 15:25] hoebelix opened #1042 "Elasticsearch-php produces lots of warnings with php 7.4 preloading enabled."
### Summary of problem or feature request

I use elasticsearch-php within a symfony project (symfony 4.4). Elasticsearch-php produces lots of warnings with php 7.4 preloading enabled.

Example log line:
NOTICE: PHP message: PHP Warning:  Cannot declare class \Elasticsearch\Endpoints\Cluster\Nodes\HotThreads, because the name is already in use in /code/xx/vendor/elasticsearch/elasticsearch/src/auto

[2020-06-22 07:15] anam-hossain opened #1043 "Mock multiple responses"
Guzzle Mock Handler supports mocking multiple responses using HandlerStack. Is there anything similar for the Ring MockHandler. I have a controller which currently running two queries to ElasticSearch.

Is there a way to test two requests to Elastic search?

I can see, I can only test one request using the following:
https://github.com/elastic/elasticsearch-php/issues/589#issuecomment-306335931

G

[2020-06-23 01:19] anam-hossain commented on #1002
@ezimuel is there any way to mock multiple requests in one call?

Is it possible something like the Guzzle [HandlerStack](http://docs.guzzlephp.org/en/stable/testing.html)?

[code]

[2020-06-23 21:50] c-leroy opened #1044 "Scroll search with long scroll_id"
Reference documentation from https://www.elastic.co/guide/en/elasticsearch/client/php-api/current/search_operations.html tells us to use scroll_id parameter in scroll() parameters. This leads to a Elasticsearch error in case scroll_id is too large, since - in this case - it is sent in request URI, which overcomes elasticsearch limits.

Example from https://www.elastic.co/guide/en/elasticsearch/cli

[2020-06-26 15:51] adri commented on #1042
I'm seeing the same issue with PHP 7.4.7.

[code]

[2020-06-30 14:59] ezimuel commented on #126
@Crell is the Drupal license still in conflict with Apache 2? As you know we added the double license using Apache 2 and LGPL v2.1. I'm wondering if the latest is still needed, I would like to simplify the licensing using only Apache 2. Let me know, thanks!

[2020-06-30 15:45] Crell commented on #126
I am no longer involved with Drupal, but Apache2 is and will always be incompatible with GPLv2.  It is inbound compatible with GPLv3 (according to FSF at least), but Drupal has made it clear it is unlikely to ever move to GPLv3 because corporations want their loopholes.

Honestly, I find Apache2 a pointless license for web software these days.  GPLv3 provides the same protections and more for deve

[2020-06-30 19:05] ezimuel commented on #126
@Crell thanks for the feedback!

[2020-07-01 12:24] sagarjainubuy opened #1046 "Is the 7.8 released for php?"
Is the 7.8 released for php ?

[2020-07-02 19:02] nicolasvahidzein opened #1047 "redundant entries on reindex"
Hello, i'm confused about why i'm having multiple entries when i query my ES database. It seems that everytime i do a reindex it multiplies my dataset.

Here is the reindex command:

[code]

[2020-07-04 11:50] drunken-monkey opened #1048 "Regression (7.3 -> 7.4): Indexing fails for item IDs that contain slashes"
### Summary of problem or feature request

When updating this library from version 7.3 (or lower) to 7.4, indexing (and any other operations where an item ID is included in the URL) starts to fail for items whose IDs contain slashes.

The error printed is the following:
[code]

The problem seems to be that the ID (`1/1`) is not URL-encoded, so it’s read as two separate path components.

### Code s

[2020-07-06 19:38] truls1502 opened #1049 "ES 7.6.2 is missing"
### Summary of problem or feature request

I am using [Elasticsearch 7.6.2](https://www.elastic.co/guide/en/elasticsearch/reference/7.6/release-notes-7.6.2.html)

### Suggestion?
- Could you create a new release tag? Or at the moment I am using a workaround such as: ` "elasticsearch/elasticsearch": "7.6.2 as 7.6.1"` which works, but would be nice to have own version if it is possible 🤓

Or maybe y

[2020-07-16 08:43] ezimuel commented on #1042
@hoebelix, @adri we are working on #1051 but I would like to understand the preload configuration that  you are using. Thanks!

[2020-07-16 08:56] hoebelix commented on #1042
I just use the default symfony 4.4 preload configuration:

opcache.preload=/var/www/var/cache/prod/srcApp_KernelProdContainer.preload.php
opcache.preload_user=www-data

[2020-07-16 09:28] adri commented on #1042
Same for me, default symfony 4.4

[2020-07-17 08:24] ezimuel commented on #1049
@truls1502 if you mean that `elasticsearch-php` does not have a `v7.6.2` release this is because we don't update it on each patch release of Elasticsearch (ES). The [7.6.1](https://github.com/elastic/elasticsearch-php/releases/tag/v7.6.1) version of elasticsearch-php is compatible with all the ES `7.6.x` versions. We only update `elasticsearch-php` for minor and major releases of ES.

[2020-07-17 08:26] ezimuel commented on #1048
@drunken-monkey thanks for reporting this issue. I'm looking into it and I'll update asap.

[2020-07-17 08:59] ezimuel commented on #1047
@nicholasberlin which version of `Elasticsearch` and `elasticsearch-php` are you using? Can you give me an extract of the result with multiple entries when you perform a search? Thanks!

[2020-07-17 09:05] ezimuel commented on #1046
@sagarjainubuy yes, [elasticsearch-php 7.8](https://github.com/elastic/elasticsearch-php/releases/tag/v7.8.0) has been released on 18th June 2020.

[2020-07-17 09:05] #1046 closed

[2020-07-17 09:26] Megabite1997 commented on #519
Excuse me, @borys-p , how can I set 'http://127.0.0.1:9200' as the primary host.

[2020-07-17 10:03] ezimuel commented on #1044
@c-leroy thanks for reporting this. The [@trigger_error()](https://github.com/elastic/elasticsearch-php/blob/7.x/src/Elasticsearch/Endpoints/Scroll.php#L27) reported in `Elasticsearch\Endpoints\Scroll` is a warning about the usage of `scroll_id` in the body.
We used the [@](https://www.php.net/manual/en/language.operators.errorcontrol.php) operator of PHP to suppress error message because of BC br

[2020-07-17 10:05] ezimuel commented on #1042
@hoebelix, @adri thanks for the information. The issue has been fixed in #1051. I'll release it soon in 7.9.

[2020-07-17 10:05] #1042 closed

[2020-07-17 10:19] ezimuel commented on #1040
@billmi I'm sorry but I don't know where you get this code example. I cannot find it in the repository. I'm closing this since I cannot reproduce the issue. If you will send more information I can reopen it. Thanks.

[2020-07-17 10:19] #1040 closed

[2020-07-17 11:09] ezimuel commented on #1044
@c-leroy I created https://github.com/elastic/elasticsearch-php/pull/1052 to fix the documentation. Let me know what do you think, thanks!

[2020-07-17 11:22] ezimuel commented on #1031
@mpchadwick sorry for my late reply :disappointed:  You right, I updated the version matrix [here](https://github.com/elastic/elasticsearch-php#version-matrix). Basically, we are releasing a new version of `elasticsearch-php`  each time we have a new major or minor release of Elasticsearch. For instance, now Elasticsearch is `7.8` and we released [elasticsearch-php 7.8](https://github.com/elastic/

[2020-07-17 12:02] ezimuel commented on #1043
@anam-hossain I see that `GuzzleHttp\Ring\Client\MockHandler` supports array as well in the constructor, see [here](https://github.com/ezimuel/ringphp/blob/master/src/Client/MockHandler.php#L23). You can try to pass multiple reponses (not requests) as follows:

[code]
Let me know if this solve your use case, thanks!

[2020-07-17 12:33] ezimuel commented on #1041
@miguelmsoler we are not supporting anymore elasticsearch-php `1.x` or `2.x`. That said, we suggest to use elasticsearch-php 2.x with the following composer configuration:
[code]

[2020-07-17 12:33] #1041 closed

[2020-07-17 12:34] c-leroy commented on #1044
@ezimuel Thanks for the explanation about `@trigger_error()`.
I'm OK with #1052
Regards

[2020-07-17 12:45] ezimuel commented on #1044
Solved in #1052.

[2020-07-17 12:45] #1044 closed

[2020-07-17 20:37] nicolasvahidzein commented on #1047
@ezimuel Hello Enrico, i was able to figure it out thank you. I didn't realize i needed to delete the index and then index/reindex.

the problem was that i was generating a new database everytime because i am currently in debug/testing mode.

here is how i created a new file to delete the index:

this is the laravel command in full:
[code]

[2020-07-18 07:06] ezimuel commented on #1047
@nicolasvahidzein I'm glad that you solved.

[2020-07-18 07:06] #1047 closed

[2020-07-18 09:03] adri commented on #1042
Awesome thanks!

[2020-07-19 03:34] anam-hossain commented on #1043
@ezimuel Thank you for the reply. I did a test with multiple responses. It seems the error goes away but second response returning an empty result.

[code]

**Output:**

[code]

[2020-07-27 07:43] ezimuel commented on #1049
@truls1502 I'm closing this issue. If you need more information I'll reopen it. Thanks.

[2020-07-27 07:43] #1049 closed

[2020-07-28 09:21] ptrknow opened #1053 "Is there a way to supply http headers using elasticsearch-php?"
In Perl, for example, I can do something like this

[code]

Can I achieve something similar using elasticsearch-php?

[2020-07-30 09:06] StasToken commented on #831
It seems the bug is not fixed

I also ran into this error today

[2020-08-04 15:19] ezimuel commented on #1053
Yes, you can speficy custom headers globally or for each request.

**As global option, as part of the client options**
[code]

**Or for each request**
[code]

[2020-08-05 05:56] mlambley opened #1054 "Cannot generate a 5xx exception when response body is null"
### Summary of problem or feature request
Cannot generate a 5xx exception when response body is null. Error shown:
[code]

### Code snippet of problem
Happens on my Magento 2.4 installation when `bin/magento indexer:reindex`
https://github.com/elastic/elasticsearch-php/blob/da40f294cbffaea61729456746ecba14310eafdc/src/Elasticsearch/Connections/Connection.php#L665

### System details
- Operating Sy

[2020-08-06 00:52] mlambley commented on #1054
PR submitted https://github.com/elastic/elasticsearch-php/pull/1055

[2020-08-07 08:48] jvocampings commented on #1030
Hello @UlrichEckhardt

did you get any news about this error ?

I tried with `7.6.1` and still get it.

[2020-08-10 13:05] SeBsZ commented on #1054
@mlambley thanks for this. I just ran into this same issue when 3 out of 4 ES servers were down. I got the `Wrong parameters for Elasticsearch\Common\Exceptions\ServerErrorResponseException` in `process5xxError()`.

In my case, just like for @mlambley, `$responseBody` is `null`, and that is not allowed by
`$exception = new ServerErrorResponseException($responseBody, $statusCode);`

I quickly glanc

[2020-08-10 15:03] ezimuel commented on #1054
@mlambley thanks for PR #1055. I'll look into it asap!

[2020-08-10 15:52] archon810 commented on #1054
👀 Stuff seems to be crashing because of this. Thanks for looking into it.

[2020-08-10 23:09] mlambley commented on #1054
Thanks. My only concern is that I won't actually get the changes if the PR is accepted as is, because I'm using Magento which hardcodes an earlier version of elastic. I'm looking for guidance regarding which branch to target. I'm thinking `6.x`

[2020-08-11 11:05] #1053 closed

[2020-08-11 13:39] ezimuel commented on #1048
@drunken-monkey this issue is related with https://github.com/elastic/elasticsearch-php/pull/1017. From 7.4 we used a new code generator for the APIs that overwrited the `setId()` in some endpoints witout `urlencode()`. The correct `setId()` implementation is in the [AbstractEndpoint](https://github.com/elastic/elasticsearch-php/blob/7.x/src/Elasticsearch/Endpoints/AbstractEndpoint.php#L163-L176).

[2020-08-11 15:54] ezimuel commented on #1048
@drunken-monkey just released [7.4.2](https://github.com/elastic/elasticsearch-php/releases/tag/v7.4.2). Let me know if this fixes the issue, thanks!

[2020-08-12 17:29] drunken-monkey commented on #1048
Yes, works perfectly now, thanks!

[2020-08-12 19:10] #1048 closed

[2020-08-13 19:00] archon810 commented on #1054
@ezimuel Any idea if the fix will make it into the next release yet? Thanks.

[2020-08-14 06:47] emaillenin commented on #994
@jhob101 How did you resolve the certificate issue?

[2020-08-15 09:53] emaillenin commented on #831
I'm facing this error after upgrading to 7.8 from 5.6:

[code]

    Operating System: Ubuntu 18.04
    PHP Version: 7.2
    ES-PHP client version: v7.8.0
    Elasticsearch version: 7.8.1

[2020-08-17 10:32] #1031 closed

[2020-08-17 12:43] ezimuel commented on #1054
@mlambley I just sent a review about PR #1055.
@archon810 We need to finalize the PR, this will require some time since I asked for a change. I think we can release in a patch release after the next minor `7.9` that is scheduled this week.

[2020-08-20 11:18] mlambley commented on #1054
New PR https://github.com/elastic/elasticsearch-php/pull/1056

[2020-08-21 11:02] szambonurek opened #1058 "Php Exception inside Transport.php when document not found"
### Summary of problem or feature request
When document with specified id is not found there is an php exception inside Transport.php

**vendor/elasticsearch/elasticsearch/src/Elasticsearch/Transport.php:127**

**vendor/react/promise/src/RejectedPromise.php:28**
[code]

This is the problem, you use object as array:
**vendor/elasticsearch/elasticsearch/src/Elasticsearch/Transport.php:127**
`if (!(i

[2020-08-25 07:24] ptrknow commented on #1053
Thank you for the help.

Unfortunately, your way of specifying didn't work. I have gone through other issues and, by trial-and-error, found that the following way works:
[code]

I don't quite get the technical difference between your way and the above way though.

[2020-09-02 14:47] Pyker commented on #988
This is the same issue as https://github.com/elastic/elasticsearch-php/issues/495#issuecomment-258533457

[2020-09-03 10:24] arnisjuraga commented on #620
Just a quick note. In PHP You must pass or define string variable with single quotes, otherwise it will be decoded incorrectly for e.g. backslashes (obviously).

instead of

[code]

must be

[code]

[2020-09-09 20:32] archon810 commented on #1054
Any updates here?

[2020-09-09 22:55] mlambley commented on #1054
@archon810 @ezimuel https://github.com/elastic/elasticsearch-php/pull/1056 is ready for review. Thank you.

[2020-09-10 00:09] Aberbin96 opened #1060 "Facets error"
Hello, I try to use facets in my search function, but not working. You can help me here:

[code]

When I run this code only show:
Unknown key for a START_OBJECT in [facets].","line":1,"col":36

- PHP Version: 7.1
- Elasticsearch version: "elasticsearch/elasticsearch": "7.8.0",

[2020-09-11 03:38] lawlielt opened #1061 "sniffConnectionPoll may have endless connection error in a long script"
### Summary of problem or feature request

a long script may have endless connection error in sniffConnecitonPoll state.

### Code snippet of problem
my code is here. when the script run a while when all the server state is alive., the shut down the one of the hosts. then the script will always print ""cURL error 28: Connection timed out after xxxx milliseconds"

[code]

the problem is when the se

[2020-09-22 18:35] ezimuel opened #1064 "Custom headers added on a specific endpoint are not reset after the call"
When you add custom headers on a specific endpoint the headers are not reset after the call.
For instance, calling 2 indexes endpoint with a custom header on the first affects also the second call.
[code]

[2020-09-28 08:24] ezimuel commented on #1064
Solved in #1065

[2020-09-28 08:24] #1064 closed

[2020-09-30 14:18] ezimuel commented on #1058
@szambonurek thanks for reporting the issue. It was a strange one since it does not appear at runtime. I fixed with PR #1066 including also a unit test.

[2020-09-30 15:06] ezimuel commented on #1035
This issue has been resolved in `elasticsearch-php` 7.5.0, see https://github.com/elastic/elasticsearch-php/commit/f148afa19e91960fd5bd8a13a199d539e59f3d95. You can use the latest 7.5.x release, that is [7.5.1](https://github.com/elastic/elasticsearch-php/releases/tag/v7.5.1), since you are using Elasticsearch 7.4.2.

[2020-10-01 10:20] ezimuel commented on #1060
Facets has been replaced by [Aggregations](https://www.elastic.co/guide/en/elasticsearch/reference/7.x/search-aggregations.html) since Elasticsearch 1.0. If you want to aggregate the field `all_name` in your example you can use the following parameters:

[code]

[2020-10-01 10:24] ezimuel commented on #1058
Solved in #1066

[2020-10-01 10:24] #1058 closed

[2020-10-05 15:11] ezimuel commented on #1054
Merged in #1056.

[2020-10-05 15:11] #1054 closed

[2020-10-05 15:16] #1035 closed

[2020-10-12 07:56] #1060 closed

[2020-10-13 10:32] homersimpsons opened #1070 "Search endpoint parameters wrong / incomplete"
### Summary of problem or feature request

Search endpoint parameters seems wrong / incompletes

They are defined there:
https://github.com/elastic/elasticsearch-php/blob/c03a02cdd8fb05e5bcab90c9a68e3a0b1af59073/src/Elasticsearch/Endpoints/Search.php#L50-L94

And also in the PHPDoc here:
https://github.com/elastic/elasticsearch-php/blob/c03a02cdd8fb05e5bcab90c9a68e3a0b1af59073/src/Elasticsearch/Cl

[2020-10-14 06:33] retnek opened #1071 "Incorrect documentation in Ignoring exception section"
Hi,

I've found a minor typo in your documentation here:
https://www.elastic.co/guide/en/elasticsearch/client/php-api/current/per_request_configuration.html#_ignoring_exceptions
I think there's no MissingDocument404Exception rather Missing404Exception.
You can check this in github also: https://github.com/elastic/elasticsearch-php/search?q=MissingDocument404Exception

Cheers!

[2020-10-14 18:45] adamwojs opened #1072 "Elasticsearch\Endpoints\Indices\ExistsIndexTemplate::getURI returns invalid URI"
Hi!

### Summary of problem or feature request

Valid `Elasticsearch\Namespaces\IndicesNamespace::existsIndexTemplate` method call (see snippet below) throws  `Elasticsearch\Common\Exceptions\BadRequest400Exception: Unknown 405 error from Elasticsearch null` exception instead of return boolean value.

The cause of the issue is invalid URI generated by [`\Elasticsearch\Endpoints\Indices\ExistsIndex

[2020-10-15 14:35] ezimuel commented on #1070
@homersimpsons All the endpoints are generated using the Elasticsearch API specification. For instance, these are the specs for Elasticsearch ver. 7.9.2:
- [Oss endpoints](https://github.com/elastic/elasticsearch/tree/v7.9.2/rest-api-spec/src/main/resources/rest-api-spec/api)
- [Xpack endpoints](https://github.com/elastic/elasticsearch/tree/v7.9.2/x-pack/plugin/src/test/resources/rest-api-spec/api

[2020-10-15 14:39] ezimuel commented on #1071
@retnek thanks for reporting this. May you want to send a PR for fixing the documentation page https://github.com/elastic/elasticsearch-php/blob/7.x/docs/per-request-configuration.asciidoc ?
Let me know, thanks!

[2020-10-18 17:07] olsgreen commented on #1020
What's the status of this? Do you still intend to implement it?

[2020-10-21 15:44] science695 opened #1074 "Api Key error in ClientBuilder::fromConfig"
### Summary of problem or feature request
Too few arguments to function Elasticsearch\ClientBuilder::setApiKey(), 1 passed in
vendor/elasticsearch/elasticsearch/src/Elasticsearch/ClientBuilder.php on line 192
and exactly 2 expected
StackTrace:

ClientBuilder::fromConfig calls setApiKey from the config option 'ApiKey', however, setApiKey has 2 arguments

I can think of several options that would fi

[2020-10-27 21:05] science695 commented on #1074
My suggestions don't properly handle setApiKey and setHosts...as setHosts wants the array as the first argument, while setApiKey has them separated.

Not sure what solution you would prefer, but should handle both scenarios.

[2020-10-28 12:24] science695 commented on #1074
If there are any others dealing with this issue, I put a fix in it by overriding my own ClientBuilder::fromConfig:

[code]

[2020-11-06 15:58] magical-travvo commented on #1024
We're having the same issue, it would be good to be able to do this without creating something external to Elasticsearch, which would defeat the purpose of using Watcher.

[2020-11-09 05:46] ywdblog commented on #297
es7

https://github.com/elastic/elasticsearch-php/issues/931#issuecomment-521293999

[2020-11-09 14:10] ezimuel commented on #1074
@science695 I provied a fix for this issue in #1076. I used the [variadic function](https://www.php.net/manual/en/functions.arguments.php#functions.variable-arg-list) of PHP to support the ability to pass multiple parameters in `set*`.

[2020-11-09 15:51] ezimuel commented on #1072
The `/_index_template/{name}` is an **experimental** API introduced in Elasticsearch 7.8, see the API specification [here](https://github.com/elastic/elasticsearch/blob/v7.8.0/rest-api-spec/src/main/resources/rest-api-spec/api/indices.exists_index_template.json). This API has been introduced to play with the next Elasticsearch API (v2).

I double check using Elasticsearch 7.9 and elasticsearch-php

[2020-11-11 13:11] ezimuel commented on #1074
I merged this in 7.x since I would like to release the patch for 7.10 release.

[2020-11-11 13:11] #1074 closed

[2020-11-11 15:29] science695 commented on #1074
@ezimuel awesome, thanks

[2020-11-11 17:08] ezimuel commented on #1074
Just released [7.10.0](https://github.com/elastic/elasticsearch-php/releases/tag/v7.10.0) that includes fix #1074.

[2020-11-13 14:01] #1071 closed

[2020-11-25 14:36] netwons opened #1078 "Existence of quantity?"
How can I know if a desired value exists or not?

[2020-11-27 16:30] netwons opened #1079 "sort name in elasticsearch by php"
im can not sort by name?

[code]

[2020-11-30 12:48] ezimuel commented on #1078
What do you mean about a "desiderad value"?

If you mean if an index exists in Elasticsearch you can use the `indices.exists` API, as follows:
[code]
Instead, if you mean if a document ID exists, you can use the `exists` API, as follows:
[code]

[2020-11-30 12:49] ezimuel commented on #1079
Which endpoint (API) are you using here?

[2020-11-30 12:50] #1072 closed

[2020-11-30 14:47] ahmidbbc opened #1080 "Build failed with on master"
### Summary of problem or feature request

The problem is that the build failed with Travis, please check https://travis-ci.org/github/elastic/elasticsearch-php

[2020-12-01 06:48] netwons commented on #1079
no api
im use package elasticsearch/elasticsearch in laravel

[2020-12-01 07:38] webchen opened #1082 "Coroutine internal error: Object of class Swoole\Curl\Handler could not be converted to int"
env:
swoole 4.5.9
while using "curl_init", it becomes to the "\swoole\curl\handler", and it can not convert to int

curl should be coroutine, please fix it, thanks.

error code:
    private function checkoutEasyHandle()
    {
        // Find an unused handle in the cache
        if (false !== ($key = array_search(false, $this->ownedHandles, true))) {
            $this->ownedHandles[$key] = true;

[2020-12-01 10:30] netwons commented on #1078
thanks

[2020-12-01 10:41] #1078 closed

[2020-12-01 13:25] reedy opened #1083 "PHP Version Support"
Hello!

I'd like to request an update/clarification to https://github.com/elastic/elasticsearch-php#php-version-requirement about the PHP versions supported.

<img width="871" alt="Screenshot 2020-12-01 at 13 20 21" src="https://user-images.githubusercontent.com/67615/100745971-fa953600-33d7-11eb-8876-c963b142b34f.png">

The table doesn't use semver (and it shouldn't necessarily), but `>= 7.0.0` a

[2020-12-01 13:28] reedy opened #1084 "PHP 8.0 Support"
Following on from the clarification requested in https://github.com/elastic/elasticsearch-php/issues/1083 and https://github.com/elastic/elasticsearch-php/issues/1028 as the next major release...

Is the elasticsearch-php 8.0 release going to have PHP 8 support?

[2020-12-01 13:31] reedy commented on #1084
It was a question brought up in https://github.com/ruflin/Elastica/pull/1799#issuecomment-727873863 to help them work out when to do a ruflin/Elastica release with PHP 8.0 support too; which is not so helpful if elasticsearch-php doesn't support it in a release :)

[2020-12-01 17:33] Radiergummi commented on #1083
Most probably, it will be enough to update the version requirement to `>=7.1|^8.0` and release a patch for it.

[2020-12-02 15:32] sebsel opened #1085 "PHP 8.0: array_walk(): Argument $key must be passed by reference, value given"
While waiting on a reply on https://github.com/elastic/elasticsearch-php/issues/1084, I'm stuck in a situation where I do have PHP 8.0 on my machine already, but cannot update my project because I cannot do a `composer install` on PHP 8.0. I can however run my already locally installed code in PHP 8.0, so there I got this bug.

### Summary of problem or feature request

I got the following Excepti

[2020-12-02 15:37] mfn commented on #1085
Hi,
I discovered this too in https://github.com/elastic/elasticsearch-php/pull/1063#issuecomment-727770331 and someone beat me making a PR for it (though unmerged as of now) => https://github.com/elastic/elasticsearch-php/pull/1075

[2020-12-02 15:38] sebsel commented on #1084
Note that before `elastic/elasticsearch-php` can be upgraded, the dependency `cpliakas/git-wrapper ~2.0` must be updated to support PHP 8 too.

[2020-12-02 15:47] reedy commented on #1084
Looks like a bump to `~3.0.3` would suffice (along with any code changes as appropriate). 3.0.2 still has `^7.2` for PHP support

[2020-12-02 16:01] sebsel commented on #1084
Yes, that does seem to work. After that there is only the problem of `phpunit/phpunit ^7.5`, with phpunit 8 having you add `: void` after all `setUp()` `tearDown()` methods on tests and some other deprecations.

[2020-12-02 16:09] sebsel commented on #1084
Linking this PR up for discoverability: https://github.com/elastic/elasticsearch-php/pull/1063

[2020-12-02 16:50] reedy commented on #1084
Dropping PHP 7.1 support would help here... 7.1 has been EOL for about a year at this point

And PHPUnit 7 doesn't support PHP 7.4 either (and is EOL itself too)

PHPUnit 8 supports PHP 7.2, PHP 7.3, PHP 7.4, PHP 8.0

https://phpunit.de/supported-versions.html

Time to file another task

[2020-12-02 16:52] reedy opened #1086 "Drop PHP 7.1 support in ES-PHP 8.0?"
As mentioned in https://github.com/elastic/elasticsearch-php/issues/1084

PHP 7.1 is EOL for about a year now. Can we drop support for it?

To cover properly PHP 7.4/8.0 in PHPUnit we need to upgrade to PHPUnit 8.0, which also drops 7.1 support

https://phpunit.de/supported-versions.html

[2020-12-02 17:01] reedy commented on #1086
Though it looks like with https://github.com/elastic/elasticsearch-php/pull/1063 having `"phpunit/phpunit": "^7.5 || ^8.5 || ^9.3",` doesn't necessarily cause compatability issues...

[2020-12-03 15:50] science695 commented on #1079
@netwons this error is coming back from the elastic server, and seems to be an issue with your mapping.

It is saying that fields of type 'text' are not indexed in a way that you can sort on them.

You may want to look at a different type, or a subfield that holds the beginning of the text field for sorting.

[2020-12-03 15:53] science695 commented on #1082
@webchen Are you posting an issue in a Guzzle dependency in the elasticsearch-php project?

Is this something that needs to be updated in ezimuel/ringphp?

[2020-12-08 08:58] Radiergummi commented on #1085
@sebsel OT, but you can always do `composer install --ignore-platform-reqs` :)

[2020-12-09 15:47] ezimuel commented on #1086
@reedy I know that 7.1 is EOL but I cannot drop 7.1 support since this will be a breaking change. I'm working on #1063 and we can use different versions of PHPUnit using the or (`||`) operator in composer.

[2020-12-09 16:38] reedy commented on #1086
Bumping to 8 is a major version... So that's the kind of time you do a breaking change :)

[2020-12-09 19:54] ezimuel commented on #1086
@reedy I cannot remove the support of PHP 7.1 until I'll release `elasticsearch-php` 8.0.0. This will happen in 2021, since the version of the PHP client must be aligned with the release schedule of [Elasticsearch](https://github.com/elastic/elasticsearch).
We will support PHP 8 starting from `elasticsearch-php` 7.11.0. Maybe I was not enough clear in my previous comment, sorry.

[2020-12-09 19:54] #1086 closed

[2020-12-10 04:17] michaeldnelson commented on #1084
I'm sorry if this has been covered somewhere already.  Is there an ETA on PHP 8 support or are we in a wait and see situation?  I foolishly started a port of my existing codebase and missed this dependency.

[2020-12-10 18:23] BenGrandin commented on #744
More than 1 year later, this issue still up to date..

[2020-12-10 19:44] ezimuel commented on #744
@BenGrandin this is not an issue from `elasticsearch-php` 7.0, we added `_doc` type as default: https://github.com/elastic/elasticsearch-php/blob/v7.0.0/src/Elasticsearch/Endpoints/Index.php#L42
Are you still using `elasticsearch-php` 6.x?

[2020-12-11 12:42] BenGrandin commented on #744
@ezimuel You were right. Even if my composer.json had elastic dependency to 7.*, I hadn't the correct version.

I remove my vendor folder and uninstall elastic then re-install. Now that's works !

Thank you for your time,

Ps : I am using docker, and new into Symfony world.

[2020-12-12 16:43] grizzm0 commented on #1086
Bumping the PHP version to 7.4 is not really considered a BC break. People on 7.1 will keep getting the prior version that is compatible with their environment.

Some references on this matter
* https://sebastiandedeyne.com/composer-semver-and-underlying-dependency-changes/
* https://github.com/Ocramius/ProxyManager/issues/455
* https://www.doctrine-project.org/2017/07/25/php-7.1-requirement-and-c

[2020-12-13 18:38] JulieVelghe opened #1088 "connection Error"
### Summary of problem or feature request

I've used this client to use elasticsearch in a craft cms website. To develop, I use mamp pro 4 for windows and github desktop to get my repo. I now got an error in my code, when trying to ping: no alive nodes in cluster. However, when calling my endpoint in lets say postman, I get an ok response. Also, getting the repo on my mac tower, again with mamp pr

[2020-12-16 21:44] ezimuel commented on #1085
@sebsel fixed in `7.x` branch with #1075. I'll ship it in the next `7.11` release.

[2020-12-16 21:44] #1085 closed

[2020-12-16 21:47] ezimuel commented on #1084
PHP 8 is supported in `7.x` branch. I'll ship this it in 7.11 release, when Elasticsearch 7.11 will be released.
Regarding PHP 7.1 support we need to have it until Elasticsearch 8.

[2020-12-16 21:47] #1084 closed

[2020-12-16 21:52] ezimuel commented on #1083
@reedy when you read `PHP >= 7.1.0` this means the minimum PHP requirement, until the next major. I'll improve the table in the README.md to be more clear. If you have any suggestion you can send a PR, thanks!

[2020-12-16 21:55] ezimuel commented on #1079
@netwons I'm sorry but we cannot help on specific question about Laravel. As suggested by @netwons, this can be an issue with your mapping. For more information about mapping I suggest to have a look at Elasticsearch documentation [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping.html).

[2020-12-16 21:55] #1079 closed

[2020-12-16 21:56] ezimuel commented on #1080
@ahmidbbc thanks for the notice but we are working on `master` for the next major release of `elasticsearch-php` so failing is ok at the moment. The actual working branch is `7.x`.

[2020-12-16 21:56] #1080 closed

[2020-12-16 21:58] ezimuel commented on #1082
@webchen I'm sorry but we don't support Swoole at the moment. We are working on the next major release of `elasticsearch-php` and we will try to test it using async/coroutine support, e.g. swoole.

[2020-12-16 21:58] #1082 closed

[2020-12-16 21:59] #1070 closed

[2020-12-16 22:00] #336 closed

[2020-12-16 22:00] #620 closed

[2020-12-16 22:01] #965 closed

[2020-12-16 22:22] reedy commented on #1083
Like I say, if it was semver syntax, I'd agree. But 8.0.0 >= 7.1.0... And many projects are using basically that syntax in their composer.json to include support for PHP 8.0

[2020-12-17 08:51] ezimuel commented on #1088
@JulieVelghe can you paste the PHP code for the connection to Elasticsearch that you are using? Thanks.

[2020-12-17 09:17] ezimuel commented on #1083
PHP Version Requirement
----
Version 7.x can be used starting from PHP version 7.1. In addition, it requires the native JSON
extension to be version 1.3.7 or higher.

PHP 8 is supported starting from `elasticsearch-php` 7.11.

| Elasticsearch-PHP Branch | PHP Version |
| ----------- | ------------------------ |
| >= 7.11.0, < 8.0.0  | >= 7.1.0, < 9.0.0        |
| >= 7.0.0,  < 7.11.0 | >= 7.1.0, <

[2020-12-17 10:24] Radiergummi commented on #1083
@ezimuel that looks clear as day, thank you! I originally implied that PHP 8 support should simply be granted for the 7.x branch (given that it technically only requires a patch and wouldn't have to be explicitly listed), but then again I'm not involved with the project yet. So 7.11 it is :)

[2020-12-17 10:37] ezimuel commented on #1083
@Radiergummi Since each elasticsearch-php `7.y` client works with all the `7.x` Elasticsearch versions where x <= y, I don't need to backport the change for PHP 8 in the previous client versions.

[2020-12-17 19:22] host138 opened #1091 "SQL Endpoint"
### Summary of problem or feature request

Can't run SQL query from php client. From Kibana it's works.

### Code snippet of problem
[code]

I get the error:

```Fatal error: Uncaught Elasticsearch\Common\Exceptions\BadRequest400Exception: {"error":"Incorrect HTTP method for uri [/_sql] and method [POST], allowed: [GET, DELETE, HEAD, PUT]","status":405} in /var/www/html/vendor/elasticsearch/elasti

[2020-12-18 08:37] host138 commented on #1091
I found a temporary solution for the problem: If you replace the URI from /_sql to /_xpack/sql, then it works correctly in the
Elasticsearch\Endpoints\Sql\Query, in the return of getURI() method

[code]

[2020-12-18 10:13] JulieVelghe commented on #1088
Hi,
to connect we do this:

[code]
where our host is like this: https://elastic:xxxxxxx@60724656c51546f09a55d9db65a2a127.eu-central-1.aws.cloud.es.io:9243

Then the first thing we do when we get to the page in our craft admin is a ping:
[code]

I do want to note, this code works on other machines.

[2020-12-19 20:47] JulieVelghe commented on #1088
Is there perhaps some other program I need to have to be able to run this? Or any special php dll's? Or something to that extend?

[2020-12-31 12:03] tripleten opened #1094 "No alive nodes found in your cluster"
I am using Laravel 8 and Elasticsearch version 7.10.0, my environment details are below:

"php": "^7.3|^8.0",
"cviebrock/laravel-elasticsearch": "^8.0",
"elasticsearch/elasticsearch": "^7.10",
"fideloper/proxy": "^4.4",
"fruitcake/laravel-cors": "^2.0",
"guzzlehttp/guzzle": "^7.0.1",
"laravel/framework": "^8.12",
"laravel/tinker": "^2.5",
"laravel/ui": "^3.1",
"league/csv": "^9.6",
"spatie/laravel

[2021-01-05 11:46] dakorpar commented on #1083
any ETA on 7.11 release?

[2021-01-07 04:01] jchenrev commented on #1084
Will PHP support be backported to elasticsearch-php 6.x ?
Still using ES 6.

[2021-01-13 00:20] johnbburg opened #1097 "401 - Unauthorized Code Exception Handling"
### Summary of problem or feature request

Edit: Since posting this, I identified that this is addressed in 7.x, while I was working with 6.x.

I'm using the elasticsearch_connector Drupal module integration, and I am trying delete some indexes that were created, but no longer needed. I noticed that I am unable to delete these on the Drupal side, because Drupal will try to use this library to send

[2021-01-13 04:00] johnbburg commented on #1097
There already seems to be an exception class for this. https://github.com/elastic/elasticsearch-php/blob/master/src/Elasticsearch/Common/Exceptions/Unauthorized401Exception.php which seems unused on the 6.x
I am looking at. But is used on 7.x. So that would explain it.

I don't recall at this moment why I had opted for the 6.x branch, but I think there was some issue limiting my option here.

So t

[2021-01-13 04:22] jchenrev commented on #1084
OK for anyone interested, I found the answer here https://github.com/elastic/elasticsearch-php/issues/1083#issuecomment-747315216,
which is PHP 8 support won't be backported to elasticsearch-php 6.x and 5.x

[2021-01-14 17:33] ianengelbrecht commented on #1060
@ezimuel there is facet documentation for version 7.10 at [elastic.co/guide/en/app-search/current/facets.html](https://www.elastic.co/guide/en/app-search/current/facets.html). So I'm unclear whether I should use facets or aggregations if both are available.

[2021-01-14 18:56] ezimuel commented on #1060
@ianengelbrecht the documentation that you pointed out is for `Elastic App Search` and not `Elasticsearch`.

[2021-01-14 19:04] ezimuel commented on #1097
@johnbburg thanks for report this issue. I planned to release another version for 6.x branch that will be `6.8.0`. I already have another feature to backport, see the list [here](https://github.com/elastic/elasticsearch-php/milestone/15).
Are you interested in sending a PR for this feature? Please send to 6.x branch. Thanks!

[2021-01-14 21:29] ezimuel commented on #1094
@tripleten I'm not familiar with the `Elasticsearch` integration in `Laravel`, that said according to your configuration (.env) the `Elasticsearch\Client` needs the following parameter:
[code]
Are you sure the port is `9243`? Usually for AWS is the standard `443` (https).
Please give a try and let me know, thanks!

[2021-01-14 21:32] ezimuel commented on #1088
@JulieVelghe can you try to use the following configuration?
[code]
Moreover, are you sure the port is `9243`? Usually, it should be `443` (https) is the host is public.
Please give a try and let me know, thanks!

[2021-01-14 21:34] ezimuel commented on #1083
We are going to release 7.11 soon, it should happen this month.

[2021-01-14 21:48] johnbburg commented on #1097
@ezimuel yes, I can work on this. I have signed the contributor agreement. Though I am still very new to the workflow of this project. I'll do my best.

[2021-01-15 07:54] ezimuel commented on #1097
@johnbburg thanks a ton and don't worry if something is not clear yet. Let me know if you need any help. Thanks again!

[2021-01-15 14:53] johnbburg commented on #1097
Great, I think I have something ready. I attempted to run unit tests, but they seem like they might be a bit out of date. Several tests skipped with "All of Sniffing unit tests use outdated cluster state format, need to redo" and several tests with errors with "Function ReflectionType::__toString() is deprecate". This is running with PHP 7.4.3.

I assume I should just disregard these results for n

[2021-01-15 16:00] ezimuel commented on #1097
@johnbburg the skipped test with message `All of Sniffing...` are not relevant. I'm not sure about the other error messages. Anyway, I'll try to fix these and complete the unit tests, don't worry. Thanks!

[2021-01-25 12:46] cawoodm commented on #1014
Same here. Debugging I see that there is indeed a `GET /myindex/_source/` returning a  `405 Method Not Allowed` and the library is translating that message to `Incorrect HTTP method for uri [/myindex/_source/] and method [GET], allowed: [POST]`.

[2021-01-25 15:42] faridmovsumov commented on #1014
I solved this in the end by removing slash from my requests but this is super weird how it is started to giving errors out of nowhere. Contacted support about this but they said nothing changed on their side.

[2021-01-27 10:53] volkv commented on #1083
We still really hope so :)
Thanks!

[2021-01-28 12:40] Smokietr commented on #1094
Unfortunately I have the same problem and what I did did not work. I tried it separately on Amazon and Azure. I have used Elasticsearch before and it has huge problems with stability. Please pay more attention to this issue. As for my problem, I tried it as the URL.

Ex: https: // elastic: password @ host: port

I tried ports 443, 80, 9243 all. By the way, it works on localhost without any problem

[2021-01-28 14:03] ezimuel commented on #1094
@Smokietr I didn't undertstand if you are trying to connect to Elasticsearch using Amazon Elasticsearch Service or Elastic Cloud or if you have your custom Elasticsearch server running on Azure or AWS cloud. Regarding the debug issue, did you try to enable a logger to check for HTTP request and response? You can have a look [here](https://github.com/elastic/elasticsearch-php/blob/master/docs/confi

[2021-01-30 22:02] Smokietr commented on #1088
Try this if you are running on localhost. https://github.com/elastic/elasticsearch-php/pull/1101

[2021-02-03 14:43] tyteen4a03 commented on #1020
Bump

[2021-02-04 20:05] szepeviktor opened #1104 "Trailing whitespaces"
### Summary of problem or feature request

[`Squiz.WhiteSpace.SuperfluousWhitespace.EndLine`](https://github.com/elastic/elasticsearch-php/blob/35eab26b9fef0e216aa865ba8b8e871cb5177802/ruleset.xml#L5)

Why do you tolerate those spaces? The codebase is full of those.

`.editorconfig` may help, most IDE-s understand EditorConfig.

[2021-02-05 09:06] adithyasrinivasan commented on #1083
Sorry to be that person, but any luck?

I'm waiting on support for PHP8 so other libraries that [arbeitnow](https://arbeitnow.com) uses can update to it :)

Thanks!

[2021-02-05 09:33] ezimuel commented on #1083
@adithyasrinivasan, @volkv we are going to release 7.11 it very soon! Unfortunately, we had some delay.

[2021-02-05 11:28] JulieVelghe commented on #1088
I'm sorry for the late answer.
Just tried both solutions, each on it's own and together. Neither worked.
As to why the port is 9243, it is the endpoint i've copied from my cloud
elastic configuration.

Op za 30 jan. 2021 om 23:02 schreef Özgür Can KARAGÖZ <
notifications@github.com>:

--
<julie@cabinetc.be> *Julie Velghe*
Web Developer

Tondelierlaan 5 • 9000 Gent
t 09 310 20 70
julie@cabinetc.be

[2021-02-11 11:36] ezimuel commented on #1028
I implemented a first version of the HTTP transport layer for the next Elastic PHP clients: https://github.com/elastic/elastic-transport-php

[2021-02-11 11:37] ezimuel commented on #1083
I just released `elaticsearch-php` [7.11.0](https://github.com/elastic/elasticsearch-php/releases/tag/v7.11.0) that supports PHP 8.

[2021-02-11 11:40] adithyasrinivasan commented on #1083
Thanks @ezimuel - appreciate it, can't wait to upgrade!

[2021-02-11 11:43] ezimuel commented on #1083
Thanks to all the [contributors](https://github.com/elastic/elasticsearch-php/graphs/contributors)!

[2021-02-15 19:17] joshua-bn opened #1106 "Ping with exceptions"
### Summary of problem or feature request

Ping currently returns a boolean after swallowing the exceptions. I'd like to know why it failed so I can log that and take appropriate actions.

### Code snippet of problem

Instead of this
[code]

I want this:
[code]

Then, to save code, you can have `ping()` wrap `pingCheck()` (or whatever name). `ping()` would just catch the exceptions from `pingCheck

[2021-02-15 19:20] joshua-bn commented on #1106
I think the current version requires PHP 7.2 or something, so you could just use a union on all of those types or even just catch ElasticsearchException instead.

If there's a workaround for this for the time being, I'd love to hear it.

[2021-02-18 10:04] ezimuel commented on #1104
@szepeviktor thanks for reporting this. TBH this is not so relevant using my IDE but I recognize that this can be an issue for others. I'll change it.

[2021-02-19 22:13] cyrrill commented on #177
[code]

This is totally incorrect! That will actually launch a bulk command every single iteration, except when $i /1000 = 0.

What you really want is:
[code]

[2021-03-01 19:21] ezimuel commented on #1020
Just released [6.8.0](https://github.com/elastic/elasticsearch-php/releases/tag/v6.8.0) that includes the fix for this issue.

[2021-03-01 19:21] #1020 closed

[2021-03-02 22:09] jaredtking commented on #1030
I see this error with version `7.10.0` and PHP 7.4. In my case it manifests as a type error when there is a connection failure to an Elasticsearch host.

Here is the stack trace:
[code]

[2021-03-08 19:26] reedy opened #1112 "elasticsearch/elasticsearch 6.8.0 removes some classes, and doesn't leave aliases behind"
### Summary of problem or feature request

Downstream tasks: https://phabricator.wikimedia.org/T276854, https://phabricator.wikimedia.org/T276320 and https://github.com/ruflin/Elastica/issues/1908

Mentioned on https://github.com/elastic/elasticsearch-php/commit/2da5f9337a269113954a84fe8e79ea6843f0e7c3

In 6.8, at least `Elasticsearch\Endpoints\Indices\Aliases\Update` disappeared. Therefore trying

[2021-03-09 15:26] pmishev commented on #925
I've now had to come back to this after some time and the issue doesn't seem to be fixed:

[code]

`trace.log` contains:

[code]

Clearly the port is still missing from the URL. It should be:
`http://192.168.56.115:9200/_alias/blah`
not `http://192.168.56.115/_alias/blah`

This on `7.11.0`.
Am I missing something here?

[2021-03-12 09:42] pmishev opened #1113 "Request port missing from URL in log messages"
Likely related to #925, but since that one is close as fixed, I'm submitting a new issue, in case it's a different problem:

Version: 7.11.0

[code]

`trace.log` contains:

[code]

The port is still missing from the URLs. It should be:
`http://192.168.56.115:9200/_alias/blah`, not `http://192.168.56.115/_alias/blah`

[2021-03-19 08:40] feng99 commented on #1091
Will the insert and update functions work properly after the code is modified?

[2021-03-22 10:35] JulieVelghe commented on #1088
Hello, any new views on this? It is still an issue.

Op vr 5 feb. 2021 om 12:28 schreef Julie Velghe ***@***.***>:

--
***@***.***> *Julie Velghe*
Web Developer

Tondelierlaan 5 • 9000 Gent
t 09 310 20 70
***@***.*** • www.cabinetc.be

[2021-03-22 21:53] ezimuel commented on #1112
Just released [6.8.1](https://github.com/elastic/elasticsearch-php/releases/tag/v6.8.1) that fixes the issue.

[2021-03-22 21:53] #1112 closed

[2021-03-23 12:38] sewox opened #1120 "NoNodesAvailableException: No alive nodes found in your cluster"
### Summary of problem or feature request

Hi everyone,
I know it is often asked this issue.
Install Elasticsearch and PHP plugin  make basic configuration all times throw this exception

### Code snippet of problem

<?php

ini_set('display_errors', 1);
ini_set('display_startup_errors', 1);
error_reporting(E_ALL);

require 'vendor/autoload.php';

use Elasticsearch\ClientBuilder;

$hosts = [
    'h

[2021-03-26 12:00] mamsincl commented on #989
https://github.com/elastic/elasticsearch-php/pull/1121 for version 6.8.0 - function signature missing all type hinting

[2021-03-27 13:25] richgoldmd commented on #1088
In ElasticSearchPhpHandler.php we have this:
[code]

it also appears as if any client options (like skip SSL Verify) are dropped at this point as well (the reside in $request['client'] which is removed by the above method.

[2021-03-30 19:00] babenkoivan opened #1123 "Throw an exception on unsuccessful bulk operations"
### Summary of problem or feature request

Bulk API returns 200 status code even in case some operations have failed, but the response body contains a flag (`errors=false`), which can be used to identify the overall request result. See more details in [the official ES documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-bulk.html#bulk-api-response-body).

This is ver

[2021-04-02 08:42] ezimuel commented on #1113
@pmishev the issue seems to be in `Connection::buildCurlCommand()` since I don't pass the `port` value to build the cURL command.
The port value (`9200`) is reported in `response.transfer_stats.primary_port`. These are the DEBUG information reported by `cURL`. We removed the `port` in the `Host` because of this [issue](https://github.com/elastic/elasticsearch-php/pull/782#issuecomment-404875493).

[2021-04-08 02:15] cjw6k opened #1124 "Non-Determinism in Seeded PRNG w/ Default Configuration"
### Summary of problem or feature request
I can't say enough good things about the PHP client lib, you are all heroes.

PHP uses the Mersenne Twister algo for `shuffle()` and most of the simple random built-ins since v7.1, e.g. `rand()`, `array_rand()`, etc. Since v2.1.3 [[dc91938]](http://github.com/elasticsearch/elasticsearch-php/commit/dc91938) the elasticsearch-php client has included an optio

[2021-04-08 10:34] ezimuel commented on #1124
@cjw6k if I use [random_int()](https://www.php.net/manual/en/function.random-int.php) ro randomize the ConnectionPool instead of [shuffle()](https://www.php.net/manual/en/function.shuffle.php) I will not use the MT algorithm. Let me know if this will solve your issue. Very interesting issue, BTW! :smile:

[2021-04-08 18:17] ezimuel commented on #1120
@sewox can you paste the PHP code that you are using to connect to Elasticsearch? Thanks.

[2021-04-09 00:50] cjw6k commented on #1124
🤦

"I may choose to seed the PRNG again at this point, which gives me deterministic output ..." -- the entire time and this is a non-issue. What a day. 😆

[2021-04-09 00:50] #1124 closed

[2021-04-09 13:11] sewox commented on #1120
Hi @ezimuel,
we discussed on discuss.elasric.com. I had tried so many things, this [page](https://discuss.elastic.co/t/remote-access-available-but-local-access-not-available/268752/18) may give you an idea for the subject. On this page have log files and yml files
Thank you for answering

[2021-04-13 09:12] ezimuel commented on #1123
@babenkoivan Thanks for your feedback. I think this is a good idea but I need to find a nice way to prevent BC break. Maybe, as you suggested this can be an option, disabled by default.

[2021-04-13 09:28] ezimuel commented on #1120
I read all the [discussion](https://discuss.elastic.co/t/remote-access-available-but-local-access-not-available/268752/18) and it seems there's an issue with PHP itself in your environment. Can you try to execute the following code and report the output? Thanks!
[code]

[2021-04-14 02:12] lizhanghu opened #1125 "$this->client->updateByQuery($params); do not work correctly，error:Trying to create too many scroll contexts"
This is my code

[code]

[2021-04-14 10:32] ezimuel commented on #1113
@pmishev I juse sent this PR https://github.com/elastic/elasticsearch-php/pull/1126 to fix the issue. Let me know if you can try it, thanks!

[2021-04-15 08:09] #1125 closed

[2021-04-15 08:10] ezimuel commented on #1125
@lizhanghu it seems this is a bug that has been fixed in 7.7 (see https://github.com/elastic/elasticsearch/issues/56202). Can you try to update Elasticsearch and try again? Thanks!

[2021-04-15 08:18] lizhanghu commented on #1125
OK, now we have restarted the cluster and it is working properly and we are preparing to upgrade，thanks

[2021-04-15 08:58] patriziotomato commented on #1123
Hope this is fixed soon as not throwing an error results in a debugging hell. Thanks!

[2021-04-15 14:34] pmishev commented on #1113
Thank you @ezimuel. I tried it and as far as I can tell it works as expected.

[2021-04-16 13:07] sewox commented on #1120
Hi,
after execution output, this.
Thanks
`NoNodesAvailableException: No alive nodes found in your cluster array(2) {
  ["request"] => array(6) {
    ["http_method"] => string(3)
    "GET" ["scheme"] => string(4)
    "http" ["uri"] => string(1)
    "/" ["body"] => NULL["headers"] => array(5) {
      ["Host"] => array(1) {
        [0] => string(9)
        "localhost"
      } ["Content-Type"] => arra

[2021-04-16 17:45] ezimuel commented on #1120
@sewox from the output that you reported is reported a cURL error, as follows:
[code]
cURL is the default http client used by `elasticsearch-php`. This error means that the HTTP request is blocked by some firewall.
I sugget to have a look at the settings of your CentOS Linux distro (`3.10.0-1160.21.1.el7.x86_64`).
For instance, I found [this answer](https://stackoverflow.com/a/16839153) on stackov

[2021-04-18 11:59] sewox commented on #1120
Applying  those ways, worked this time
Thank you
after execution output, this.

`array(2) { ["request"]=> array(6) { ["http_method"]=> string(3) "GET" ["scheme"]=> string(4) "http" ["uri"]=> string(1) "/" ["body"]=> NULL ["headers"]=> array(5) { ["Host"]=> array(1) { [0]=> string(9) "localhost" } ["Content-Type"]=> array(1) { [0]=> string(16) "application/json" } ["Accept"]=> array(1) { [0]=> stri

[2021-04-18 12:01] #1120 closed

[2021-04-19 08:01] jetdky opened #1127 "Throw a ElasticsearchCommonExceptionsBadRequest400Exception When create a query"
### Summary of problem or feature request

Throw a ElasticsearchCommonExceptionsBadRequest400Exception When create a query

### Code snippet of problem
I created a new query using the following code,  occasionally throwing an exception like this

error type： Fatal error
error msg： Uncaught ElasticsearchCommonExceptionsBadRequest400Exception: {"error":{"root_cause":[{"type":"query_shard_exception",

[2021-04-21 13:01] ezimuel commented on #1113
Merged #1126 . This will be released with 7.13.0.

[2021-04-21 13:01] #1113 closed

[2021-04-23 13:52] feng99 opened #1130 "index function why not support array?"
### Summary of problem or feature request

### Code snippet of problem
![image](https://user-images.githubusercontent.com/13182572/115881427-50997180-a47e-11eb-8a3f-703a184763c1.png)
dsl  ,this is ok.

[code]
err log
[code]

### System details

- Operating System
- PHP Version
- 7.3
- ES-PHP client version
- 6.*
- Elasticsearch version
-6.8

[2021-04-23 21:14] kbond opened #1131 "[6.8.x] ForceMerge renamed to Forcemerge"
### Summary of problem or feature request

`Elasticsearch\Endpoints\Indices\ForceMerge` was renamed to `Elasticsearch\Endpoints\Indices\Forcemerge` [here](https://github.com/elastic/elasticsearch-php/commit/2da5f9337a269113954a84fe8e79ea6843f0e7c3#diff-c4834c4ebd492607a0af1ab55c7575c6a84323f8be87ca6f7f8833cf4ffc2675).

Reference: https://github.com/ruflin/Elastica/pull/1947#issuecomment-804969412